@{

    ViewData["Title"] = "Tài liệu tham khảo";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
    var myClasses = ViewBag.AllClass as List<BaseCustomerEntity.Database.ClassEntity>;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string proccesUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}

<script>
    setActiveMenu("reference");
</script>

<section class="module" id="dashboard_content">
    <div class="h4 m-3" v-cloak cloak-holder>
        <i class="fas fa-sync fa-spin"></i> Đang nạp dữ liệu ...
    </div>
    <div class="card-header" v-cloak>
        <div class="flex border-b padding-b25">
            <div class="width-100 flex">
                <div class="box filter-box w-152">
                    <select v-model="range">
                        <option value="">-- Tất cả tài liệu --</option>
                        <option value="@BaseCustomerEntity.Database.REF_RANGE.ALL">Chung</option>
                        <option value="@BaseCustomerEntity.Database.REF_RANGE.CLASS">Lớp</option>
                        @*<option value="@BaseCustomerEntity.Database.REF_RANGE.CLASSSUBJECT">Môn</option>*@
                    </select>
                </div>
                <div class="box filter-box w-152" v-if="range=='@BaseCustomerEntity.Database.REF_RANGE.CLASS'">
                    <select v-model="target">
                        <option value="">-- Chọn lớp --</option>
                        @if (myClasses != null && myClasses.Count > 0)
                        {
                            foreach (var _class in myClasses)
                            {
                                <option value="@_class.ID">@_class.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="search-box mr-2">
                    <button><i class="ic ic-find"></i></button>
                    <input type="text" name="" v-model="searchTerm" placeholder="Tên tài liệu">
                </div>
            </div>

            <b-button class="btn-addevent" v-on:click="showAddModal()"><i class="ti-plus"></i></b-button>
        </div>
    </div>
    <div class="card-body" v-cloak>
        <div class="row ls-doc" v-if="tableData.length > 0">
            <div class="col-md-12" v-for="data in tableData">
                <div class="inner flex">
                    <a href="#" title="" class="thumb">
                        <img src="/pictures/doc1.png" alt="">
                    </a>
                    <div class="entry">
                        <div>
                            <div>
                                <a href="#" title="" class="title">{{data.Title}}</a>
                            </div>
                            <div>
                                <div class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></div>
                                <div class="author pt-2"><i class="icofont icofont-teacher"></i> {{data.OwnerName}}</div>
                            </div>
                        </div>
                        <div class="pt-2 pb-2">
                            <p>{{domDecoder(data.Description)}}</p>
                        </div>
                        <div>
                            <a href="#" title="Xem" class="btn-view btn-success" v-on:click="openLink(data)" v-if="data.Link != null && data.Link.length > 0">Xem ({{data.Viewed}})</a>
                            <a href="#" v-if="data.Media != null" v-on:click="download(data)" :title="data.Media.Name" class="btn-download btn-info">Tải về ({{data.Downloaded}})</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ls-doc text-center d-block" v-else>
            Không có tài liệu
        </div>
        <div class="box margin-t20 flex" v-if="tableData.length > 0">
            <div class="paging-view">
                Hiển thị:
                <select v-model="view" v-on:change="getData()">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="right">
                    <b-pagination v-model="page"
                                  :total-rows="totalRec"
                                  :per-page="view"
                                  v-on:input="getData()"></b-pagination>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        new Vue({
            el: "#main",
            mounted() {
                this.getData()
            },
            data: {
                isLoading: false,
                range: '@BaseCustomerEntity.Database.REF_RANGE.ALL',
                target: '',
                searchTerm: '',
                tableData: [],
                view: 30,
                totalRec: 0,
                page: 1,
                addItem: {
                            ID: '',
                            Title: '',
                            Range: '',
                            Link: '',
                            Target: '',
                            Description: '',
                            FileName: '',
                            file: null,
                        }
            },
            watch : {
                searchTerm: function(){
                    if(this.searchTimeout != null)
                        clearTimeout(this.searchTimeout)
                    var fn = this.getData
                    this.searchTimeout = setTimeout(function(){
                        fn()
                    }, 500)
                },
                range: function(){
                    this.getData()
                },
                target: function(){
                    this.getData()
                }
            },
            methods: {
                getData() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('SearchText', _that.searchTerm)
                    _form.append('Range', _that.range)
                    _form.append('Target', _that.target)
                    _form.append('PageSize', _that.view)
                    _form.append('PageIndex', _that.page)

                    let _url = '@proccesUrl("GetList", "Reference")'

                    axios.post(_url, _form)
                        .then(response => {
                            _that.tableData = response.data.Data;
                            this.tableData = _that.tableData
                            this.totalRec = response.data.Model.totalRecord
                            console.log(totalRec)
                            //var tt = response.data.Model.totalRecord;
                            //this.max_page = tt / this.view + (tt % this.view > 0 ? 1 : 0);
                            //console.log(_that.active_course);
                        }).catch(e => { })
                },
                openLink(obj) {
                    obj.Viewed = obj.Viewed + 1;
                    window.open('@proccesUrl("OpenLink", "Reference")/' + obj.ID);
                },
                download(obj) {
                    if (obj.Media == null)
                        return false;
                    obj.Downloaded = obj.Downloaded + 1;
                    window.open('@proccesUrl("Download", "Reference")/' + obj.ID);
                },
                domDecoder(str) {
                    let parser = new DOMParser();
                    let dom = parser.parseFromString('<!doctype html><body>' + str, 'text/html');
                    return dom.body.textContent;
                },
                shortenString(str) {
                    if (str == null || str.length <= 15)
                        return "";
                    return str.substring(0, 15) + "..."
                },
                hideModal() {
                    $('.close').click();
                },
            }
        });
    </script>
}
