@using BaseCustomerMVC.Controllers.Student
@{
    ViewData["Title"] = "Discussion";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
    var classList = ViewBag.Data as List<ClassInfo>;
    var listStudent = ViewBag.Students as List<MemberInfo>;
    var teacher = ViewBag.Teacher as BaseCustomerMVC.Controllers.Student.MemberInfo;
    string id = ViewBag.ID as string;
    int State = 0;
    if (!string.IsNullOrEmpty(id)) { State = 1; };
    int numberStudent = listStudent == null ? 0 : listStudent.Count;
    int numberTeacher = teacher == null ? 0 : 1;
    int total = numberStudent + numberTeacher;
    var currentClass = ViewBag.Class as ClassInfo;
}
<script>
    var activeTab = "comments";
</script>
<style>
    #form-post .file-media {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        margin: auto;
    }

    #form-post .media-preview {
        position: absolute;
        max-height: 80px;
        max-width: 100%;
        top: -80px;
        padding: 5px;
        overflow: hidden;
    }

    #form-post {
        position: relative;
    }

        #form-post .box-content-view-media > img {
            max-width: 100%;
            max-height: 100%;
        }

        #form-post .box-content-view-media {
            display: inline-block;
            width: 100%;
            height: 80px;
        }

        #form-post .box-view-media {
            position: relative;
        }

        #form-post .btn-remove {
            position: absolute;
            right: 0;
            background: #fff;
        }

    .list-member {
        height: 500px;
        max-height: 100%;
        overflow: auto;
    }

    .content-title-post {
        padding: 10px 0px 15px 33px;
        font-weight: 500;
        color: #51bfe5;
        font-size: 17px;
    }

    .media-post {
        padding: 5px 30px;
    }

    .box-search {
        width: 100%;
    }

        .box-search > select {
            border-radius: 5px;
            padding: 10px 10px;
            font-size: 0.85em;
            border-color: #7cc6f1;
        }

    .form-group-search {
        position: relative;
    }

        .form-group-search .icon-search {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            width: 30px;
            height: 28px;
            margin: auto;
        }

    .input-search {
        width: 100%;
        border-radius: 5px;
        padding: 5px 10px;
        padding-left: 40px;
        box-shadow: none;
        border: 1px solid #7cc6f1;
    }

    .user-info-post {
        padding: 10px 0;
    }

    .info-user .avatar-user, .info-user .name {
        display: inline-block;
        font-weight: 600;
    }

    .info-user .name {
        padding-left: 5px;
    }

    .user-info-post .text-time {
        color: #ccc;
    }

    .item-feed {
        margin-bottom: 10px;
    }

    .item-feed .content-post {
        padding-left: 30px;
        text-align: justify;
    }

    .item-feed .extends-post > a {
        color: #D03239;
        padding: 5px;
        padding-left: 30px;
        font-size: 0.85em;
    }

    .item-feed .extends-post > a:hover, .item-feed .extends-post > a:active {
        text-decoration: none;
    }
    .item-feed.item-comment.chude {
        background: #7cc6f13b;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1.05em;
    }

    .list-new-feeds, .body-comment {
        padding: 10px;
        max-height: 80%;
        height: calc(100vh - 252px);
        overflow: auto;
        overflow-x: hidden;
    }

    .body-comment {
        min-height: calc(100vh - 245px);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: #fff;
    }

    .inf-group .img-group {
        position: relative;
        padding-bottom: 35%;
        border-bottom: 1px solid #ccc;
    }

        .inf-group .img-group > img {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

    .inf-group .name {
        color: #D03239;
        font-weight: 600;
        font-size: 1.25em;
        padding: 10px 5px;
    }

    .inf-group .number-member > svg {
        margin-top: -3px;
        position: relative;
    }

    .inf-group .number-member {
        font-size: 1em;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        width: 95%;
        margin: auto;
    }

    .list-member > .info-user {
        padding: 15px;
    }

    #comment-box-new-feed {
        display: none;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2px;
    }

        #comment-box-new-feed.open {
            display: block;
            height: 68vh;
            z-index: 3;
            background: #fff;
        }

        #comment-box-new-feed > .header {
            padding: 10px;
            background: #7cc6f1;
            position: relative;
        }

            #comment-box-new-feed > .header > .btn-close {
                border: 0;
                box-shadow: none;
                background: transparent;
                position: absolute;
                right: 5px;
                top: 6px;
            }
</style>
<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <div class="box-search">
                <select class="group-list float-left" id="choosen-group">
                    <option value="">------ Chọn khóa học -------</option>
                    @for (int i = 0; classList != null && i < classList.Count; i++)
                    {
                        var item = classList[i];
                        if (item.ID == ViewBag.ID)
                        {
                            <option selected value="@item.ID">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="search-box">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row margin-b20">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <div class="list">
                            <div id="list-book-mard"></div>
                            <div id="list-news-record"></div>
                            <div id="list-news-old-@id" class="list-new-feeds">

                            </div>
                            @{ if (currentClass != null && currentClass.IsAllow)
                                {
                                    <div id="form-post">
                                        <div class="media-preview"></div>
                                        <div class="header-form-post">
                                            <input class="form-control" name="Title" placeholder="Nội dung chủ đề" tabindex="1" required />
                                        </div>
                                        <br />
                                        <textarea tabindex="2" rows="3" class="form-control" placeholder="Nội dung thảo luận" style="border-radius: 3px;resize: none;background: #F0F3F4;"></textarea>
                                        <input type="file" name="NewFeedMedia" style="display:none" />
                                        <button class="file-media"><img src="~/images/jpg.png" /></button>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="position-relative w-100">
                            <div id="comment-box-new-feed" class="position-absolute">
                                <input type="hidden" value="" name="ParentID" />
                                <div class="header">
                                    <span id="chudethaoluan">chủ đề thảo luận</span>
                                    <button class="btn-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.04791 1.57179C0.540802 2.07896 0.540803 2.90125 1.04791 3.40842L5.63841 7.99951L1.04695 12.5916C0.539849 13.0987 0.53985 13.921 1.04696 14.4282L1.57164 14.9529C2.07874 15.4601 2.90092 15.4601 3.40803 14.9529L7.99949 10.3609L12.5909 14.9529C13.098 15.4601 13.9202 15.4601 14.4273 14.9529L14.952 14.4282C15.4591 13.921 15.4591 13.0987 14.952 12.5916L10.3606 7.99951L14.9511 3.40842C15.4582 2.90124 15.4582 2.07896 14.9511 1.57179L14.4264 1.04704C13.9193 0.539864 13.0971 0.539864 12.59 1.04704L7.99949 5.63813L3.40898 1.04703C2.90188 0.539864 2.0797 0.539864 1.57259 1.04704L1.04791 1.57179Z" fill="#4E6774" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="body-comment"></div>
                                @{ if (currentClass != null && currentClass.IsAllow)
                                    {
                                        <div class="form-comment" id="form-comment">
                                            <textarea rows="3" style="padding-right: 70px;border-radius: 3px;resize: none;background: #F0F3F4;" class="form-control" placeholder="nội dung trả lời"></textarea>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="box-info-contact">
                            <div class="inf-group">
                                <div class="img-group"></div>
                                <div class="name" id="GroupName">@currentClass?.Name</div>
                                <span class="number-member">
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.00031 7.02866C3.53863 7.02866 2.3536 5.60029 2.3536 3.83829C2.3536 2.07626 2.74266 0.647888 5.00031 0.647888C7.25796 0.647888 7.64709 2.07626 7.64709 3.83829C7.64709 5.60029 6.46206 7.02866 5.00031 7.02866Z" fill="#839AA6" />
                                        <path d="M9.99948 11.9003C9.99993 11.792 10.0004 11.8698 9.99948 11.9003V11.9003Z" fill="#839AA6" />
                                        <path d="M0.00134277 11.9838C-7.21334e-05 11.9545 0.000858726 11.78 0.00134277 11.9838V11.9838Z" fill="#839AA6" />
                                        <path d="M0.00732803 11.771C0.0563459 8.7016 0.460285 7.82698 3.55135 7.27335C3.55135 7.27335 3.98647 7.82359 5.00063 7.82359C6.0148 7.82359 6.44999 7.27335 6.44999 7.27335C9.50732 7.82094 9.93583 8.68259 9.99217 11.6713C9.99679 11.9154 9.99893 11.9282 9.99976 11.8999C9.99957 11.953 9.99934 12.0511 9.99934 12.2224C9.99934 12.2224 9.26343 13.6946 5.00063 13.6946C0.737905 13.6946 0.00191879 12.2224 0.00191879 12.2224C0.00191879 12.1123 0.00184345 12.0359 0.00173092 11.9838C0.00255775 12.0013 0.00421047 11.9674 0.00732803 11.771Z" fill="#839AA6" />
                                    </svg> @total thành viên
                                </span>
                            </div>
                            <div class="list-member">
                                @{
                                    if (teacher != null)
                                    {
                                        <div class="info-user">
                                            <div class="avatar-user">
                                                <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                                    <path d='M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z' fill='#7CC6F1' />
                                                    <path d='M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z' fill='white' />
                                                </svg>
                                            </div>
                                            <div data-email="@teacher.Email" class="name">@teacher.Name (Giáo viên)</div>
                                        </div>
                                    }
                                    if (numberStudent > 0)
                                    {
                                        for (int i = 0; i < numberStudent; i++)
                                        {
                                            var itemStudent = listStudent[i];
                                            <div class="info-user">
                                                <div class="avatar-user">
                                                    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                                        <path d='M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z' fill='#7CC6F1' />
                                                        <path d='M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z' fill='white' />
                                                    </svg>
                                                </div>
                                                <div data-email="@itemStudent.Email" class="name">@itemStudent.Name</div>
                                            </div>
                                        }
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    @section Scripts{
        <script>
        $("#choosen-group").on("change", function () {
            var value = $(this).val();
            if (value == null || value == "") {
                window.location.href = '@Url.Action("Index", "Discuss", new { @area = "student" })';
            } else {
                var url = window.location.pathname;
                var search = window.location.search;
                if (search != null && search != "") {
                    var isHasID = false;
                    var arr = search.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        var text = arr[i];
                        if (text.startsWith('?')) {
                            var removeStr = text.replace("?", "");
                            if (removeStr.split("=")[0] == "id") {
                                url += '?id=' + value;
                                isHasID = true;
                            } else {
                                url += text;
                            }
                        }
                        else {
                            if (text.split("=")[0] == "id") {
                                url += '&id=' + value;
                                isHasID = true;
                            } else {
                                url += '&' + text;
                            }
                        }
                    }
                    if (isHasID == false) {
                        url += '&id=' + value;
                    }
                }
                else {
                    url += "?id=" + value;
                }
                window.location.href = url;
            }
        });
        $("#input-search-content").on("click", function () {
            var value = $("#search-text").val();
            if (value == null || value == "") {
                window.location.href = '@Url.Action("Index", "Discuss", new { @area = "student" })';
            } else {
                var url = window.location.pathname;
                var search = window.location.search;
                if (search != null && search != "") {
                    var isHasID = false;
                    var arr = search.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        var text = arr[i];
                        if (text.startsWith('?')) {
                            var removeStr = text.replace("?", "");
                            if (removeStr.split("=")[0] == "searchtext") {
                                url += '?searchtext=' + value;
                                isHasID = true;
                            } else {
                                url += text;
                            }
                        }
                        else {
                            if (text.split("=")[0] == "searchtext") {
                                url += '&searchtext=' + value;
                                isHasID = true;
                            } else {
                                url += '&' + text;
                            }
                        }
                    }
                    if (isHasID == false) {
                        url += "&searchtext=" + value;
                    }
                } else {
                    url += "?searchtext=" + value;
                }
                window.location.href = url;
            }
        });
        $("#search-text").on("keypress", function (e) {
            if (e.which == 13) {
                $("#input-search-content").click();
            }
        });
        var loadData = function (pageIndex) {
            $.ajax({
                url: "@Url.Action("GET", "NewFeed")/?id=&receivers=@id&State=@State&pagesize=10&pageindex="+pageIndex,
                type: "GET",
                success: function (data) {
                    if (data.code == 200) {
                        var listItem = data.data;
                        if (listItem != null && listItem.length > 0) {
                            for (var i = 0; i < listItem.length; i++) {
                                var item = listItem[i];
                                var media = "";
                                var title = "";
                                if (item.medias.length > 0) {
                                    media = `<div class="media-post"><img src="${item.medias[0].path}" /></div>`;
                                }
                                if (item.title != void 0 && item.title != "") {
                                    title = `<div class="content-title-post">${item.title}</div>`;
                                }
                                var html = `<div class="item-feed" id="${item.ID}">
                                    <div class="user-info-post">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="info-user">
                                                    <div class="avatar-user">
                                                        <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                                            <path d='M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z' fill='#7CC6F1' />
                                                            <path d='M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z' fill='white' />
                                                        </svg>
                                                    </div><div class="name">${item.name}</div></div></div>
                                            <div class="col-lg-5"><span class="float-right text-time">${formatDate(item.created)}</span></div></div></div>${title}${media}
                                    <div class="content-post">${item.content}</div>
                                    <div class="extends-post"></div>
                                </div>`;
                                loadCountComment(item.ID);
                                var strId = item.receivers[0] == null || item.receivers[0] == "" || item.receivers[0] == void 0 ? "" : item.receivers[0];
                                $("#list-news-old-"+strId).append(html);
                            }
                        }
                    }
                }
            })
        }
        loadData(0);
        var formatDate = function (dt) {
            var dateTime = new Date(dt);
            return `${dateTime.getHours()}:${dateTime.getMinutes()}, ${dateTime.getDate()}/${(dateTime.getMonth() + 1)}/${dateTime.getFullYear()}`;
        }
        var loadCountComment = function (id) {
             $.ajax({
                url: "@Url.Action("GetCount", "Comment")?newFeedId="+id,
                type: "GET",
                 success: function (data) {
                    var str = `<a href="javascript:void(0)" onclick="openChat('${id}')">
                                        <span id="number-comment-${id}">0</span> trả lời <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.98419 0.46476L7.16617 3.64674C7.36144 3.842 7.36144 4.15859 7.16617 4.35385L3.98419 7.53583C3.78893 7.73109 3.47235 7.73109 3.27709 7.53583C3.08183 7.34057 3.08183 7.02398 3.27709 6.82872L5.60551 4.50029L1.18762 4.50029C0.91148 4.50029 0.687622 4.27644 0.687622 4.00029C0.687622 3.72415 0.91148 3.50029 1.18762 3.50029L5.60551 3.50029L3.27709 1.17187C3.08183 0.976605 3.08183 0.660022 3.27709 0.46476C3.47235 0.269498 3.78893 0.269498 3.98419 0.46476Z" fill="#D03239" />
                                        </svg>
                                    </a>`;
                     if (data.code == 200) {
                         str = `<a href="javascript:void(0)" onclick="openChat('${id}')">
                                        <span id="number-comment-${id}">${data.data}</span> trả lời <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.98419 0.46476L7.16617 3.64674C7.36144 3.842 7.36144 4.15859 7.16617 4.35385L3.98419 7.53583C3.78893 7.73109 3.47235 7.73109 3.27709 7.53583C3.08183 7.34057 3.08183 7.02398 3.27709 6.82872L5.60551 4.50029L1.18762 4.50029C0.91148 4.50029 0.687622 4.27644 0.687622 4.00029C0.687622 3.72415 0.91148 3.50029 1.18762 3.50029L5.60551 3.50029L3.27709 1.17187C3.08183 0.976605 3.08183 0.660022 3.27709 0.46476C3.47235 0.269498 3.78893 0.269498 3.98419 0.46476Z" fill="#D03239" />
                                        </svg>
                                    </a>`;

                    }
                     $("#" + id + " .extends-post").html(str);
                }
            });
        }
        var openChat = function (id) {
            var chude = "";
            var media = "";
            var root = document.getElementById(id);
            if (root != null) {
                var title = root.querySelector(".content-title-post");
                if (title != null) {
                    chude = title.innerHTML;
                }
                var htmlMedia = root.querySelector(".media-post");
                if (htmlMedia != null) {
                    media = htmlMedia.outerHTML;
                }
            }
            var ojChat = document.getElementById("comment-box-new-feed");
            ojChat.classList.add("open");
            ojChat.querySelector("input[name='ParentID']").value = id;
            ojChat.querySelector(".body-comment").innerHTML = `<div class="item-feed item-comment chude">
                                    <div class="content-post">
                                        ${chude} ${media}
                                    </div>
                                </div>`;
            $.ajax({
                url: "@Url.Action("Get", "Comment")?parentID=" + id+"&IsReply=false",
                type: "GET",
                success: function (data) {
                    if (data.code == 200) {
                        for (var i = 0; i < data.data.length; i++) {
                            var item = data.data[i];
                            var html = `<div class="item-feed item-comment">
                                    <div class="user-info-post">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-user">
                                                    <div class="avatar-user">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z" fill="#7CC6F1"></path>
                                                            <path d="M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z" fill="white"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="name">${item.name}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-post">
                                        ${item.content}
                                    </div>
                                </div>`;
                            ojChat.querySelector(".body-comment").innerHTML += html;
                        }
                    }
                }
            });
        }
        //string title,string content,int state,HashSet<string> receivers

        $("#comment-box-new-feed>.header>.btn-close").click(function () {
            var ojChat = document.getElementById("comment-box-new-feed");
            ojChat.querySelector("input[name='ParentID']").value = "";
            ojChat.classList.remove("open");
        });


        </script>
        @{ if (currentClass != null && currentClass.IsAllow)
            {
                <script>

                var filesList = {};
                $("#form-post>button.file-media").click(function () {
                    $("#form-post>input[type='file']").click();
                });
                var formPost = document.getElementById("form-post");
                if (formPost != null) {
                    var previewMedia = formPost.querySelector('.media-preview');
                    var inputFile = formPost.querySelector("input[type='file']");
                    if (inputFile != null) {
                        inputFile.onchange = function () {
                            var files = inputFile.files;
				            for(var i = 0; i < files.length;i++){
					            var file = files[i];
					            if(file != null){
						            var id = generateId();
						            var url = createBlodUrl(file);
						            filesList[id] = file;
						            if(previewMedia.childNodes.length >= 5){
							            previewMedia.appendChild(createBoxMedia(id,url,file.type,true));
						            }else{
							            previewMedia.appendChild(createBoxMedia(id,url,file.type,false));
						            }
					            }
				            }
                        }
                    }
                }
                var createNewFeed = function (msg) {
                    if (msg.trim() == "") return;
                    var Title = "";
                    if (formPost != null) {
                        Title = formPost.querySelector("input[name='Title']").value;
                        if (Title.trim() == "") return;
                    }
                    var keys = Object.keys(filesList);
                    var dataForm = new FormData();
                    dataForm.append("title",Title);
                    dataForm.append("content", msg);
                    dataForm.append("state", @State);
                    dataForm.append("receivers", ['@ViewBag.ID']);
                    if (keys != null && keys != void 0) {
                        for (var i = 0; i < keys.length; i++) {
                            var key = keys;
                            dataForm.append("file", filesList[key]);
                        }
                        if (_ajax != void 0) {
                            _ajax.proccess("POST", "@Url.Action("CREATE", "NewFeed")", dataForm).then(function (res) {
                                var data = JSON.parse(res);
                                if (connection != void 0) {
                                    var item = data.data;
                                    var strId = item.receivers[0] == null || item.receivers[0] == "" || item.receivers[0] == void 0 ? "" : item.receivers[0];
                                    if (strId == "") {
                                        connection.invoke("SendToGroup", { type: "newfeed", obj: data }, 'Online');
                                    } else {
                                        connection.invoke("SendToGroup", { type: "newfeed", obj: data }, 'newfeed-' + strId);
                                    }
                                }
                            })
                        }
                    }
                }
                var createComment = function (content, id) {
                    if (content.trim() == "") return;
                    $.ajax({
                        url: "@Url.Action("CREATE", "Comment")",
                        type: "POST",
                        data: {
                            content: content,
                            parentID:id
                        },
                        success: function (data) {
                            if ('@ViewBag.ID' == "" || '@ViewBag.ID' == null || '@ViewBag.ID' == void 0) {
                                connection.invoke("SendToGroup", { type: "comment", obj: data }, 'Online');
                            } else {
                                connection.invoke("SendToGroup", { type: "comment", obj: data }, 'newfeed-@ViewBag.ID');
                            }
                        }
                    })
                }
                $("#form-comment>textarea").on("keypress", function (e) {
                    if (e.which == 13) {
                        createComment($(this).val(), document.getElementById("comment-box-new-feed").querySelector("input[name='ParentID']").value);
                        $(this).val("");
                    }
                })
                $("#form-post>textarea").on("keypress", function (e) {
                    if (e.which == 13) {
                        createNewFeed($(this).val());
                        $(this).val("");
                        if (formPost != null) {
                            formPost.querySelector("input[name='Title']").value = "";
                            formPost.querySelector("input[type='file']").value = "";
                            filesList = {};
                            var previewMedia = formPost.querySelector('.media-preview');
                            if (previewMedia != null) {
                                previewMedia.innerHTML = "";
                            }
                        }
                    }
                })
                </script>
            }
        }
    }
