@using BaseCustomerMVC.Controllers.Student
@{
    ViewData["Title"] = "Discussion";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
    var classList = ViewBag.Data as List<ClassInfo>;
    var listStudent = ViewBag.Students as List<MemberInfo>;
    var teacher = ViewBag.Teacher as BaseCustomerMVC.Controllers.Student.MemberInfo;
    string id = ViewBag.ID as string;
    int State = 0;
    if (!string.IsNullOrEmpty(id)) { State = 1; };
    int numberStudent = listStudent == null ? 0 : listStudent.Count;
    int numberTeacher = teacher == null ? 0 : 1;
    int total = numberStudent + numberTeacher;
    var currentClass = ViewBag.Class as ClassInfo;
}
<script>
    setActiveMenu("discussion");
</script>
<style>
    #form-post .file-media, .form-comment .file-media {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        margin: auto;
    }

    #form-comment .media-preview, #form-post .media-preview, .form-comment .media-preview {
        position: absolute;
        max-height: 80px;
        max-width: 100%;
        top: -80px;
        padding: 5px;
        overflow: hidden;
    }

    #form-post, .form-comment {
        position: relative;
    }

        #form-comment .box-content-view-media > img, #form-post .box-content-view-media > img {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            width: auto;
        }

        #form-post .box-content-view-media, #form-comment .box-content-view-media {
            display: inline-block;
            width: 100%;
            height: 80px;
        }

        #form-post .box-view-media {
            position: relative;
        }

        #form-post .btn-remove, #form-comment .btn-remove {
            position: absolute;
            right: 0;
            background: #fff;
        }

    .list-member {
        height: 500px;
        max-height: 100%;
        overflow: auto;
    }

    .content-title-post {
        padding: 10px 0px 15px 33px;
        font-weight: 500;
        color: #51bfe5;
        font-size: 17px;
    }

    .media-post {
        padding: 5px 30px;
    }

    .item-feed .media-post > img, .item-comment .media-post > img {
        width: auto;
    }

    .box-search {
        width: 100%;
    }

        .box-search > select {
            border-radius: 5px;
            padding: 10px 10px;
            font-size: 0.85em;
            border-color: #7cc6f1;
        }

    .form-group-search {
        position: relative;
    }

        .form-group-search .icon-search {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            width: 30px;
            height: 28px;
            margin: auto;
        }

    .input-search {
        width: 100%;
        border-radius: 5px;
        padding: 5px 10px;
        padding-left: 40px;
        box-shadow: none;
        border: 1px solid #7cc6f1;
    }

    .user-info-post {
        padding: 10px 0;
    }

    .info-user .avatar-user, .info-user .name {
        display: inline-block;
        font-weight: 600;
    }

    .info-user .name {
        padding-left: 5px;
    }

    .user-info-post .text-time {
        color: #ccc;
    }

    .item-feed {
        margin-bottom: 10px;
        padding: 5px 10px;
    }

        .item-feed:hover, .item-feed.active {
            box-shadow: 0 0 10px #ccc;
        }

        .item-feed .content-post {
            padding-left: 30px;
            text-align: justify;
        }

    .body-comment .item-feed .content-post {
        padding-left: 0;
    }

    .item-feed .extends-post > a {
        color: #D03239;
        padding: 5px;
        padding-left: 30px;
        font-size: 0.85em;
    }

        .item-feed .extends-post > a:hover, .item-feed .extends-post > a:active {
            text-decoration: none;
        }

    .item-feed.item-comment.chude {
        background: #7cc6f13b;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1.05em;
    }

    .list-new-feeds, .body-comment {
        padding: 10px;
        max-height: 80%;
        height: calc(100vh - 252px);
        overflow: auto;
        overflow-x: hidden;
    }

    .body-comment {
        min-height: calc(100vh - 245px);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: #fff;
    }

    .inf-group .img-group {
        position: relative;
        padding-bottom: 35%;
        border-bottom: 1px solid #ccc;
    }

        .inf-group .img-group > img {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

    .inf-group .name {
        color: #D03239;
        font-weight: 600;
        font-size: 1.25em;
        padding: 10px 5px;
    }

    .inf-group .number-member > svg {
        margin-top: -3px;
        position: relative;
    }

    .inf-group .number-member {
        font-size: 1em;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        width: 95%;
        margin: auto;
    }

    .list-member > .info-user {
        padding: 15px;
    }

    #comment-box-new-feed {
        display: none;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2px;
    }

        #comment-box-new-feed.open {
            display: block;
            height: 68vh;
            z-index: 3;
            background: #fff;
        }

        #comment-box-new-feed > .header {
            padding: 10px;
            background: #7cc6f1;
            position: relative;
        }

            #comment-box-new-feed > .header > .btn-close {
                border: 0;
                box-shadow: none;
                background: transparent;
                position: absolute;
                right: 5px;
                top: 6px;
            }
</style>
<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <div class="box-search">
                <select class="group-list float-left" id="choosen-group">
                    <option value="">------ Chọn lớp -------</option>
                    @for (int i = 0; classList != null && i < classList.Count; i++)
                    {
                        var item = classList[i];
                        string Allow = item.IsAllow ? "Active" : "Off";
                       
                        if (item.ID == ViewBag.ID)
                        {
                            <option selected value="@item.ID">@item.Name (@Allow)</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.Name (@Allow)</option>
                        }
                    }
                </select>
            </div>
            <div class="search-box">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row margin-b20">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <div class="list">
                            <div id="list-book-mard"></div>
                            <div id="list-news-record"></div>
                            <div id="list-news-old-@id" class="list-new-feeds">

                            </div>
                            @{ if (currentClass != null && currentClass.IsAllow)
                                {
                                    <div id="form-post">
                                        <div class="media-preview"></div>
                                        <div class="header-form-post">
                                            <input class="form-control" name="Title" placeholder="Nội dung chủ đề" tabindex="1" required />
                                        </div>
                                        <br />
                                        <textarea tabindex="2" rows="3" class="form-control" placeholder="Nội dung thảo luận" style="border-radius: 3px;resize: none;background: #F0F3F4;"></textarea>
                                        <input type="file" name="NewFeedMedia" style="display:none" />
                                        <button class="file-media"><img src="~/images/jpg.png" /></button>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="position-relative w-100">
                            <div id="comment-box-new-feed" class="position-absolute">
                                <input type="hidden" value="" name="ParentID" />
                                <div class="header">
                                    <span id="chudethaoluan">chủ đề thảo luận</span>
                                    <button class="btn-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.04791 1.57179C0.540802 2.07896 0.540803 2.90125 1.04791 3.40842L5.63841 7.99951L1.04695 12.5916C0.539849 13.0987 0.53985 13.921 1.04696 14.4282L1.57164 14.9529C2.07874 15.4601 2.90092 15.4601 3.40803 14.9529L7.99949 10.3609L12.5909 14.9529C13.098 15.4601 13.9202 15.4601 14.4273 14.9529L14.952 14.4282C15.4591 13.921 15.4591 13.0987 14.952 12.5916L10.3606 7.99951L14.9511 3.40842C15.4582 2.90124 15.4582 2.07896 14.9511 1.57179L14.4264 1.04704C13.9193 0.539864 13.0971 0.539864 12.59 1.04704L7.99949 5.63813L3.40898 1.04703C2.90188 0.539864 2.0797 0.539864 1.57259 1.04704L1.04791 1.57179Z" fill="#4E6774" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="body-comment"></div>
                                @{ if (currentClass != null && currentClass.IsAllow)
                                    {
                                        <div class="form-comment" id="form-comment">
                                            <div class="media-preview"></div>
                                            <textarea rows="3" style="padding-right: 70px;border-radius: 3px;resize: none;background: #F0F3F4;" class="form-control" placeholder="nội dung trả lời"></textarea>
                                            <input type="file" name="comment-file" style="display:none" />
                                            <button class="file-media"><img src="~/images/jpg.png" /></button>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="box-info-contact">
                            <div class="inf-group">
                                <div class="img-group"></div>
                                <div class="name" id="GroupName">@currentClass?.Name</div>
                                <span class="number-member">
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.00031 7.02866C3.53863 7.02866 2.3536 5.60029 2.3536 3.83829C2.3536 2.07626 2.74266 0.647888 5.00031 0.647888C7.25796 0.647888 7.64709 2.07626 7.64709 3.83829C7.64709 5.60029 6.46206 7.02866 5.00031 7.02866Z" fill="#839AA6" />
                                        <path d="M9.99948 11.9003C9.99993 11.792 10.0004 11.8698 9.99948 11.9003V11.9003Z" fill="#839AA6" />
                                        <path d="M0.00134277 11.9838C-7.21334e-05 11.9545 0.000858726 11.78 0.00134277 11.9838V11.9838Z" fill="#839AA6" />
                                        <path d="M0.00732803 11.771C0.0563459 8.7016 0.460285 7.82698 3.55135 7.27335C3.55135 7.27335 3.98647 7.82359 5.00063 7.82359C6.0148 7.82359 6.44999 7.27335 6.44999 7.27335C9.50732 7.82094 9.93583 8.68259 9.99217 11.6713C9.99679 11.9154 9.99893 11.9282 9.99976 11.8999C9.99957 11.953 9.99934 12.0511 9.99934 12.2224C9.99934 12.2224 9.26343 13.6946 5.00063 13.6946C0.737905 13.6946 0.00191879 12.2224 0.00191879 12.2224C0.00191879 12.1123 0.00184345 12.0359 0.00173092 11.9838C0.00255775 12.0013 0.00421047 11.9674 0.00732803 11.771Z" fill="#839AA6" />
                                    </svg> @total thành viên
                                </span>
                            </div>
                            <div class="list-member">
                                @{
                                    if (teacher != null)
                                    {
                                        <div class="info-user">
                                            <div class="avatar-user">
                                                <svg style="width:30px;height:30px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 489.38 489.38" xml:space="preserve">
<g id="XMLID_129_"><path id="XMLID_134_" d="M473.725,5.656H213.576c-8.655,0-15.655,7.022-15.655,15.664v110.484l11.319-13.234
		c5.375-6.292,12.461-10.172,19.992-11.793V36.978h228.836v204.531H229.233v-34.238l-7.05,8.244
		c-6.161,7.189-14.858,11.65-24.262,12.529v29.124c0,8.642,7,15.655,15.655,15.655h84.489L255.141,467.7
		c-1.923,8.739,3.6,17.382,12.346,19.31c8.667,1.904,17.382-3.601,19.287-12.331l44.457-201.855h25.844l44.457,201.855
		c1.666,7.557,8.369,12.714,15.803,12.705c1.154,0,2.334-0.117,3.502-0.374c8.746-1.928,14.268-10.57,12.328-19.31l-42.92-194.877
		h83.481c8.647,0,15.655-7.013,15.655-15.655V21.32C489.38,12.678,482.372,5.656,473.725,5.656z"/><path id="XMLID_132_" d="M349.368,97.116c-1.234-3.11-4.732-4.637-7.84-3.406l-92.234,32.555
		c-8.465-6.554-20.678-5.383-27.737,2.827l-29.267,34.178l-25.951-22.245c0.171,1.837,0.56,3.622,0.56,5.507v48.291l14.438,12.371
		c8.568,7.338,21.385,6.204,28.549-2.198l34.842-40.743l28.1-16.439l73.951-43.267C349.336,103.073,350.469,99.923,349.368,97.116z"
		/><path id="XMLID_131_" d="M109.928,105.776H92.547c-13.308,0-25.01,6.468-32.448,16.327l-53.352,49.12
		c-8.313,7.405-9.067,20.232-1.581,28.595l43.528,48.585c7.421,8.309,20.267,9.044,28.579,1.576
		c8.334-7.469,9.038-20.262,1.57-28.586l-30.003-33.504l42.616-38.134l-24.82,33.721l24.279,27.107
		c13.416,14.992,12.151,38.027-2.834,51.453c-10.231,9.172-24.193,11.324-36.297,7.094c0,0,0.188,93.659,0.188,193.962
		c0,13.416,10.874,24.291,24.291,24.291c13.403,0,24.291-10.875,24.291-24.291c0-100.272,0-43.051,0-144.771h16.203
		c0,101.646,0,44.468,0,144.771c0,7.004-1.953,13.49-5.067,19.231c4.076,3.135,9.148,5.06,14.676,5.06
		c13.424,0,24.298-10.875,24.298-24.291c0-100.272,0.031-58.237,0.031-316.561C150.697,124.022,132.45,105.776,109.928,105.776z"/><path id="XMLID_130_" d="M79.592,91.198c6.495,3.376,13.787,5.471,21.62,5.471c7.853,0,15.145-2.095,21.659-5.477
		c15.204-7.877,25.684-23.559,25.684-41.862c0-26.146-21.196-47.335-47.344-47.335c-26.144,0-47.335,21.189-47.335,47.335
		C53.877,67.643,64.368,83.331,79.592,91.198z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                            </div>
                                            <div data-connection="@teacher.ID" data-email="@teacher.Email" class="name">@teacher.Name 
                                                <button data-name="@teacher.Name" id="sing-chat-@teacher.ID" onclick="onpenSingleChat('@teacher.ID')" class="btn" style="width: 24px; height: 27px; padding: 0; margin-left: 10px;">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58"
                                                         style="enable-background:new 0 0 58 58;"
                                                         xml:space="preserve"><g>	
                                                    <path style="fill:#049CFF;" d="M23.936,54.07c0.539-0.12,0.879-0.654,0.76-1.193c-0.121-0.539-0.663-0.874-1.193-0.759	l-7.252,1.614c-0.003-0.002-0.007-0.003-0.01-0.005l-0.171,0.045l-0.326,0.073c-0.027,0.006-0.047,0.024-0.073,0.032L0,58	l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5S45.24,57,29.5,57	c-3.603,0-7.048-0.673-10.221-1.894L23.936,54.07z" />	<path style="fill:#FFFFFF;" d="M30,22H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h14c0.552,0,1,0.448,1,1S30.552,22,30,22z" /><path style="fill:#FFFFFF;" d="M43,30H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h27c0.552,0,1,0.448,1,1S43.552,30,43,30z" /><path style="fill:#FFFFFF;" d="M43,38H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h27c0.552,0,1,0.448,1,1S43.552,38,43,38z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                    <span class="number-unread"></span>
                                                </button>
                                            </div>
                                            @if (!string.IsNullOrEmpty(teacher.Skype)) {
                                            <a style="width: 27px;height:30px;display: inline-block;" href="skype:@teacher.Skype?chat" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px"><radialGradient id="i9XPGrB2gyN3qVjYck37sa" cx="32.5" cy="31.5" r="30.516" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#afeeff" /><stop offset=".193" stop-color="#bbf1ff" /><stop offset=".703" stop-color="#d7f8ff" /><stop offset="1" stop-color="#e1faff" /></radialGradient><path fill="url(#i9XPGrB2gyN3qVjYck37sa)" d="M59,20h1.5c2.168,0,3.892-1.998,3.422-4.243C63.58,14.122,62.056,13,60.385,13L53,13 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h3.385c1.67,0,3.195-1.122,3.537-2.757C60.392,3.998,58.668,2,56.5,2H34.006H32.5h-24 C6.575,2,5,3.575,5,5.5S6.575,9,8.5,9H10c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2l-5.385,0c-1.67,0-3.195,1.122-3.537,2.757 C0.608,18.002,2.332,20,4.5,20H18v12L4.615,32c-1.67,0-3.195,1.122-3.537,2.757C0.608,37.002,2.332,39,4.5,39H5c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2H4.5c-2.168,0-3.892,1.998-3.422,4.243C1.42,48.878,2.945,50,4.615,50H10c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2l-1.385,0c-1.67,0-3.195,1.122-3.537,2.757C4.608,59.002,6.332,61,8.5,61h22.494H32.5h23 c1.925,0,3.5-1.575,3.5-3.5S57.425,54,55.5,54H55c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h4.385c1.67,0,3.195-1.122,3.537-2.757 C63.392,44.998,61.668,43,59.5,43H47V31h12.385c1.67,0,3.195-1.122,3.537-2.757C63.392,25.998,61.668,24,59.5,24H59 c-1.105,0-2-0.895-2-2C57,20.895,57.895,20,59,20z" /><linearGradient id="i9XPGrB2gyN3qVjYck37sb" x1="32" x2="32" y1="65.347" y2="13.347" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#155cde" /><stop offset=".278" stop-color="#1f7fe5" /><stop offset=".569" stop-color="#279ceb" /><stop offset=".82" stop-color="#2cafef" /><stop offset="1" stop-color="#2eb5f0" /></linearGradient><path fill="url(#i9XPGrB2gyN3qVjYck37sb)" d="M56.388,36.488C56.784,34.721,57,32.886,57,31C57,17.195,45.805,6,32,6 c-1.886,0-3.721,0.216-5.488,0.612C24.566,5.587,22.353,5,20,5C12.268,5,6,11.268,6,19c0,2.353,0.587,4.566,1.612,6.512 C7.216,27.279,7,29.114,7,31c0,13.805,11.195,25,25,25c1.886,0,3.721-0.216,5.488-0.612C39.434,56.413,41.647,57,44,57 c7.732,0,14-6.268,14-14C58,40.647,57.413,38.434,56.388,36.488z" /><path fill="#fff" d="M32.128,46C23.789,46,20,41.874,20,38.749C20,37.123,21.135,36,22.778,36c3.538,0,2.655,5,9.35,5 C35.538,41,38,39.467,38,37.592c0-1.605-1.076-2.593-3.345-3.218l-7.456-1.875C21.263,31,20,27.748,20,24.623 C20,18.251,26.064,16,31.62,16C36.801,16,43,18.623,43,22.373C43,23.999,41.737,25,40.094,25c-3.03,0-2.789-4-8.854-4 c-3.03,0-5.24,1.25-5.24,3.252c0,1.997,2.842,2.622,4.988,3.125l5.561,1.25C42.609,29.999,44,33.5,44,36.874 C43.872,42.123,40.082,46,32.128,46z" /></svg></a>
                                                }
                                        </div>
                                        <hr style="margin:0" />
                                    }
                                    if (numberStudent > 0)
                                    {
                                        for (int i = 0; i < numberStudent; i++)
                                        {
                                            var itemStudent = listStudent[i];
                                            <div class="info-user">
                                                <div class="avatar-user">
                                                    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                                        <path d='M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z' fill='#7CC6F1' />
                                                        <path d='M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z' fill='white' />
                                                    </svg>
                                                </div>
                                                <div data-connection="@itemStudent.ID" data-email="@itemStudent.Email" class="name">@itemStudent.Name  
                                                <button data-name="@itemStudent.Name" id="sing-chat-@itemStudent.ID" onclick="onpenSingleChat('@itemStudent.ID')" class="btn" style="width: 24px; height: 27px; padding: 0; margin-left: 10px;">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58 58" 
                                                         style="enable-background:new 0 0 58 58;" 
                                                         xml:space="preserve"><g>	
                                                        <path style="fill:#049CFF;" d="M23.936,54.07c0.539-0.12,0.879-0.654,0.76-1.193c-0.121-0.539-0.663-0.874-1.193-0.759	l-7.252,1.614c-0.003-0.002-0.007-0.003-0.01-0.005l-0.171,0.045l-0.326,0.073c-0.027,0.006-0.047,0.024-0.073,0.032L0,58	l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5S45.24,57,29.5,57	c-3.603,0-7.048-0.673-10.221-1.894L23.936,54.07z"/>	<path style="fill:#FFFFFF;" d="M30,22H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h14c0.552,0,1,0.448,1,1S30.552,22,30,22z"/><path style="fill:#FFFFFF;" d="M43,30H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h27c0.552,0,1,0.448,1,1S43.552,30,43,30z"/><path style="fill:#FFFFFF;" d="M43,38H16c-0.552,0-1-0.448-1-1s0.448-1,1-1h27c0.552,0,1,0.448,1,1S43.552,38,43,38z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                    <span class="number-unread"></span>
                                                </button>
                                                </div>
                                                 @if (!string.IsNullOrEmpty(itemStudent.Skype)) {
                                                <a style="width: 27px;height:30px;display: inline-block;" href="skype:@itemStudent.Skype?chat" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px"><radialGradient id="i9XPGrB2gyN3qVjYck37sa" cx="32.5" cy="31.5" r="30.516" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#afeeff" /><stop offset=".193" stop-color="#bbf1ff" /><stop offset=".703" stop-color="#d7f8ff" /><stop offset="1" stop-color="#e1faff" /></radialGradient><path fill="url(#i9XPGrB2gyN3qVjYck37sa)" d="M59,20h1.5c2.168,0,3.892-1.998,3.422-4.243C63.58,14.122,62.056,13,60.385,13L53,13 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h3.385c1.67,0,3.195-1.122,3.537-2.757C60.392,3.998,58.668,2,56.5,2H34.006H32.5h-24 C6.575,2,5,3.575,5,5.5S6.575,9,8.5,9H10c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2l-5.385,0c-1.67,0-3.195,1.122-3.537,2.757 C0.608,18.002,2.332,20,4.5,20H18v12L4.615,32c-1.67,0-3.195,1.122-3.537,2.757C0.608,37.002,2.332,39,4.5,39H5c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2H4.5c-2.168,0-3.892,1.998-3.422,4.243C1.42,48.878,2.945,50,4.615,50H10c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2l-1.385,0c-1.67,0-3.195,1.122-3.537,2.757C4.608,59.002,6.332,61,8.5,61h22.494H32.5h23 c1.925,0,3.5-1.575,3.5-3.5S57.425,54,55.5,54H55c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h4.385c1.67,0,3.195-1.122,3.537-2.757 C63.392,44.998,61.668,43,59.5,43H47V31h12.385c1.67,0,3.195-1.122,3.537-2.757C63.392,25.998,61.668,24,59.5,24H59 c-1.105,0-2-0.895-2-2C57,20.895,57.895,20,59,20z" /><linearGradient id="i9XPGrB2gyN3qVjYck37sb" x1="32" x2="32" y1="65.347" y2="13.347" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#155cde" /><stop offset=".278" stop-color="#1f7fe5" /><stop offset=".569" stop-color="#279ceb" /><stop offset=".82" stop-color="#2cafef" /><stop offset="1" stop-color="#2eb5f0" /></linearGradient><path fill="url(#i9XPGrB2gyN3qVjYck37sb)" d="M56.388,36.488C56.784,34.721,57,32.886,57,31C57,17.195,45.805,6,32,6 c-1.886,0-3.721,0.216-5.488,0.612C24.566,5.587,22.353,5,20,5C12.268,5,6,11.268,6,19c0,2.353,0.587,4.566,1.612,6.512 C7.216,27.279,7,29.114,7,31c0,13.805,11.195,25,25,25c1.886,0,3.721-0.216,5.488-0.612C39.434,56.413,41.647,57,44,57 c7.732,0,14-6.268,14-14C58,40.647,57.413,38.434,56.388,36.488z" /><path fill="#fff" d="M32.128,46C23.789,46,20,41.874,20,38.749C20,37.123,21.135,36,22.778,36c3.538,0,2.655,5,9.35,5 C35.538,41,38,39.467,38,37.592c0-1.605-1.076-2.593-3.345-3.218l-7.456-1.875C21.263,31,20,27.748,20,24.623 C20,18.251,26.064,16,31.62,16C36.801,16,43,18.623,43,22.373C43,23.999,41.737,25,40.094,25c-3.03,0-2.789-4-8.854-4 c-3.03,0-5.24,1.25-5.24,3.252c0,1.997,2.842,2.622,4.988,3.125l5.561,1.25C42.609,29.999,44,33.5,44,36.874 C43.872,42.123,40.082,46,32.128,46z" /></svg></a>
                                            }</div>
                                        }
                                    }

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        $("#choosen-group").on("change", function () {
            var value = $(this).val();
            if (value == null || value == "") {
                window.location.href = '@Url.Action("Index", "Discuss", new { @area = "student" })';
            } else {
                var url = window.location.pathname;
                var search = window.location.search;
                if (search != null && search != "") {
                    var isHasID = false;
                    var arr = search.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        var text = arr[i];
                        if (text.startsWith('?')) {
                            var removeStr = text.replace("?", "");
                            if (removeStr.split("=")[0] == "id") {
                                url += '?id=' + value;
                                isHasID = true;
                            } else {
                                url += text;
                            }
                        }
                        else {
                            if (text.split("=")[0] == "id") {
                                url += '&id=' + value;
                                isHasID = true;
                            } else {
                                url += '&' + text;
                            }
                        }
                    }
                    if (isHasID == false) {
                        url += '&id=' + value;
                    }
                }
                else {
                    url += "?id=" + value;
                }
                window.location.href = url;
            }
        });
        $("#input-search-content").on("click", function () {
            var value = $("#search-text").val();
            if (value == null || value == "") {
                window.location.href = '@Url.Action("Index", "Discuss", new { @area = "student" })';
            } else {
                var url = window.location.pathname;
                var search = window.location.search;
                if (search != null && search != "") {
                    var isHasID = false;
                    var arr = search.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        var text = arr[i];
                        if (text.startsWith('?')) {
                            var removeStr = text.replace("?", "");
                            if (removeStr.split("=")[0] == "searchtext") {
                                url += '?searchtext=' + value;
                                isHasID = true;
                            } else {
                                url += text;
                            }
                        }
                        else {
                            if (text.split("=")[0] == "searchtext") {
                                url += '&searchtext=' + value;
                                isHasID = true;
                            } else {
                                url += '&' + text;
                            }
                        }
                    }
                    if (isHasID == false) {
                        url += "&searchtext=" + value;
                    }
                } else {
                    url += "?searchtext=" + value;
                }
                window.location.href = url;
            }
        });
        $("#search-text").on("keypress", function (e) {
            if (e.which == 13) {
                $("#input-search-content").click();
            }
        });
        var loadData = function (pageIndex) {
            $.ajax({
                url: "@Url.Action("GET", "NewFeed")/?id=&receivers=@id&State=@State&pagesize=10&pageindex="+pageIndex,
                type: "GET",
                success: function (data) {
                    if (data.code == 200) {
                        var listItem = data.data;
                        if (listItem != null && listItem.length > 0) {
                            for (var i = 0; i < listItem.length; i++) {
                                var item = listItem[i];
                                var media = "";
                                var title = "";
                                if (item.medias.length > 0) {
                                    media = `<div class="media-post"><img src="${item.medias[0].path}" /></div>`;
                                }
                                if (item.title != void 0 && item.title != "") {
                                    title = `<div class="content-title-post">${item.title}</div>`;
                                }
                                var html = `<div class="item-feed" id="${item.ID}" onclick="openChat('${item.ID}')">
                                    <div class="user-info-post">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="info-user">
                                                    <div class="avatar-user">
                                                        <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                                            <path d='M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z' fill='#7CC6F1' />
                                                            <path d='M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z' fill='white' />
                                                        </svg>
                                                    </div><div class="name">${item.name}</div></div></div>
                                            <div class="col-lg-5"><span class="float-right text-time">${formatDate(item.created)}</span></div></div></div>${title}${media}
                                    <div class="content-post">${item.content}</div>
                                    <div class="extends-post"></div>
                                </div>`;
                                loadCountComment(item.ID);
                                var strId = item.receivers[0] == null || item.receivers[0] == "" || item.receivers[0] == void 0 ? "" : item.receivers[0];
                                $("#list-news-old-"+strId).append(html);
                            }
                        }
                    }
                }
            })
        }
        loadData(0);
        var formatDate = function (dt) {
            var dateTime = new Date(dt);
            return `${dateTime.getHours()}:${dateTime.getMinutes()}, ${dateTime.getDate()}/${(dateTime.getMonth() + 1)}/${dateTime.getFullYear()}`;
        }
        var loadCountComment = function (id) {
             $.ajax({
                url: "@Url.Action("GetCount", "Comment")?newFeedId="+id,
                type: "GET",
                 success: function (data) {
                    var str = `<a href="javascript:void(0)" onclick="openChat('${id}')">
                                        <span id="number-comment-${id}">0</span> trả lời <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.98419 0.46476L7.16617 3.64674C7.36144 3.842 7.36144 4.15859 7.16617 4.35385L3.98419 7.53583C3.78893 7.73109 3.47235 7.73109 3.27709 7.53583C3.08183 7.34057 3.08183 7.02398 3.27709 6.82872L5.60551 4.50029L1.18762 4.50029C0.91148 4.50029 0.687622 4.27644 0.687622 4.00029C0.687622 3.72415 0.91148 3.50029 1.18762 3.50029L5.60551 3.50029L3.27709 1.17187C3.08183 0.976605 3.08183 0.660022 3.27709 0.46476C3.47235 0.269498 3.78893 0.269498 3.98419 0.46476Z" fill="#D03239" />
                                        </svg>
                                    </a>`;
                     if (data.code == 200) {
                         str = `<a href="javascript:void(0)" onclick="openChat('${id}')">
                                        <span id="number-comment-${id}">${data.data}</span> trả lời <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.98419 0.46476L7.16617 3.64674C7.36144 3.842 7.36144 4.15859 7.16617 4.35385L3.98419 7.53583C3.78893 7.73109 3.47235 7.73109 3.27709 7.53583C3.08183 7.34057 3.08183 7.02398 3.27709 6.82872L5.60551 4.50029L1.18762 4.50029C0.91148 4.50029 0.687622 4.27644 0.687622 4.00029C0.687622 3.72415 0.91148 3.50029 1.18762 3.50029L5.60551 3.50029L3.27709 1.17187C3.08183 0.976605 3.08183 0.660022 3.27709 0.46476C3.47235 0.269498 3.78893 0.269498 3.98419 0.46476Z" fill="#D03239" />
                                        </svg>
                                    </a>`;

                    }
                     $("#" + id + " .extends-post").html(str);
                }
            });
        }
        var openChat = function (id) {
            $(".item-feed").removeClass('active');
            var content = "";
            var media = "";
            var chude = "Chủ đề";
            var root = document.getElementById(id);
            if (!root.classList.contains('active')) {
                root.classList.add('active');
            }
            if (root != null) {
                var chudeT = root.querySelector('.content-title-post');
                if (chudeT != null) {
                    chude = chudeT.innerHTML;
                }
                var title = root.querySelector(".content-post");
                if (title != null) {
                    content = title.innerHTML;
                }
                var htmlMedia = root.querySelector(".media-post");
                if (htmlMedia != null) {
                    media = htmlMedia.outerHTML;
                }
            }
            var ojChat = document.getElementById("comment-box-new-feed");
            ojChat.querySelector("#chudethaoluan").innerHTML = chude;
            ojChat.classList.add("open");
            ojChat.querySelector("input[name='ParentID']").value = id;
            ojChat.querySelector(".body-comment").innerHTML = `<div class="item-feed item-comment chude">
                                    <div class="content-post">
                                        ${media}${content}
                                    </div>
                                </div>`;
            $.ajax({
                url: "@Url.Action("Get", "Comment")?parentID=" + id+"&IsReply=false",
                type: "GET",
                success: function (data) {
                    if (data.code == 200) {
                        for (var i = 0; i < data.data.length; i++) {
                            var item = data.data[i];
                            var media = "";
                            if (item.medias.length > 0) {
                               media = `<div class="media-post"><img src="${item.medias[0].path}" /></div>`;
                            }
                            var html = `<div class="item-feed item-comment">
                                    <div class="user-info-post">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="info-user">
                                                    <div class="avatar-user">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M24 12C24 18.6275 18.6275 24 12 24C5.3725 24 0 18.6275 0 12C0 5.3725 5.3725 0 12 0C18.6275 0 24 5.3725 24 12Z" fill="#7CC6F1"></path>
                                                            <path d="M14.7283 11.6221C15.8306 10.7919 16.5447 9.47278 16.5447 7.98981C16.5447 5.48401 14.506 3.44531 12 3.44531C9.4942 3.44531 7.45551 5.48401 7.45551 7.98981C7.45551 9.47278 8.16943 10.7919 9.27173 11.6221C6.32043 12.7299 4.21417 15.5804 4.21417 18.9141H5.62042C5.62042 15.3962 8.48236 12.5345 12.0002 12.5345C15.5178 12.5345 18.3798 15.3962 18.3798 18.9141H19.786C19.7858 15.5804 17.6797 12.7299 14.7283 11.6221ZM8.86176 7.98981C8.86176 6.25928 10.2695 4.85156 12 4.85156C13.7305 4.85156 15.1382 6.25928 15.1382 7.98981C15.1382 9.72034 13.7305 11.1282 12 11.1282C10.2695 11.1282 8.86176 9.72034 8.86176 7.98981Z" fill="white"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="name">${item.name}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-post">
                                        ${item.content}
                                    </div>${media}
                                </div>`;
                            ojChat.querySelector(".body-comment").innerHTML += html;
                        }
                    }
                }
            });
        }
        //string title,string content,int state,HashSet<string> receivers

        $("#comment-box-new-feed>.header>.btn-close").click(function () {
            var ojChat = document.getElementById("comment-box-new-feed");
            ojChat.querySelector("input[name='ParentID']").value = "";
            ojChat.classList.remove("open");
        });


    </script>
    @{ if (currentClass != null && currentClass.IsAllow)
        {
            <script>
                    var filesListComment = {};
                    var filesList = {};
                    var formComment = document.getElementById("form-comment");
                    $("#form-comment>.file-media").click(function () {
                        $("#form-comment>input[type='file']").click();
                        if (formComment != null) {
                        var previewMedia2 = formComment.querySelector('.media-preview');
                        var inputFileComment = formComment.querySelector("input[type='file']");
                        if (inputFileComment != null) {
                            inputFileComment.onchange = function () {
                                previewMedia2.innerHTML = "";
                                filesListComment = {};
                                console.log(inputFileComment,inputFileComment.files);
                                var files2 = inputFileComment.files;
                                console.log(files2.length);
				                for(var i = 0; i < files2.length;i++){
                                    var file2 = files2[i];
					                if(file2 != null){
						                var id = generateId();
						                var url = createBlodUrl(file2);
						                filesListComment[id] = file2;
						                if(previewMedia2.childNodes.length >= 5){
							                previewMedia2.appendChild(createBoxMedia(id,url,file2.type,true));
						                }else{
							                previewMedia2.appendChild(createBoxMedia(id,url,file2.type,false));
						                }
					                }
				                }
                            }
                        }
                    }
                    });
                $("#form-post>button.file-media").click(function () {
                    $("#form-post>input[type='file']").click();
                });
                var formPost = document.getElementById("form-post");
                if (formPost != null) {
                    var previewMedia = formPost.querySelector('.media-preview');

                    var inputFile = formPost.querySelector("input[type='file']");
                    if (inputFile != null) {
                        inputFile.onchange = function () {
                            previewMedia.innerHTML = "";
                            filesList = {};
                            var files = inputFile.files;
				            for(var i = 0; i < files.length;i++){
					            var file = files[i];
					            if(file != null){
						            var id = generateId();
						            var url = createBlodUrl(file);
						            filesList[id] = file;
						            if(previewMedia.childNodes.length >= 5){
							            previewMedia.appendChild(createBoxMedia(id,url,file.type,true));
						            }else{
							            previewMedia.appendChild(createBoxMedia(id,url,file.type,false));
						            }
					            }
				            }
                        }
                    }
                }
                var createNewFeed = function (msg) {
                    if (msg.trim() == "") return;
                    var Title = "";
                    if (formPost != null) {
                        Title = formPost.querySelector("input[name='Title']").value;
                        if (Title.trim() == "") return;
                    }
                    var keys = Object.keys(filesList);
                    var dataForm = new FormData();
                    dataForm.append("title",Title);
                    dataForm.append("content", msg);
                    dataForm.append("state", @State);
                    dataForm.append("receivers", ['@ViewBag.ID']);
                    if (keys != null && keys != void 0) {
                        for (var i = 0; i < keys.length; i++) {
                            var key = keys;
                            dataForm.append("file", filesList[key]);
                        }
                        if (_ajax != void 0) {
                            _ajax.proccess("POST", "@Url.Action("CREATE", "NewFeed")", dataForm).then(function (res) {
                                var data = JSON.parse(res);
                                if (connection != void 0) {
                                    var item = data.data;
                                    var strId = item.receivers[0] == null || item.receivers[0] == "" || item.receivers[0] == void 0 ? "" : item.receivers[0];
                                    if (strId == "") {
                                        connection.invoke("SendToGroup", { type: "newfeed", obj: data }, 'Online');
                                    } else {
                                        connection.invoke("SendToGroup", { type: "newfeed", obj: data }, 'newfeed-' + strId);
                                    }
                                }
                            })
                        }
                    }
                }
                var createComment = function (content, id) {
                    if (content.trim() == "") return;
                    var keys = Object.keys(filesListComment);
                    var dataForm = new FormData();
                    dataForm.append("content", content);
                    dataForm.append("parentID", id);
                    if (keys != null && keys != void 0) {
                        for (var i = 0; i < keys.length; i++) {
                            var key = keys;
                            dataForm.append("file", filesListComment[key]);
                        }
                        if (_ajax != void 0) {
                            _ajax.proccess("POST", "@Url.Action("CREATE", "Comment")", dataForm).then(function (res) {
                                var data = JSON.parse(res);
                                if (connection != void 0) {
                                    var strId = '@ViewBag.ID';
                                    if (strId == "") {
                                        connection.invoke("SendToGroup", { type: "comment", obj: data }, 'Online');
                                    } else {
                                        connection.invoke("SendToGroup", { type: "comment", obj: data }, 'newfeed-@ViewBag.ID');
                                    }
                                }
                            })
                        }
                    }
                }
                $("#form-comment>textarea").on("keypress", function (e) {
                    if (e.which == 13) {
                        createComment($(this).val(), document.getElementById("comment-box-new-feed").querySelector("input[name='ParentID']").value);
                        $(this).val("");
                        $(this).html("");
                        if (formComment != null) {
                            var clear = {};;
                            formComment.querySelector("input[type='file']").value = "";
                            inputFileComment = {};
                            var previewMedia2 = formComment.querySelector('.media-preview');
                            if (previewMedia2 != null) {
                                previewMedia2.innerHTML = "";
                            }
                        }
                    }
                })
                $("#form-post>textarea").on("keypress", function (e) {
                    if (e.which == 13) {
                        createNewFeed($(this).val());
                        $(this).val("");
                        $(this).html("");
                        if (formPost != null) {
                            formPost.querySelector("input[name='Title']").value = "";
                            formPost.querySelector("input[type='file']").value = "";
                            filesList = {};
                            var previewMedia = formPost.querySelector('.media-preview');
                            if (previewMedia != null) {
                                previewMedia.innerHTML = "";
                            }
                        }
                    }
                });
            </script>
        }
    }
}
