@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutTeacher_noChat.cshtml";
    var Data = ViewBag.Data as BaseCustomerEntity.Database.CourseEntity;
    var listChapter = ViewBag.Chapter as List<BaseCustomerEntity.Database.ChapterEntity>;
    var user = ViewBag.User as string;
    var subject = ViewBag.Subject as BaseCustomerEntity.Database.SubjectEntity;
    var grade = ViewBag.Grade as BaseCustomerEntity.Database.GradeEntity;
}

<script>
    activeTab = "curriculum";
    activeSub = "intro";
</script>

<div class="left-col">
    <div class="page-title">
        <h1><a href="@Url.Action("Index","Curriculum")">Curriculum</a> / @ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarTeacher-Curriculum")
        </div>
        <div class="main-content">
            <div class="detail pb-3 row">
                <div class="text-left col-md-10">
                    <div class="lession-label d-inline-block">Ngày tạo: <b>@Data.Created.ToString("dd/MM/yyyy")</b></div> -
                    <div class="lession-label d-inline-block">
                        Trạng thái:
                        @if (Data.IsActive)
                        {
                            <b>Đang hoạt động</b>
                        }
                        else
                        {
                            <b>Không hoạt động</b>
                        }
                    </div>
                    -
                    <div class="lession-label d-inline-block">
                        Tình trạng sử dụng:
                        @if (Data.IsUsed)
                        {
                            <b>Đã sử dụng</b>
                        }
                        else
                        {
                            <b>Chưa sử dụng</b>
                        }
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <button type="button" class="btn btn-success save-info float-right" for="dsp" onclick="toggleEdit(true)">Sửa</button>
                    <button type="button" class="btn btn-success save-info float-right" for="edit" style="display:none" onclick="toggleEdit(false)">Đóng</button>
                </div>
            </div>
            <div class="banner p-2 mb-3 row" style="background: #e60028;border-radius: 5px;color:#FFF;">
                <div class="banner-img col-sm-2 align-top" style="">
                    <div>
                        <img id="imgCourseAvatar" src="@(string.IsNullOrEmpty(Data.Image) ? "/img/default.jpg":Data.Image)" style="width:auto; height:100px; color:#000; max-width:100%;" />
                        <input type="file" name="classAvatarEdit" class="d-none" id="inputCourseAvatar" onchange="displayMedia(this)" accept="image/*">
                        <button for="edit" style="display:none;" type="button" class="btn btn-success save-info mt-2" onclick="chooseFile(this)">Chọn ảnh</button>
                    </div>
                </div>
                <div class="banner__info col-sm-10 pl-2">
                    @*<div class="lession-label">Code: <b>@Data.Code?.ToUpper()</b></div>*@
                    <div class="lession-label">Chương trình: <b>@subject.Name</b></div>
                    <div class="lession-label">Cấp độ: <b>@grade.Name</b></div>
                </div>
            </div>
            <div class="row pb-3">
                <label class="col-sm-2 form-label align-top" for="courseTarget"><b style="color:#e60028">Mô tả</b></label>
                <div class="col-sm-10 align-top">
                    <div for="edit" style="display:none">
                        <textarea name="courseContent" id="courseContent">@Data?.Description</textarea>
                    </div>
                    <div for="dsp">
                        @Html.Raw(Data?.Description)
                    </div>
                </div>
                <script>
                    CKEDITOR.replace("courseContent",
                        {
                            extraPlugins: 'embed,autoembed,image2',
                            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',
                            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
                            image2_disableResizer: true
                        }
                    );
                    //CKEDITOR.instances.courseTarget.setData($('#courseTarget').siblings('.d-none').html());
                </script>
            </div>
            @*<div class="row pb-3">
                <label class="col-sm-2 form-label align-top" for="courseContent"><b style="color:#e60028">Learning Outcomes</b></label>
                <div class="col-sm-10 align-top">
                    <div for="edit" style="display:none">
                        <textarea name="courseTarget" id="courseTarget">@Data?.LearningOutcomes</textarea>
                    </div>
                    <div for="dsp">
                        @Html.Raw(Data?.LearningOutcomes)
                    </div>
                </div>
                <script>
                    CKEDITOR.replace("courseTarget",
                        {
                            extraPlugins: 'embed,autoembed,image2',
                            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',
                            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
                            image2_disableResizer: true
                        }
                    );
                    //CKEDITOR.instances.courseContent.setData($('#courseContent').siblings('.d-none').html());
                </script>
            </div>*@
            <div for="edit" style="display:none">
                <div class="banner__save">
                    <button type="button" class="btn btn-success save-info float-right" onclick="SaveCurriculum('@Data.ID')">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    var SaveCurriculum  = function() {
        var courseContent = CKEDITOR.instances.courseContent.getData();   // Nội dung môn học
        if (courseContent == "<p></p>") courseContent = "";
        var courseTarget = CKEDITOR.instances.courseTarget.getData();     // Mục tiêu đầu ra
        if (courseTarget == "<p></p>") courseTarget = "";

        var fileuploads = $('#inputCourseAvatar');
        var ufiles = fileuploads[0].files;

        if (window.FormData !== undefined) {
            var data = new FormData();
            if (ufiles.length > 0) {
                for (var x = 0; x < ufiles.length; x++) {
                    data.append(ufiles[x].name, ufiles[x]);
                }
            }

            data.append("ID", '@Data.ID');
            data.append("Description",courseContent );          @* Nội dung môn học  *@
            data.append("LearningOutcomes",courseTarget );  @* Mục tiêu đầu ra   *@

            $.ajax({
                type: "POST",
                url: '/Teacher/Curriculum/SaveInfo',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.Error == null) {
                        alert('Curriculum info updated!');
                        document.location = document.location;
                    }
                    else {
                        alert('Error')
                        console.log(data.Error);
                    }
                    //hideLoading();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);
                    alert("Error");
                    //hideLoading();
                }
            });
        }
    }

        var toggleEdit = function (state) {
            if (state) {
                $("[for=edit]").show();
                $("[for=dsp]").hide();
            }
            else {
                $("[for=edit]").hide();
                $("[for=dsp]").show();
            }
        }

        function displayMedia(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgCourseAvatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function chooseFile(obj) {
            $(obj).siblings("[type=file]").focus().click();
        }
    </script>
}