@{
    ViewData["Title"] = "Quản lý bài giảng";
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
    var subjects = ViewBag.Subjects as List<BaseCustomerEntity.Database.SubjectEntity>;
    var grades = ViewBag.Grades as List<BaseCustomerEntity.Database.GradeEntity>;
    var skills = ViewBag.Skills as List<BaseCustomerEntity.Database.SkillEntity>;
    var allcenters = ViewBag.AllCenters as List<BaseCustomerEntity.Database.CenterEntity>;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    var courses = ViewBag.Courses as List<BaseCustomerEntity.Database.CourseEntity>;
    var teachers = ViewBag.Teachers as List<BaseCustomerMVC.Models.UserViewModel>;
    var defTeacher = ViewBag.User;
    //var listCenters = ViewBag.ListCenters as List<BaseCustomerEntity.Database.CenterEntity>;
    string processUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}
<!-- Include vue-quill-editor -->
<script src="/libs/quill-editor/quill.min.js"></script>
<script src="/libs/quill-editor/quill-vue.min.js"></script>
<link href="/libs/quill-editor/quill.core.css" rel="stylesheet">
<link href="/libs/quill-editor/quill.snow.css" rel="stylesheet">
<link href="/libs/quill-editor/quill.bubble.css" rel="stylesheet">

<!--Lazy load-->
<script src="~/js/vue-lazyload.js"></script>

<script>
    setActiveMenu("curriculum");
</script>

<section class="module" id="dashboard_content">
    <div class="h4 m-3" v-cloak cloak-holder>
        <i class="fas fa-sync fa-spin"></i> Đang nạp dữ liệu ...
    </div>
    <div class="card-header border-b" v-cloak>
        <div class="flex flex-row flex-wrap align-items-center">
            <div class="box filter-box w-152 m-1 ">
                <select v-model="subject">
                    <option value="">Chương trình</option>
                    <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                </select>
            </div>
            <div class="box filter-box w-152 m-1">
                <select name="" v-model="grade">
                    <option value="">Cấp độ</option>
                    <option v-for="(item,k) in list_grades_full" :value="item.ID" v-if="item.SubjectID == subject">{{item.Name}}</option>
                </select>
            </div>
            <div class="search-box m-1">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" v-model="searchTerm" placeholder="Tên bài giảng cần tìm">
            </div>
            <div class="ml-0 ml-md-auto">
                <b-button class="btn btn-addevent btn-student btn-sm m-1 btn-secondary" v-on:click="exportExcel('ed_table')"><i class="ti-import"></i></b-button>
                <b-button class="btn-addevent btn-sm m-1" v-on:click="showEditItem()"><i class="ti-plus"></i> Thêm bài giảng</b-button>
                @*<b-button class="btn-addevent btn-sm m-1 ml-0 ml-md-auto" v-on:click="showEditItem()"><i class="ti-plus"></i> Thêm bài giảng</b-button>*@
            </div>
        </div>
    </div>
    <div class="card-body" v-cloak>
        <table id="ed_table" class="table">
            <thead>
                <tr>
                    <th v-for="(field,k) in fields">{{field.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,k) in list_data" v-if="item.ID">
                    <td>{{(page - 1) * view + (k+1)}}</td>
                    <td>
                        <a :href="'@processUrl("Modules","Curriculum")/' + item.ID" :title="item.Name">
                            {{item.Name}}
                        </a>
                    </td>
                    <td>
                        <template v-if="item.Image">
                            <img v-lazy="cacheStatic(item.Image,100)" style="max-width:100px; max-height:100px;" />
                        </template>
                    </td>
                    <td>{{item.SubjectName}}</td>
                    @*<td>{{item.SkillName}}</td>*@
                    <td>{{item.GradeName}}</td>
                    <td>{{item.TeacherName}}</td>
                    <td>{{formatShortDate(item.Created)}}</td>
                    <td><b-form-checkbox switch v-model="item.IsActive" v-on:change="toggleState(item)"></b-form-checkbox></td>
                    <td>
                        <div class="btn-group" style="display:block">
                            <a class="btn-act btn-edit" title="Sửa" href="javascript:;" v-on:click="showEditItem(item)"><i class="ti-pencil-alt"></i></a>
                            <a class="btn-act btn-edit" title="Sao chép" href="javascript:;" v-on:click="showCloneItem(item)"><i class="ti-layers"></i></a>
                            <a class="btn-act btn-edit" title="Ghép bài giảng" href="javascript:;" v-on:click="showMergeItem(item)"><i class="fa fa-first-aid"></i></a>
                            <button class="btn-act btn-trash" title="Xóa" v-on:click="removeItem(item)"><i class="ti-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box margin-t20 flex">
            <div class="paging-view">
                Hiển thị:
                <select v-model="view" v-on:change="getData()">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="right">
                    <b-pagination v-model="page"
                                  :total-rows="totalRec"
                                  :per-page="view"
                                  v-on:input="getData()"></b-pagination>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <style>
        #ed_table tr th:first-child,
        #ed_table tr td:first-child {
            width: 50px;
            max-width: 50px;
        }

        .btn-act {
            display: inline-block;
        }
    </style>
    <script>
        Vue.use(VueQuillEditor)
        new Vue({
            el: "#main_content",
            mounted() {
                this.list_subject = @Html.Raw(Json.Serialize(subjects));
                this.list_grades_full = @Html.Raw(Json.Serialize(grades));
                //debugger
                this.list_skills = @Html.Raw(Json.Serialize(skills));
                this.list_courses =@Html.Raw(Json.Serialize(courses));
                //this.changeSubject()
                this.getData();
                window.chooseFile = this.chooseFile
                window.updateFile = this.updateFile
                window.readURL = this.readURL
            },
            components: {
          	    LocalQuillEditor: VueQuillEditor.quillEditor
            },
            data: {
                isLoading: false,
                editorOption: {
                    theme: 'snow'
                },
                fields: [
                    {
                        key: 'stt',
                        label: '#'
                    },
                    {
                        key: 'lesson_name',
                        label: 'Tên bài giảng'
                    },
                    {
                        key: 'lesson_image',
                        label: 'Ảnh bìa'
                    },
                    {
                        key: 'subject_name',
                        label: 'Chương trình'
                    },
                    //{
                    //    key: 'skill',
                    //    label: 'Môn học'
                    //},
                    {
                        key: 'level',
                        label: 'Cấp độ'
                    },
                    {
                        key: 'creator',
                        label: 'GV soạn thảo'
                    },
                    {
                        key: 'created_at',
                        label: 'Ngày tạo'
                    },
                    {
                        key: 'state',
                        label: 'Trạng thái'
                    },
                    {
                        key: 'actions',
                        label: 'Tác vụ'
                    }
                ],
                searchTerm: '',
                list_skills: [],
                list_data: [],
                list_subject: [],
                list_grades_full: [],
                list_courses: [],
                list_teacher: @Html.Raw(Json.Serialize(teachers)),
                def_teacher: '@defTeacher',
                list_centers: @Html.Raw(Json.Serialize(allcenters)),
                addItem: {
                    ID: '',
                    Name: '',
                    SubjectID: '',
                    GradeID: '',
                    SkillID: '',
                    Description: '',
                    Init: false,
                    Image: '',
                    TeacherID: '',
                    //IsPublic: false,
                    TargetCenters: [],
                    StudentTargetCenters: [],
                    NameCenters: '',
                    StudentNameCenters: '',
                    SelectAll: false,
                    SelectAllStudent: false
                },
                cloneItem: {
                    OriginID: '',
                    Name: '',
                    SubjectID: '',
                    GradeID: '',
                    SkillID: '',
                    Description: '',
                    Center: ''
                },
                mergeItem: {
                    OriginID: '',
                    JoinCourseID:'',
                    //JoinCourseName:'',
                    Name: '',
                    SubjectID: '',
                    GradeID: '',
                    SkillID: '',
                    Description: '',
                    Center: ''
                },
                subject: '',
                grade: '',
                center: '@center',
                view: 30,
                hPage: 1,
                totalRec: 0,
                componentKey: 0,
                displaySelect: false,
                displayStudentSelect: false
            },
            computed: {
                page: {
                    get() {
                        return parseInt(this.hPage);
                    },
                    set(value) {
                        console.log(value);
                        this.hPage = value;
                    }
                 },
                 add_subject() {
                     return this.addItem.SubjectID;
                 },
                 clone_subject() {
                     return this.cloneItem.SubjectID;
                 },
                 merge_subject() {
                     return this.mergeItem.SubjectID;
                 }
            },
            watch: {
                subject: function () {
                    this.changeSubject();
                },
                grade: function () {
                    this.changeGrade();
                },
                add_subject: function () {
                    this.addItem.GradeID = "";
                },
                clone_subject: function () {
                    this.cloneItem.GradeID = ""
                },
                merge_subject: function () {
                    this.mergeItem.GradeID = ""
                },
                searchTerm: function(){
                    if(this.searchTimeout != null)
                        clearTimeout(this.searchTimeout)
                    var fn = this.getData
                    this.searchTimeout = setTimeout(function(){
                        fn()
                    }, 500)
                },
                "addItem.TargetCenters": function () {
                    this.checkToggle()
                    //debugger
                },
                "addItem.StudentTargetCenters": function () {
                    this.checkToggle(true)
                    //debugger
                }
            },
            methods: {
                getData() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('GradeID', _that.grade)
                    _form.append('SubjectID', _that.subject)
                    _form.append('PageSize', _that.view)
                    _form.append('PageIndex', _that.page)
                    _form.append('SearchText', _that.searchTerm)
                    _form.append('Center', _that.center)

                    let _url = '@processUrl("GetList", "Curriculum")'
                    axios.post(_url, _form)
                        .then(response => {
                            //console.log(response.data);
                            if (response.data.Error) {
                                Swal.fire({
                                    title: 'Cõ lỗi',
                                    text: response.data.Error,
                                    icon: 'error'
                                });
                                _that.list_data = [];
                                var tt = 0;
                                this.max_page = 0;
                            }
                            else {
                                _that.list_data = response.data.Data;
                                this.list_data = _that.list_data
                                //debugger
                                this.totalRec = response.data.Model.totalRecord
                                //var tt = response.data.Model.totalRecord;
                                //this.max_page = tt / this.view + (tt % this.view > 0 ? 1 : 0);
                            }
                            //console.log(_that.active_course);
                        }).catch(e => { })
                },
                changeSubject() {
                    let _that = this
                    _that.grade = ""
                    _that.changeGrade()
                },
                changeGrade() {
                    let _that = this
                    _that.getData()
                },
                toggleState(obj) {
                    let _that = this;
                    _that.list_data.forEach(function (item, k) {
                        if (item.ID === obj.ID) {
                            let _url = item.IsActive ? '@processUrl("Unpublish", "Curriculum")' : '@processUrl("Publish", "Curriculum")'
                            let _form = new FormData()
                            _form.append('ArrID', item.ID);
                            axios.post(_url, _form)
                                .then(response => {
                                    console.log('update ok');
                                    //item.IsActive = !item.IsActive;
                                    //_that.list_data[k].IsActive = !_that.list_data[k].IsActive;
                                }).catch(e => { })
                        }
                    })
                },
                showEditItem(obj) {
                    console.log(obj);
                    //debugger
                    let _that = this;
                    _that.displaySelect = false;
                    _that.displayStudentSelect = false;
                    if (obj == null) {
                        _that.addItem.ID = '';
                        _that.addItem.SubjectID = '';
                        _that.addItem.GradeID = '';
                        _that.addItem.Description = '';
                        _that.addItem.Name = '';
                        _that.addItem.SkillID = '';
                        _that.addItem.Image = '';
                        _that.addItem.TeacherID = _that.def_teacher;
                        _that.addItem.IsPublic = false;
                        _that.addItem.PublicWStudent = false;
                        _that.addItem.TargetCenters = [];
                        _that.addItem.StudentTargetCenters = [];
                    }
                    else {
                        _that.addItem.ID = obj.ID;
                        _that.addItem.SubjectID = obj.SubjectID;
                        _that.$nextTick(() => {
                            _that.addItem.GradeID = obj.GradeID;
                        })
                        _that.addItem.Description = obj.Description;
                        _that.addItem.Name = obj.Name;
                        _that.addItem.SkillID = obj.SkillID == null ? '' : obj.SkillID;
                        _that.addItem.Image = obj.Image == null ? '' : obj.Image
                        _that.addItem.TeacherID = obj.TeacherID;
                        //_that.addItem.IsPublic = obj.IsPublic;
                        //_that.addItem.PublicWStudent = obj.PublicWStudent;
                        //debugger
                        if (obj.TargetCenters != null || obj.TargetCenters.length > 0) {
                            _that.addItem.TargetCenters = obj.TargetCenters;
                            if (obj.TargetCenters.length == this.list_centers.length) {
                                _that.addItem.SelectAll = true;
                            }
                            else {
                                _that.addItem.SelectAll = false;
                            }
                        }
                        else {
                            _that.addItem.TargetCenters = [];
                            _that.addItem.SelectAll = false;
                        }

                        if (obj.StudentTargetCenters != null) {
                            _that.addItem.StudentTargetCenters = obj.StudentTargetCenters;
                            if (obj.StudentTargetCenters.length == this.list_centers.length) {
                                _that.addItem.StudentSelectAll = true;
                            }
                            else {
                                _that.addItem.StudentSelectAll = false;
                            }
                        }
                        else {
                            _that.addItem.StudentTargetCenters = [];
                            _that.addItem.StudentSelectAll = false;
                        }
                        //debugger
                    }
                    _that.$bvModal.show('modal_event')
                },
                showCloneItem(obj) {
                    let _that = this;
                    if (obj == null) {
                        return false;
                    }
                    else {
                        _that.cloneItem.OriginID = obj.ID;
                        _that.cloneItem.OriginName = obj.Name;
                        _that.cloneItem.SubjectID = obj.SubjectID;
                        _that.$nextTick(() => {
                            _that.cloneItem.GradeID = obj.GradeID;
                        })
                        _that.cloneItem.Description = obj.Description;
                        _that.cloneItem.Name = obj.Name + " _ " + moment().format("DD-MM-YY");
                        _that.cloneItem.SkillID = obj.SkillID == null ? '' : obj.SkillID;
                    }
                    _that.$bvModal.show('clone_event')
                },
                showMergeItem(obj) {
                    let _that = this;
                    if (obj == null) {
                        return false;
                    }
                    else {
                        //debugger
                        _that.mergeItem.OriginID = obj.ID;
                        _that.mergeItem.OriginName = obj.Name;
                        _that.mergeItem.SubjectID = obj.SubjectID;
                        _that.$nextTick(() => {
                            _that.mergeItem.GradeID = obj.GradeID;
                        })
                        _that.mergeItem.Description = obj.Description;
                        _that.mergeItem.Name = obj.Name + " _ " + moment().format("DD-MM-YY");
                        _that.mergeItem.SkillID = obj.SkillID == null ? '' : obj.SkillID;
                    }
                    _that.$bvModal.show('merge_event')
                },
                addData() {
                    let _that = this
                    let _form = new FormData()

                    if (_that.addItem.Name == '') {
                        alert("Vui lòng điền đầy đủ thông tin");
                        this.$refs["addName"].focus();
                        return false;
                    }

                    if (_that.addItem.SubjectID == '') {
                        alert("Chưa chọn chương trình");
                        return false;
                    }

                    //if (_that.addItem.SkillID == '') {
                    //    alert("Chưa chọn kỹ năng");
                    //    return false;
                    //}

                    if (_that.addItem.GradeID == '') {
                        alert("Chưa chọn cấp độ");
                        return false;
                    }
                    console.log($('input[name=cover]'));

                    if ($('input[name=cover]')[0].files.length > 0)
                        _form.append('cover', $('input[name=cover]')[0].files[0])

                    _form.append('ID', _that.addItem.ID)
                    _form.append('GradeID', _that.addItem.GradeID)
                    _form.append('SubjectID', _that.addItem.SubjectID)
                    _form.append('SkillID', _that.addItem.SkillID)
                    _form.append('CenterCode', _that.center)
                    _form.append('Name', _that.addItem.Name)
                    _form.append('Description', _that.addItem.Description)
                    _form.append('TeacherID', _that.addItem.TeacherID)
                    //_form.append('IsPublic', _that.addItem.IsPublic)
                    //_form.append('PublicWStudent', _that.addItem.PublicWStudent)

                    var targetStr = _that.addItem.TargetCenters;
                    if (targetStr != null) {
                        var targets = targetStr.toString().split(',');
                        if (targets.length > 0)
                            targets.forEach(function (item, pos) {
                                if (item != "") { _form.append('TargetCenters', item)}
                            });
                    }
                    var targetStdStr = _that.addItem.StudentTargetCenters;
                    if (targetStdStr != null) {
                        var targets = targetStdStr.toString().split(',');
                        if (targets.length > 0)
                            targets.forEach(function (item, pos) {
                                if (item != "") { _form.append('StudentTargetCenters', item) }
                            });
                    }

                    let _url = '@processUrl("CreateOrUpdate","Curriculum")'
                    _that.isLoading = true
                    axios.post(_url, _form)
                        .then(response => {
                            _that.isLoading = false
                            console.log(response.data);
                            if (response.data.Error != null)
                                alert(response.data.Error)
                            else {
                                this.getData();
                                _that.$bvModal.hide('modal_event');
                            }
                        }).catch(e => {
                            _that.isLoading = false;
                            alert("Error: " + e)
                        })
                },
                cloneData() {
                    let _that = this
                    let _form = new FormData()

                    if (_that.cloneItem.Name == '') {
                        alert("Please fill in required fields");
                        this.$refs["cloneName"].focus();
                        return false;
                    }

                    if (_that.cloneItem.SubjectID == '') {
                        alert("Chưa chọn chương trình");
                        return false;
                    }

                    if (_that.cloneItem.SkillID == '') {
                        alert("Chưa chọn kỹ năng");
                        return false;
                    }

                    if (_that.cloneItem.GradeID == '') {
                        alert("Chưa chọn cấp độ");
                        return false;
                    }

                    if (_that.cloneItem.Center == '') {
                        alert("Chưa chọn cơ sở");
                        return false;
                    }

                    _form.append('CourseID', _that.cloneItem.OriginID)
                    _form.append('GradeID', _that.cloneItem.GradeID)
                    _form.append('SubjectID', _that.cloneItem.SubjectID)
                    _form.append('SkillID', _that.cloneItem.SkillID)
                    _form.append('Center', _that.cloneItem.Center)
                    _form.append('Name', _that.cloneItem.Name)
                    _form.append('Description', _that.cloneItem.Description)
                    let _url = '@processUrl("CloneCourse","Curriculum")'
                    _that.isLoading = true
                    axios.post(_url, _form)
                        .then(response => {
                            _that.isLoading = false
                            console.log(response.data);
                            if (response.data.error != null)
                                Swal.fire({
                                    title: 'Có lỗi',
                                    html: response.data.error,
                                    icon: 'error'
                                });
                            else {
                                Swal.fire({
                                    title: 'Hoàn thành',
                                    html: 'Bài giảng đã sao chép thành công!',
                                    icon: 'success'
                                });
                                this.getData();
                                _that.$bvModal.hide('clone_event');
                            }
                        }).catch(e => {
                            _that.isLoading = false;
                            alert("Error: " + e)
                        })
                },
                mergeData() {
                    //alert(1);
                    let _that = this
                    let _form = new FormData()

                    if (_that.mergeItem.Name == '') {
                        alert("Chưa điền tên bài giảng");
                        this.$refs["mergeName"].focus();
                        return false;
                    }

                    if (_that.mergeItem.JoinCourseID == '') {
                        alert("Chưa chọn bài giảng được ghép");
                        return false;
                    }

                    if (_that.mergeItem.SubjectID == '') {
                        alert("Chưa chọn chương trình");
                        return false;
                    }

                    if (_that.mergeItem.SkillID == '') {
                        alert("Chưa chọn kỹ năng");
                        return false;
                    }

                    if (_that.mergeItem.GradeID == '') {
                        alert("Chưa chọn cấp độ");
                        return false;
                    }

                    if (_that.mergeItem.Center == '') {
                        alert("Chưa chọn cơ sở");
                        return false;
                    }

                    //if ($("#joinCourseID option:selected").val())

                    //if ($("#newName").val() == "" || $("#newName").val() == null) {
                    //    alert("Chưa ghi tên chương mới sau khi ghép");
                    //    return false;
                    //}

                    _form.append('CourseID', _that.mergeItem.OriginID)
                    _form.append('GradeID', _that.mergeItem.GradeID)
                    _form.append('SubjectID', _that.mergeItem.SubjectID)
                    _form.append('SkillID', _that.mergeItem.SkillID)
                    _form.append('Center', _that.mergeItem.Center)
                    //_form.append('Name', $("#newName").val())
                    _form.append('Name', _that.mergeItem.Name)
                    _form.append('Description', _that.mergeItem.Description)
                    //_form.append('joinCourseID', $("#joinCourseID option:selected").val())
                    _form.append('joinCourseID', _that.mergeItem.JoinCourseID)
                    let _url = '@processUrl("MergeCourse","Curriculum")'
                    _that.isLoading = true
                    axios.post(_url, _form)
                        .then(response => {
                            _that.isLoading = false
                            console.log(response.data);
                            if (response.data.error != null)
                                Swal.fire({
                                    title: 'Có lỗi',
                                    html: response.data.error,
                                    icon: 'error'
                                });
                            else {
                                Swal.fire({
                                    title: 'Hoàn thành',
                                    html: 'Bài giảng đã sao chép thành công!',
                                    icon: 'success'
                                });
                                this.getData();
                                _that.$bvModal.hide('merge_event');
                            }
                        }).catch(e => {
                            _that.isLoading = false;
                            alert("Error: " + e)
                        })
                },
                formatShortDate(date) {
                    if (moment(date) < moment(new Date(2000, 1, 1))) return "-"
                    return moment(date).format("DD/MM/YYYY")
                },
                goPage(pgIdx) {
                    if (pgIdx < 1) pgIdx = 1;
                    if (pgIdx > this.max_page)
                        pgIdx = this.max_page;
                    this.page = pgIdx;
                    this.getData();
                },
                hideModal() {
                    $('.close').click();
                },
                getEditTitle() {
                    if (this.addItem.id == '')
                        return 'Thêm bài giảng mới';
                    else return 'Cập nhật nội dung';
                },
                removeItem(obj) {
                    if (confirm('Confirm delete "' + obj.Name  + '"')) {
                    let _that = this
                    let _form = new FormData()
                    _form.append('ArrID', obj.ID)
                    let _url = '@processUrl("Remove","Curriculum")'
                    axios.post(_url, _form)
                        .then(response => {
                            console.log(response.data);
                            if (response.data.Error != null)
                                alert(response.data.Error)
                            else {
                                this.getData();
                                _that.$bvModal.hide('modal_event');
                            }
                        }).catch(e => {
                            alert("Error: " + e)
                        })
                    }
                },
                errorImgUrl() {

                },
                chooseFile(obj) {
                    $(obj).siblings("input[type=file]").focus().click()
                },
                updateFile(obj) {
                    //$(obj).siblings(".btnAddfile").text(obj.files[0].name);
                    readURL(obj);
                },
                readURL(input) {
                    if(input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $(input).siblings("img").attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                    }
                },
                toggleSelect(st = false) {
                    if (st) {
                        this.displayStudentSelect = !this.displayStudentSelect
                        this.displaySelect = false;
                    }
                    else {
                        this.displaySelect = !this.displaySelect
                        this.displayStudentSelect = false;
                    }
                },
                checkToggle(st = false) {
                    if (!st) {
                        this.addItem.SelectAll = (this.addItem.TargetCenters.length == this.list_centers.length)
                        this.addItem.NameCenters = ''
                        for (i = 0; i < this.list_centers.length; i++) {
                            for (j = 0; j < this.addItem.TargetCenters.length; j++) {
                                if (this.list_centers[i].ID == this.addItem.TargetCenters[j]) {
                                    this.addItem.NameCenters += this.list_centers[i].Name + '; '
                                }
                            }
                        }
                    }
                    else {
                        this.addItem.StudentSelectAll = (this.addItem.StudentTargetCenters.length == this.list_centers.length)
                        this.addItem.StudentNameCenters = ''
                        for (i = 0; i < this.list_centers.length; i++) {
                            for (j = 0; j < this.addItem.StudentTargetCenters.length; j++) {
                                if (this.list_centers[i].ID == this.addItem.StudentTargetCenters[j]) {
                                    this.addItem.StudentNameCenters += this.list_centers[i].Name + '; '
                                }
                            }
                        }
                    }
                },
                checkToggleAll(st = false) {
                    var _that = this
                    if (!st) {
                        _that.addItem.TargetCenters = []
                        if (_that.addItem.SelectAll) {
                            _that.list_centers.forEach(function (item, pos) {
                                _that.addItem.TargetCenters.push(item.ID)
                            })
                        }
                    }
                    else {
                        _that.addItem.StudentTargetCenters = []
                        if (_that.addItem.StudentSelectAll) {
                            _that.list_centers.forEach(function (item, pos) {
                                _that.addItem.StudentTargetCenters.push(item.ID)
                            })
                        }
                    }
                    _that.checkToggle(st)
                },
                exportExcel(tableid) {
                    var _filename = "Danh sách bài giảng";
                    var uri = 'data:application/vnd.ms-excel;base64,'
                        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; charset=utf-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><style>.text-style{mso-number-format:"#?/?"}</style></head><body><table>{table}</table></body></html>'
                        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                    //var table = document.getElementById("ed_table");
                    var table = document.getElementById(tableid);
                    //console.log(tableid);
                    //var table = $('#' + tableid);
                    var ctx = { worksheet: 'Worksheet', table: table.innerHTML }
                    //window.location.href = uri + base64(format(template, ctx));
                    var link = document.createElement('a');
                    if (typeof link.download === 'string') {
                        link.href = uri + base64(format(template, ctx));
                        link.download = _filename;
                        //Firefox requires the link to be in the body
                        document.body.appendChild(link);
                        //simulate click
                        link.click();
                        //remove the link when done
                        document.body.removeChild(link);
                    } else {
                        window.open(uri + base64(format(template, ctx)));
                    }
                },
            }
        });

        //lazy load
        Vue.use(VueLazyload, {
            preLoad: 1.3,
            error: '~/pictures/book.jpg',
            //loading: '~/img/Spin-1.8s-200px.gif',
            attempt: 1,
            // the default is ['scroll', 'wheel', 'mousewheel', 'resize', 'animationend', 'transitionend']
            //listenEvents: ['scroll']
        })
    </script>
}
@section Modals{
    <b-modal id="modal_event" centered v-bind:title="getEditTitle()" size="xl">
        <b-col class="form-group">
            <label for="">Tên bài giảng *</label>
            <input type="text" name="" value="" class="form-control" placeholder="Tên bài giảng" v-model="addItem.Name" ref="addName">
        </b-col>
        <div class="d-flex">
            <b-col class="form-group">
                <label for="">Chương trình</label>
                <select class="form-control" v-model="addItem.SubjectID">
                    <option value="">Chọn chương trình</option>
                    <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Cấp độ</label>
                <select class="form-control" v-model="addItem.GradeID">
                    <option value="">Chọn cấp độ</option>
                    <option v-for="(item,k) in list_grades_full" :value="item.ID" v-if="item.SubjectID == addItem.SubjectID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group d-none">
                <label for="">Môn học</label>
                <select class="form-control" v-model="addItem.SkillID">
                    <option value="">Chọn môn học</option>
                    <option v-for="(item,k) in list_skills" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
        </div>
        <div class="d-flex">
            <b-col class="form-group col-md-2 col-sm-12" style="padding-left:0px">
                <label for="" class="col-sm-6">Chia sẻ</label>
            </b-col>
            <b-col class="form-group col-md-5 col-sm-12">
                @*<label for="" class="col-sm-2">Chọn cơ sở</label>*@
                <div class="col-sm-12 row" style="position:relative">
                    <div class="col-md-3 col-sm-12">
                        <button type="button" tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" v-on:click="toggleSelect()">
                            Giáo viên <span class="caret"></span>
                        </button>
                    </div>
                    <div class="col-md-9 col-sm-12" v-on:click="toggleSelect()">
                        <input type="text" class="form-control " v-model="addItem.NameCenters" disabled />
                    </div>
                    <div class="col-md-9" style="position:absolute;right:0;top:40px;z-index:2" v-if="displaySelect">
                        <div id="selectCenters">
                            <ul class="classSelect" role="menu" style="overflow-y:auto; height:100px; list-style:none; padding: 7px; border: solid 1px #CCC; background: #FFF;">
                                <li>
                                    <a>
                                        <input type="checkbox" v-model="addItem.SelectAll" v-on:change="checkToggleAll()" /><span class="lbl"> Chọn tất cả </span>
                                    </a>
                                </li>
                                <li v-for="(item,k) in list_centers">
                                    <a>
                                        <input type="checkbox" :value="item.ID" v-model="addItem.TargetCenters" /><span class="lbl"> {{item.Name}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </b-col>
            <b-col class="form-group col-md-5 col-sm-12">
                @*<label for="" class="col-sm-2">Chọn cơ sở</label>*@
                <div class="col-sm-12 row" style="position:relative">
                    <div class="col-md-3 col-sm-12">
                        <button type="button" tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" v-on:click="toggleSelect(true)">
                            Học sinh <span class="caret"></span>
                        </button>
                    </div>
                    <div class="col-md-9 col-sm-12" v-on:click="toggleSelect(true)">
                        <input type="text" class="form-control " v-model="addItem.StudentNameCenters" disabled />
                    </div>
                    <div class="col-md-9" style="position:absolute;right:0;top:40px;z-index:2" v-if="displayStudentSelect">
                        <div id="selectCenters">
                            <ul class="classSelect" role="menu" style="overflow-y:auto; height:100px; list-style:none; padding: 7px; border: solid 1px #CCC; background: #FFF;">
                                <li>
                                    <a>
                                        <input type="checkbox" v-model="addItem.StudentSelectAll" v-on:change="checkToggleAll(true)" /><span class="lbl"> Chọn tất cả </span>
                                    </a>
                                </li>
                                <li v-for="(item,k) in list_centers">
                                    <a>
                                        <input type="checkbox" :value="item.ID" v-model="addItem.StudentTargetCenters" /><span class="lbl"> {{item.Name}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </b-col>
            @*<b-col class="form-group col-md-3 col-sm-12" style="padding-left:0px" v-if="addItem.IsPublic">
                    <label for="" class="col-sm-10">Chia sẻ với học viên: </label>
                    <input type="checkbox" style="margin:auto" v-model="addItem.PublicWStudent" />
                </b-col>*@
        </div>
        <div>
            <b-col class="form-group">
                <label for="">Giáo viên soạn thảo</label>
                <select class="form-control" v-model="addItem.TeacherID" style="z-index:1">
                    <option value="">Chọn giáo viên</option>
                    <option v-for="(item,k) in list_teacher" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
        </div>
        <div>
            <b-col class="form-group">
                <label for="">Bìa sách</label>
                <div>
                    <button class="btn btn-info" onclick="chooseFile(this)">Chọn file</button>
                    <input type="file" name="cover" class="d-none" onchange="updateFile(this)" accept="image/jpeg,image/png,image/gif,image/bmp">
                    <img :src="cacheStatic(addItem.Image,100)" v-if="addItem.Image != null" />
                </div>
            </b-col>
        </div>
        <b-col class="form-group">
            <label for="">Mô tả</label>
            <quill-editor v-model="addItem.Description"
                          ref="quillEditorA"
                          :options="editorOption">
            </quill-editor>
        </b-col>
        <template v-slot:modal-footer="{ ok, cancel}">
            <template v-if="isLoading">
                <b-button>Đang thực hiện...</b-button>
            </template>
            <template v-else>
                <b-button variant="success" v-on:click="addData()">Lưu</b-button>
                <b-button variant="danger" v-on:click="hideModal()">Huỷ</b-button>
            </template>
        </template>
    </b-modal>

    <b-modal id="clone_event" centered title="Sao chép bài giảng">
        <input type="hidden" name="OriginID" v-model="cloneItem.OriginID" />
        <b-col class="form-group">
            <label class="col-form-label">Bài giảng gốc:</label>
            <input type="text" class="form-control lock" id="rootCourseName" :value="cloneItem.OriginName" readonly>
        </b-col>
        <b-col class="form-group">
            <label for="">Tên bài giảng *</label>
            <input type="text" name="" value="" class="form-control" placeholder="Tên bài giảng" v-model="cloneItem.Name" ref="cloneName">
        </b-col>
        <div class="d-flex">
            <b-col class="form-group">
                <label for="">Chương trình</label>
                <select class="form-control" v-model="cloneItem.SubjectID">
                    <option value="">Chọn chương trình</option>
                    <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Cấp độ</label>
                <select class="form-control" v-model="cloneItem.GradeID">
                    <option value="">Chọn cấp độ</option>
                    <option v-for="(item,k) in list_grades_full" :value="item.ID" v-if="item.SubjectID == cloneItem.SubjectID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Môn học</label>
                <select class="form-control" v-model="cloneItem.SkillID">
                    <option value="">Chọn môn học</option>
                    <option v-for="(item,k) in list_skills" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>

            <b-col class="form-group">
                <label for="">Cơ sở</label>
                <select class="form-control" v-model="cloneItem.Center">
                    <option value="">Chọn cơ sở</option>
                    <option v-for="(item,k) in list_centers" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
        </div>
        <b-col class="form-group">
            <label for="">Mô tả</label>
            <quill-editor v-model="cloneItem.Description"
                          ref="quillEditorA"
                          :options="editorOption">
            </quill-editor>
        </b-col>
        <template v-slot:modal-footer="{ ok, cancel}">
            <template v-if="isLoading">
                <b-button>Đang thực hiện...</b-button>
            </template>
            <template v-else>
                <b-button variant="success" v-on:click="cloneData()">Lưu</b-button>
                <b-button variant="danger" v-on:click="hideModal()">Huỷ</b-button>
            </template>
        </template>
    </b-modal>


    <!--Hoa them 02-08-2020-->
    <b-modal id="merge_event" centered title="Ghép bài giảng">
        <input type="hidden" name="OriginID" v-model="mergeItem.OriginID" />
        <b-col class="form-group">
            <label class="col-form-label">Bài giảng gốc:</label>
            <input type="text" class="form-control lock" id="rootCourseName" :value="mergeItem.OriginName" readonly>
        </b-col>
        <b-col class="form-group">
            <label class="col-form-label">Ghép với bài giảng:</label>
            @*<input type="text" class="form-control lock" id="joinCourseName" :value="mergeItem.OriginName">*@
            <select v-model="mergeItem.JoinCourseID" class="form-control" required>
                <option value="">Chọn khóa học</option>m
                <option v-for="(item) in list_courses" v-if="item.ID!=mergeItem.OriginID && item.SubjectID == mergeItem.SubjectID" :value="item.ID">{{item.Name}}</option>
            </select>
        </b-col>
        <b-col class="form-group">
            <label for="">Tên bài giảng mới *</label>
            <input type="text" name="" value="" class="form-control" placeholder="Tên bài giảng mới" v-model="mergeItem.Name" ref="mergeName">
            @*<input type="text" name="" value="" class="form-control" placeholder="Tên bài giảng mới" id="newName" required>*@
        </b-col>
        <div class="d-flex">
            <b-col class="form-group">
                <label for="">Chương trình</label>
                <select class="form-control" v-model="mergeItem.SubjectID">
                    <option value="">Chọn chương trình</option>
                    <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Cấp độ</label>
                <select class="form-control" v-model="mergeItem.GradeID">
                    <option value="">Chọn cấp độ</option>
                    <option v-for="(item,k) in list_grades_full" :value="item.ID" v-if="item.SubjectID == mergeItem.SubjectID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Môn học</label>
                <select class="form-control" v-model="mergeItem.SkillID">
                    <option value="">Chọn môn học</option>
                    <option v-for="(item,k) in list_skills" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>

            <b-col class="form-group">
                <label for="">Cơ sở</label>
                <select class="form-control" v-model="mergeItem.Center">
                    <option value="">Chọn cơ sở</option>
                    <option v-for="(item,k) in list_centers" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
        </div>
        <b-col class="form-group">
            <label for="">Mô tả</label>
            <quill-editor v-model="mergeItem.Description"
                          ref="quillEditorA"
                          :options="editorOption">
            </quill-editor>
        </b-col>
        <template v-slot:modal-footer="{ ok, cancel}">
            <template v-if="isLoading">
                <b-button>Đang thực hiện...</b-button>
            </template>
            <template v-else>
                <b-button variant="success" v-on:click="mergeData()">Lưu</b-button>
                <b-button variant="danger" v-on:click="hideModal()">Huỷ</b-button>
            </template>
        </template>
    </b-modal>
}

