@{
    ViewData["Title"] = "Curriculums";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var listGrade = ViewBag.Grade as List<BaseCustomerEntity.Database.GradeEntity>;
    var listSubject = ViewBag.Subject as List<BaseCustomerEntity.Database.SubjectEntity>;
    var listModGrade = ViewBag.ModGrade as List<BaseCustomerEntity.Database.ModGradeEntity>;
    var listModSubject = ViewBag.ModSubject as List<BaseCustomerEntity.Database.ModSubjectEntity>;
    var user = ViewBag.User as string;
    var role = ViewBag.RoleCode as string;
}

<script>
    activeTab = "curriculum";
</script>


<div class="left-col">
    <div class="page-title row">
        <h1 class="col-md-11">@ViewData["Title"]</h1>
        <div class="col-md-1 text-right">
            <button type="button" onclick="addCourse()" class="btn btn-primary" data-placement="top" title="Add Curriculum" data-toggle="modal" data-target="#courseModal"> <i class="fas fa-plus"></i> </button>
        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="main-container">
        <div class="search-filter pt-3">
            <div class="form-row">
                <div class="form-group row col-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Subject</label>
                    <div class="col-sm-8">
                        <select id="SubjectID" class="form-control" onchange="LoadGrade(this)">
                            <option value="">---</option>
                            @{
                                for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                                {
                                    <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-4 offset-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Grade</label>
                    <div class="col-sm-8">
                        <select id="GradeID" class="form-control" onchange="LoadCourse()">
                            <option value="" for="all">---</option>
                            @{
                                for (int i = 0; listGrade != null && i < listGrade.Count; i++)
                                {
                                    <option value="@listGrade[i].ID" for="@listGrade[i].SubjectID">@listGrade[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <table id="tblCurriculum" class="table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-left">STT</th>
                    <th class="text-left">Title</th>
                    <th class="text-left">Subject</th>
                    <th class="text-left">Grade</th>
                    @*<th class="text-center">Người tạo</th>*@
                    <th class="text-center">Create Date</th>
                    <th class="text-center">
                        Status
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @if (role == "head-teacher")
        {
            <div class="card shadow clone mt-4">
                <div class="card-header">
                    <h4 class="m-0 font-weight-bold text-primary">Curriculum Store</h4>
                </div>
                <div class="card-body">
                    <div class="search-filter">
                        <div class="form-row">
                            <div class="form-group row col-md-4">
                                <label for="staticText" class="col-sm-12 col-md-4 col-form-label">Subjects:</label>
                                <div class="col-sm-12  col-md-8">
                                    <select id="ModSubjectID" class="form-control" onchange="LoadModGrade(this)">
                                        @{
                                            for (int i = 0; listModSubject != null && i < listModSubject.Count; i++)
                                            {
                                                <option value="@listModSubject[i].ID">@listModSubject[i].Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row col-md-4 offset-md-4">
                                <label for="staticText" class="col-sm-4 col-form-label">Grade:</label>
                                <div class="col-sm-8">
                                    <select id="ModGradeID" class="form-control" onchange="LoadModCourse()">
                                        @{
                                            for (int i = 0; listModGrade != null && i < listModGrade.Count; i++)
                                            {
                                                <option value="@listModGrade[i].ID" for="@listModGrade[i].SubjectID">@listModGrade[i].Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modCourseWrapper" class="card-deck">
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- End of Main Content -->
</div>

@section Modals{

    <div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="courseModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Create curriculum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("CreateOrUpdate","Curriculum")" id="modal-body" name="cloneForm" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="ID" />
                        <input type="hidden" name="CreateUser" value="@user" />
                        <input type="hidden" name="IsActive" value="false" />
                        <div class="form-group">
                            <label class="col-form-label">Title:</label>
                            <input type="text" class="form-control" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Subject:</label>
                            <select name="SubjectID" class="form-control" onchange="ChangeGrade(this, 'select[name=GradeID]')">
                                @{
                                    for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                                    {
                                        <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Grade:</label>
                            <select name="GradeID" class="form-control">
                                @{
                                    for (int i = 0; listGrade != null && i < listGrade.Count; i++)
                                    {
                                        <option value="@listGrade[i].ID" for="@listGrade[i].SubjectID">@listGrade[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" name="Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="return Submit('cloneForm', '@Url.Action("CreateOrUpdate","Curriculum")','update' , ReloadCourse)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="cloneModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Get curriculum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("Clone","Curriculum")" id="modal-body" name="modalForm" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="CourseID" id="rootCourseID" />
                        <input type="hidden" name="CreateUser" value="@user" />
                        <input type="hidden" name="IsActive" value="false" />
                        <div>
                            <div class="form-group">
                                <label class="col-form-label">Original:</label>
                                <input type="text" class="form-control lock" id="rootCourseName" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Title:</label>
                            <input type="text" class="form-control" name="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Subject:</label>
                            <select name="SubjectID" class="form-control" onchange="ChangeGrade(this, 'select[name=GradeID]')" required>
                                <option value="">--- Choose subject ---</option>
                                @{
                                    for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                                    {
                                        <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Grade:</label>
                            <select name="GradeID" class="form-control" required>
                                <option value="">--- Choose grade ---</option>
                                @{
                                    for (int i = 0; listGrade != null && i < listGrade.Count; i++)
                                    {
                                        <option value="@listGrade[i].ID" for="@listGrade[i].SubjectID" style="display:none">@listGrade[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" name="Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="return Submit('modalForm', '@Url.Action("Clone","Curriculum")','update' , ReloadCourse)">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>

    var modal = $(".modal");
    var modalTitle = $("#modalTitle");
    var containerLesson = $("#lessonContainer");
    var userID = "";
    var clientID = "";

    function LoadCourse() {
        var searchText = $("#searchText").val();
        var subject = $("#SubjectID").val();
        var grade = $("#GradeID").val();
        showLoading();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "Curriculum")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade },
            dataType:"json",
            success: function (data) {
                var body = $('#tblCurriculum tbody');
                body.html("");
                if (data.Data.length > 0)
                {

                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "";
                        if (item.IsActive) {
                            active = "<td class='text-center'><div class='custom-control custom-switch'><input id='tgs" + item.ID + "' type=\"checkbox\" class=\"custom-control-input\" onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("unpublish", "Curriculum")',ToggleSwitch(this))\" checked /><label class=\"custom-control-label\" for=\"tgs" + item.ID + "\"> </label> </div></td>";
                        }
                        else {
                            active = "<td class='text-center'><div class='custom-control custom-switch'><input id='tgs" + item.ID + "' type=\"checkbox\" class=\"custom-control-input\" onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("publish", "Curriculum")',ToggleSwitch(this))\"><label class=\"custom-control-label\" for=\"tgs" + item.ID + "\"> </label> </div></td>";
                        }
                        var created = $.datepicker.formatDate('dd/mm/yy', new Date(item.Created));

                        body.append("<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td class=\"Name\"><a href='@Url.Action("Detail","Curriculum")/" + item.ID + "'>" + item.Name + "</td>" +
                            "<td class=\"Subject\" val=\"" + item.SubjectID + "\">" + item.SubjectName + "</td>" +
                            "<td class=\"Grade\" val=\"" + item.GradeID + "\">" + item.GradeName + "</td>" +
                            //"<td class=\"Description\">" + (item.Description == null ? "": item.Description) + "</td>" +
                            //"<td>" + item.TeacherName + "</td>" +
                            "<td class='text-center'>" + created + "</td>" + active +
                            "<td class='text-center'><button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#courseModal\"  onclick=\"EditCourse(this,'" + item.ID + "')\" data-placement=\"top\" title=\"Edit\"> <i class=\"fas fa-edit\"></i> </button>" +
                            "<button type=\"button\" class=\"btn btn-remove btn-danger\" onclick=\"if(confirm('Chắc chắn xóa?')){ showLoading(); ExcuteOnlyItem('" + item.ID + "', '@Url.Action("Remove","Curriculum")', ReloadCourse)}\" data-placement=\"top\" title=\"Remove\"> <i class=\"fas fa-trash\"></i> </button></td>" +
                            "</tr>"
                        );
                    }
                    $('.btn').tooltip({trigger : 'hover'});
                }
                hideLoading();
            },
            error: function() {
                alert("Error");
                hideLoading();
            }
        });
    };

    function LoadModCourse() {
        var searchText = $("#searchText").val();
        var subject = $("#ModSubjectID").val();
        var grade = $("#ModGradeID").val();
        showLoading();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetModList", "Curriculum")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade },
            dataType:"json",
            success: function (data) {
                var body = $('#modCourseWrapper');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "<td><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";

                        body.append("<div class='item mb-4 col-md-4 col-lg-3'>" +
                            "<div class='card'>" +
                            "<img src='../img/english.jpg' class='img-fluid lazy' alt='...'>" +
                            "<div class='card-body'>" +
                                "<h5 class=\"card-title\">" + item.Name + "</h5>" +
                                "<p class=\"card-text\">" + item.Name + "</p>" +
                                "<button type=\"button\" class=\"btn btn-primary\" data-toggle='modal' data-target='#cloneModal' onclick=\"ShowClone('" + item.ID + "','" + item.Name + "')\"><i class=\"fas fa-download mr-2\"></i>Get</button>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );
                    }
                }
                hideLoading();
            },
            error: function() {
                alert("Error");
                hideLoading();
            }
        });
    };

    function ShowClone(id, name) {
        $('#rootCourseID').val(id);
        $('#rootCourseName').val(name);
    }

    function ChangeGrade(obj, wrapper) {
        var subject = $(obj).val();
        var grade = $(wrapper).val();
        if(subject == "") subject = "---";
        if(grade == "") grade = "---";
        $(wrapper).find('option[for!=' + subject + ']').hide();
        $(wrapper).find('option[for=' + subject + ']').show();
        $(wrapper).find('option[for=all]').show();
        if ($(wrapper).find('option[for!=' + subject + '][value=' + grade + ']:visible').length == 0) {
            $(wrapper).val($(wrapper).find('option[for=' + subject + ']:first').attr('value'));
        }
    }

    function LoadGrade(obj) {
        ChangeGrade(obj,'#GradeID');
        LoadCourse();
    }

    function LoadModGrade(obj) {
        ChangeGrade(obj,'#ModGradeID');
        LoadModCourse();
    }

    $(document).ready(function () {
        LoadGrade($("#SubjectID"));
        LoadModGrade($("#ModSubjectID"));
    });

    function EditCourse(obj, ID) {
        modalTitle.text("Update Info");
        var name = $(obj).parent().siblings(".Name").text().trim();
        modal.find("[name=Name]").val(name);
        var subject = $(obj).parent().siblings(".Subject").attr("val");
        var grade = $(obj).parent().siblings(".Grade").attr("val");
        var sbj = modal.find("[name=SubjectID]");
        var grd = modal.find("[name=GradeID]");
        sbj.val(subject);
        ChangeGrade(sbj,grd);
        $(grd).val(grade);
        var description = $(obj).parent().siblings(".Description").text().trim();
        modal.find("[name=Description]").val(description);
        modal.find("[name=ID]").val(ID);
    }

    function addCourse() {
        modalTitle.text("Create curriculum");
        modal.find("[name=Name]").val("");
        modal.find("[name=ID]").val("");
        modal.find("[name=Description]").val("");
        var sbj = modal.find("[name=SubjectID]");
        var grd = modal.find("[name=GradeID]");
        ChangeGrade(sbj,grd);
    }

    function ReloadCourse(e){
        console.log(e);
        hideLoading();
        hideModal();
        LoadCourse();
    }

    var showModal = function () {
        modal.modal('show');
    };

    var hideModal = function () {
        modal.modal('hide');
        };

    </script>
}