@{
    ViewData["Title"] = "Curriculum - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
    var subjects = ViewBag.Subjects as List<BaseCustomerEntity.Database.SubjectEntity>;
    var grades = ViewBag.Grades as List<BaseCustomerEntity.Database.GradeEntity>;
}
<!-- Include vue-quill-editor -->
<script src="../libs/quill-editor/quill.min.js"></script>
<script src="../libs/quill-editor/quill-vue.min.js"></script>
<link href="../libs/quill-editor/quill.core.css" rel="stylesheet">
<link href="../libs/quill-editor/quill.snow.css" rel="stylesheet">
<link href="../libs/quill-editor/quill.bubble.css" rel="stylesheet">
<script>
    setActiveMenu("curriculum");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25 justify-content-between">
            <div class="flex">
                <div class="box filter-box w-152">
                    <select v-model="subject">
                        <option value="">Môn học</option>
                        <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select name="" v-model="grade">
                        <option value="">Cấp độ</option>
                        <option v-for="(item,k) in list_grades" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <b-button class="btn-addevent" v-on:click="showEditItem()"><i class="ti-plus"></i> Thêm bài giảng</b-button>
        </div>
    </div>
    <div class="card-body">
        <table id="ed_table" class="table">
            <thead>
                <tr>
                    <th v-for="(field,k) in fields">{{field.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,k) in list_data" v-if="item.ID">
                    <td>{{(page - 1) * view + (k+1)}}</td>
                    <td>
                        <a :href="'@Url.Action("Detail","Curriculum")/' + item.ID" :title="item.Name">
                            {{item.Name}}
                        </a>
                    </td>
                    <td>{{item.SubjectName}}</td>
                    <td>{{item.GradeName}}</td>
                    <td>{{formatShortDate(item.Created)}}</td>
                    <td><b-form-checkbox switch v-model="item.IsActive" v-on:change="toggleState(item)"></b-form-checkbox></td>
                    <td>
                        <div class="d-flex btn-group">
                            <a class="btn-act btn-edit" href="javascript:;" v-on:click="showEditItem(item)"><i class="ti-pencil-alt"></i></a>
                            <button class="btn-act btn-trash" v-on:click="removeItem(item)"><i class="ti-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box margin-t20 flex">
            <div class="paging-view">
                Hiển thị:
                <select v-model="view" v-on:change="getData()">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="inner">
                    <button v-on:click="goPage(0)"><i class="ti-angle-left"></i></button>
                    <button v-on:click="goPage(page - 1)"><i class="ti-angle-double-left"></i></button>
                    <input type="text" v-model="page" v-on:change="getData()" />
                    <button v-on:click="goPage(page + 1)"><i class="ti-angle-double-right"></i></button>
                    <button v-on:click="goPage(max_page)"><i class="ti-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        Vue.use(VueQuillEditor)
        new Vue({
            el: "#main",
             mounted() {
                 this.list_subject = @Html.Raw(Json.Serialize(subjects));
                 this.list_grades_full = @Html.Raw(Json.Serialize(grades));
                 this.changeSubject()
            },
            components: {
          	    LocalQuillEditor: VueQuillEditor.quillEditor
            },
            data: {
                editorOption: {
                    theme: 'snow'
                },
                fields: [
                    {
                        key: 'stt',
                        label: '#'
                    },
                    {
                        key: 'lesson_name',
                        label: 'Tên bài giảng'
                    },
                    {
                        key: 'subject_name',
                        label: 'Môn học'
                    },
                    {
                        key: 'level',
                        label: 'Cấp độ'
                    },
                    {
                        key: 'created_at',
                        label: 'Ngày tạo'
                    },
                    {
                        key: 'state',
                        label: 'Trạng thái'
                    },
                    {
                        key: 'actions',
                        label: 'Tác vụ'
                    }
                ],
                list_data: [],
                list_subject: [],
                list_grades_full: [],
                list_grades: [],
                list_add_grades: [],
                addItem: {
                    ID: '',
                    Name: '',
                    SubjectID: '',
                    GradeID: '',
                    Description: '',
                    Init: false
                },
                subject: '',
                grade: '',
                view: 10,
                hPage: 1,
                pageSize: 10,
                max_page: 0,
                componentKey: 0
            },
             computed: {
                page: {
                    get() {
                        return parseInt(this.hPage);
                    },
                    set(value) {
                        console.log(value);
                        this.hPage = value;
                    }
                 },
                 add_subject() {
                     return this.addItem.SubjectID;
                 }
            },
            watch: {
                subject: function () {
                    this.changeSubject();
                },
                grade: function () {
                    this.changeGrade();
                },
                add_subject: function () {
                    this.changeAddSubject();
                }
            },
            methods: {
                getData() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('GradeID', _that.grade)
                    _form.append('SubjectID', _that.subject)
                    _form.append('PageSize', _that.view)
                    _form.append('PageIndex', _that.page)
                    let _url = '@Url.Action("GetList", "Curriculum")'
                    axios.post(_url, _form)
                        .then(response => {
                            console.log(response.data);
                            _that.list_data = response.data.Data;
                            var tt = response.data.Model.totalRecord;
                            this.max_page = tt / this.view + (tt % this.view > 0 ? 1 : 0);
                            //console.log(_that.active_course);
                        }).catch(e => { })
                },
                changeSubject() {
                    let _that = this
                    _that.list_grades = [];
                    for (i = 0; i < _that.list_grades_full.length; i++)
                    {
                        if (_that.list_grades_full[i].SubjectID == _that.subject) {
                            _that.list_grades.push(_that.list_grades_full[i])
                        }
                    }
                    _that.grade = ""
                    _that.changeGrade()
                },
                changeAddSubject() {
                    let _that = this
                    _that.list_add_grades = [];
                    for (i = 0; i < _that.list_grades_full.length; i++)
                    {
                        if (_that.list_grades_full[i].SubjectID == _that.addItem.SubjectID) {
                            _that.list_add_grades.push(_that.list_grades_full[i])
                        }
                    }
                    if (_that.addItem.Init)
                        _that.addItem.Init = false
                    else
                        _that.addItem.GradeID = ""
                },
                changeGrade() {
                    let _that = this
                    _that.getData()
                },
                toggleState(obj) {
                    let _that = this;
                    _that.list_data.forEach(function (item, k) {
                        if (item.ID === obj.ID) {
                            let _url = item.IsActive ? '@Url.Action("Unpublish", "Curriculum")' : '@Url.Action("Publish", "Curriculum")'
                            let _form = new FormData()
                            _form.append('ArrID', item.ID);
                            axios.post(_url, _form)
                                .then(response => {
                                    console.log('update ok');
                                    //item.IsActive = !item.IsActive;
                                    //_that.list_data[k].IsActive = !_that.list_data[k].IsActive;
                                }).catch(e => { })
                        }
                    })
                },
                showEditItem(obj) {
                    let _that = this;
                    if (obj == null) {
                        _that.addItem.ID = '';
                        _that.addItem.SubjectID = '';
                        _that.addItem.GradeID = '';
                        _that.addItem.Description = '';
                        _that.addItem.Name = '';
                    }
                    else {
                        console.log(obj.GradeID)
                        _that.addItem.ID = obj.ID;
                        _that.addItem.SubjectID = obj.SubjectID;
                        _that.addItem.Init = true;
                        _that.addItem.GradeID = obj.GradeID;
                        _that.addItem.Description = obj.Description;
                        _that.addItem.Name = obj.Name;
                    }
                    _that.$bvModal.show('modal_event')
                },
                addData() {
                    let _that = this
                    let _form = new FormData()

                    if (_that.addItem.Name == '') {
                        alert("Please fill in required fields");
                        this.$refs["addName"].focus();
                        return false;
                    }

                    if (_that.addItem.SubjectID == '') {
                        alert("Please select subject");
                        return false;
                    }

                    if (_that.addItem.GradeID == '') {
                        alert("Please select grade");
                        return false;
                    }

                    _form.append('ID', _that.addItem.ID)
                    _form.append('GradeID', _that.addItem.GradeID)
                    _form.append('SubjectID', _that.addItem.SubjectID)
                    _form.append('Name', _that.addItem.Name)
                    _form.append('Description', _that.addItem.Description)
                    let _url = '@Url.Action("CreateOrUpdate","Curriculum")'
                    axios.post(_url, _form)
                        .then(response => {
                            console.log(response.data);
                            if (response.data.Error != null)
                                alert(response.data.Error)
                            else {
                                this.getData();
                                _that.$bvModal.hide('modal_event');
                            }
                        }).catch(e => {
                            alert("Error: " + e)
                        })
                },
                formatShortDate(date) {
                    if (moment(date) < moment(new Date(2000, 1, 1))) return "-"
                    return moment(date).format("DD/MM/YYYY")
                },
                goPage(pgIdx) {
                    if (pgIdx < 1) pgIdx = 1;
                    if (pgIdx > this.max_page)
                        pgIdx = this.max_page;
                    this.page = pgIdx;
                    this.getData();
                },
                hideModal() {
                    $('.close').click();
                },
                getEditTitle() {
                    if (this.addItem.id == '')
                        return 'Thêm bài giảng mới';
                    else return 'Cập nhật nội dung';
                },
                removeItem(obj) {
                    if (confirm('Confirm delete "' + obj.Name  + '"')) {
                    let _that = this
                    let _form = new FormData()
                    _form.append('ArrID', obj.ID)
                    let _url = '@Url.Action("Remove","Curriculum")'
                    axios.post(_url, _form)
                        .then(response => {
                            console.log(response.data);
                            if (response.data.Error != null)
                                alert(response.data.Error)
                            else {
                                this.getData();
                                _that.$bvModal.hide('modal_event');
                            }
                        }).catch(e => {
                            alert("Error: " + e)
                        })
                    }
                }
            }
        });
    </script>
}
@section Modals{
    <b-modal id="modal_event" centered v-bind:title="getEditTitle()">
        <b-col class="form-group">
            <label for="">Tên bài giảng *</label>
            <input type="text" name="" value="" class="form-control" placeholder="Tên bài giảng" v-model="addItem.Name" ref="addName">
        </b-col>
        <div class="d-flex">
            <b-col class="form-group">
                <label for="">Môn học</label>
                <select class="form-control" v-model="addItem.SubjectID">
                    <option value="">Chọn khoá học</option>
                    <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
            <b-col class="form-group">
                <label for="">Cấp độ</label>
                <select class="form-control" v-model="addItem.GradeID">
                    <option value="">Chọn cấp độ</option>
                    <option v-for="(item,k) in list_add_grades" :value="item.ID">{{item.Name}}</option>
                </select>
            </b-col>
        </div>
        <b-col class="form-group">
            <label for="">Mô tả</label>
            <quill-editor v-model="addItem.Description"
                          ref="quillEditorA"
                          :options="editorOption">
            </quill-editor>
            @*<textarea name="name" rows="3" class="form-control" v-model="addItem.description"></textarea>*@
        </b-col>
        <template v-slot:modal-footer="{ ok, cancel}">
            <b-button variant="success" v-on:click="addData()">Lưu</b-button>
            <b-button variant="danger" v-on:click="hideModal()">Huỷ</b-button>
        </template>
    </b-modal>
}