
@{
    ViewData["Title"] = "Lịch học";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var listSubject = ViewBag.Subject as List<BaseCustomerEntity.Database.SubjectEntity>;
    var user = ViewBag.User as string;
}

<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
    </div>
</div>
<script>
    $('.sidebar-item.lesson').addClass("active");
</script>

<div class="container">
    <!-- Begin Page Content -->
    <div class="card mb-4">
        @*<div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bài học đang diễn ra</h6>
        </div>*@
        <div class="card-body">
            <div class="search-filter">
                <div class="form-row">
                    <div class="form-group row col-md-4">
                        <label for="staticText" class="col-sm-4 col-form-label">Môn học:</label>
                        <div class="col-sm-8">
                            <select id="SubjectID" class="form-control" onchange="LoadData()">
                                <option value="">-----</option>
                                @{
                                    for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                                    {
                                        <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-4">
                        <label for="staticText" class="col-sm-4 col-form-label">Từ ngày:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd/MM/yyyy")" />
                            <input type="hidden" name="StartDate" class="hiddenDate" id="StartDate" value="@DateTime.Now.ToString(" MM/dd/yyyy")">
                        </div>
                    </div>
                    <div class="form-group row col-md-4">
                        <label for="staticText" class="col-sm-4 col-form-label">Đến ngày:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control datepicker" value="@DateTime.Now.AddDays(7).ToString(" dd/MM/yyyy")" />
                            <input type="hidden" name="EndDate" class="hiddenDate" id="EndDate" value="@DateTime.Now.AddDays(7).ToString(" MM/dd/yyyy")">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="tblActiveLesson" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th>Môn</th>
                            <th>Lớp</th>
                            <th>Tên bài học</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
</div>



@section Scripts{
    <script>

        $('.datepicker').each(function () {
            var fieldID = $(this).next().attr("id");
            $(this).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                altField: '#' + fieldID,
                altFormat: 'yy-mm-dd'
            });
        }).change(function () {LoadData()});

        function LoadData() {
        var UserID = '@user';
        var searchText = $("#searchText").val();
        var subject = $("#SubjectID").val();
        var grade = $("#GradeID").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetActiveList", "LessonToday")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade, StartDate: startDate, EndDate: endDate, UserID: UserID, PageSize:0 },
            dataType:"json",
            success: function (data) {
                var body = $('#tblActiveLesson tbody');
                body.html("");
                lessons = data.Data;
                if (lessons.length > 0) {
                    for (j = 0; j < lessons.length; j++) {
                        var item = lessons[j];

                        var startdate = $.datepicker.formatDate('dd/mm/yy', new Date(item.StartDate));
                        var enddate = $.datepicker.formatDate('dd/mm/yy', new Date(item.EndDate));

                        body.append("<tr lid=\"" + item.ID + "\">" +
                        "<td class='text-center'><a class='links' href='@Url.Action("Detail", "MyCourse")/" + item.ClassID + "'>" + item.SubjectName + "</a></td>" +
                        "<td><a class='links' href='@Url.Action("Detail", "MyCourse")/" + item.ClassID + "'>" + item.ClassName + "</a></td>" +
                        "<td><a class='links' href='@Url.Action("LessonStudent", "LessonToday")/" + item.ID + "/" + item.ClassID + "'>" + item.Title + "</a></td>" +

                        "<td dvalue=\"" + item.StartDate + "\" class='startdate text-center'><span>" + startdate + "</span></td>" +
                        "<td dvalue=\"" + item.EndDate + "\" class='enddate text-center'><span>" + enddate + "</span></td>" +
                        "</tr>"
                        );

                    }
                }
            },
            error: function (err) {
                console.log(err.responseText)
            }
        });
    };

    LoadData();

    </script>}