
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
    <div class="container">
        <!-- Begin Page Content -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin bài học hôm nay</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                            <tbody>
                                <tr><td colspan="2">Preliminary English</td></tr>
                                <tr>
                                    <td>*</td>
                                    <td><a href="@Url.Action("index" , "CheckStudent")">Bài kiểm tra số 1</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 1 Questions 1-7</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 2 Questions 8-13</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 3 Questions 14-19</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 4 Questions 20-25</a></td>
                                </tr>
                                <tr><td colspan="2">Preliminary English 2</td></tr>
                                <tr>
                                    <td>1</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 1 Questions 1-7</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 2 Questions 8-13</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 3 Questions 14-19</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="@Url.Action("LessonStudent" , "LessonToday")">Part 4 Questions 20-25</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
    </div>
@section Scripts{
    <script>
        function LoadData() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "LessonToday")',
            data: {},
            dataType:"json",
            success: function (data) {
                var body = $('#dataTable tbody');
                body.html("");
                console.log(data);
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        body.append("<tr><td colspan='2'>" + item.Name + "</td></tr>")
                        var listLesson = item.Lessons;
                        var index = 0;
                        for (var x = 0; listLesson != null && x < 3; x++) {
                            index++;
                            var itemLesson = listLesson[x];
                            body.append("<tr><td>" + index + "</td><td><a href='@Url.Action("LessonStudent", "LessonToday")/" + itemLesson.ID + "/"+itemLesson.ClassID+"'>" + itemLesson.Title + "</a></td></tr>")
                        }

                    }
                }
            },
            error: function (err) {
                console.log(err.responseText)
            }
        });
    };

    LoadData();

    </script>}