
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
     var model = ViewBag.Model as BaseCustomerMVC.Models.DefaultModel;
    var _lessonID = ViewBag.LessonID as string;
    var _classID = ViewBag.ClassID as string;
}

<!-- Begin Page Content -->
<div id="lessonContainer">
</div>
<!-- End of Main Content -->
<input type="hidden" name="CExamID" value="" />
@section Scripts{
    <script>
    // thieeu cai dem => roi submit
        var C_classID = '@_classID';
        var C_lessonID = '@_lessonID';
        var urlStart = '@Url.Action("Create","Example")';
        var urlChose = '@Url.Action("CreateDetails","Example")';
        var urlComplete = '@Url.Action("CompleteExam","Example")';
        var urlCurrent = '@Url.Action("GetCurrent", "Example")';
        var urlLoadLesson = '@Url.Action("GetLesson", "MyCourse")';
    </script>
    <script src="~/js/student-exam.js"></script>
    <script>
        $(document).ready(function () {
            load.lesson(C_lessonID, C_classID);
        });
    </script>
}