
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<div class="container">

    <div id="schedule"></div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/lib/schedule.js"></script>
    <script>
        var schedulex = new CalendarLib.Schedule({});
        schedulex.onLoad({
            type: "@User?.FindFirst("Type").Value",
            controller: 'Calendar'
        });
    </script>
}

<!-- Begin Page Content -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lịch giảng dạy</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </th>
                        <th>Tên bài học</th>
                        <th>Mô tả</th>
                        <th>Thời gian bắt đầu</th>
                        <th>thời gian kết thúc</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 01</a></td>
                        <td>Begining</td>
                        <td>01/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 02</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 03</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 04</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 05</a></td>
                        <td>Review</td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 06</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 07</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 08</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 09</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 10</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End of Main Content -->
