
@{
    var news = ViewBag.News as BaseCustomerEntity.Database.NewsEntity;
    ViewData["Title"] = news.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="font-family:Open Sans" id="section">
    <div class="container">
        <div class="form-group">
            @*<div class="inner-content">*@
            <div class="inner-content">
                <div class="content-box pt-3">
                    <div class="box-title d-flex justify-content-start mb-3" style="font-size:20px">
                        @news.Title
                        <div class="underline" style="bottom:0px !important;min-width:70px !important"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row form-group">
            <div class="inner-content">
                <div class="content-box">-->
        @*<div class="col-md-2"></div>*@
        <!--<div class="col-md-12 col-sm-12" id="summary" style="color: #5f5f5f;font-family: auto;font-weight: bold;text-align:justify;font-size:17px">
            @news.Summary
        </div>-->
        @*<div class="col-md-2"></div>
            <div class="col-md-2"></div>*@
        @*<div class="col-md-12 col-sm-12" style="padding-top:5px">
                <ul id="nextNews">
                    <li v-for="(item,k) in items" v-if="k <= 1"><a :href="item.Url" style="margin: 0px 0px 6px -9px;text-decoration:none" :title="item.Title">{{item.Title}}</a></li>
                </ul>
            </div>*@
        <!--</div>
            </div>
        </div>-->
        @*<div class="media-container-row row">*@
        <div class="form-group">
            <div class="inner-content">
                <div class="content-box">
                    <div class="row col-md-12 col-sm-12" id="content" style="text-align:justify;font-size:14px;font-family:'Be Vietnam',sans-serif">
                        @Html.Raw(news.Content)
                        <div class="col-md-12 col-sm-12 ">
                            <div class="float-right" style="font-style:italic;font-size:12px">@news.PublishDate.ToString("dd/MM/yyyy")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group" id="related_news" style="padding-top:20px">
            @*<div class="inner-content">*@
            <div class="content-box">
                @*<div class="col-sm-12" style="text-align:center;font-family: Open Sans;font-size: 18px;font-weight: bold;">
                        Tin cùng chuyên mục
                    </div>*@
                <div class="inner-content">
                    <div class="box-title d-flex justify-content-start mb-3" style="font-size:20px">
                        Tin cùng chuyên mục
                        <div class="underline" style="bottom:0px !important;min-width:70px !important"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="carousel-wrap" id="partner" style="text-align:center">
                    <div class="owl-carousel">
                        <div class="item" v-for="item in items">
                            <a :href="item.Url">
                                <img :src="cacheStatic(item.Thumbnail,200,120)" :title="item.Title">
                                <div class="col-sm-12" style="text-align:left;padding:10px 0px 0px 0px;color:black;height: 100px;white-space: revert;overflow: hidden;text-align:justify;font-weight:700;font-size:14px">
                                    {{item.Title}}
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>
    <template v-if="itemsHot.length > 0">
        <div class="container">
            <div class="form-group" style="padding-top:20px">
                <div class="content-box">
                    <div class="inner-content">
                        <div class="box-title d-flex justify-content-start mb-3" style="font-size:20px">
                            Tin nổi bật
                            <div class="underline" style="bottom:0px !important;min-width:70px !important"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin:0px;padding:10px 0px 0px 0px">
                    <div class="news-top media-body pl-md-4 pr-md-4">
                        <div class="news-item pb-3 pt-3 d-flex" v-for="(item,k) in itemsHot" v-on:click="window.location.href = '/tin-tuc/'+'item.CategoryCode' + '/' + item.Code">
                            <div class="thumb">
                                <a :href="'/tin-tuc/'+'item.CategoryCode' + '/' + item.Code" style="font-size: 20px; font-weight: bold;">
                                    <img :src="cacheStatic(item.Thumbnail,220,140)" class="w-100">
                                </a>
                            </div> <div class=" media-body">
                                <div class="news-title">
                                    <a :href="'/tin-tuc/'+item.CategoryCode + '/' + item.Code" style="text-decoration:none">
                                        {{item.Title}}
                                    </a>
                                </div>
                                <div class="news-desc" style="overflow: hidden;">
                                    {{item.Summary}}
                                </div>
                                <div class="news-time">
                                    {{formatShortDate(item.PublishDate)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    @*</div>*@
</section>
<script>
    @if(news.Code == "ve-eduso")
    {
        @:$('.nav-link [for=aboutus]').addClass('active');
    }
    else
    {
        @:$('.nav-link [for=news]').addClass('active');
    }

    function getData() {
        try {
            $.ajax({
                url: '@Url.Action("getlist", "news")',
                type: "post",
                dataType: "json",
                data: { catID: '@news.CategoryID', CurrentNewsCode: '@news.Code' },
                success: function (result) {
                    var hrefOrigin = window.location.origin;
                    if (result.Data.length > 0) {
                        for (var i = 0; i < result.Data.length; i++) {
                            var item = result.Data[i]
                            item.Url = hrefOrigin + "/tin-tuc/" + item.CategoryCode + "/" + item.Code
                        }
                    }
                    //else {
                    //    $('#related_news').attr('style', 'display:none')
                    //}
                    new Vue({
                        el: '#section',
                        data: {
                            items: result.Data,
                            itemsHot: result.DataNewsH,
                            //categorys: result.Category
                        },
                        mounted() {
                            callCarousel(result.Data)
                        }
                    })
                }
            });
        }
        catch (e) {
            console.log(e)
        }
    }

    @*new Vue({
        el: '#section',
        mounted() {
            this.getData()
        },
        data: {
            items: [],
            itemsHot: []
        },
        watch: {},
        methods: {
            getData() {
                let _that = this;
                let _url = '@Url.Action("getlist", "news")'
                let _form = new FormData()
                _form.append('catID', '@news.CategoryID');
                _form.append('CurrentNewsCode', '@news.Code');
                    axios.post(_url, _form)
                        .then(response => {
                            _that.items = response.data.Data
                            //_that.itemsHot = response.data.DataNewsH
                            this.items = _that.items
                            //this.itemsHot = _that.itemsHot
                            this.callCarousel(this.items)
                        }).catch(e => { })
            },
            callCarousel(item) {
                debugger
                var $owl = $('.owl-carousel');
                $owl.trigger('destroy.owl.carousel');
                //debugger
                // After destory, the markup is still not the same with the initial.
                // The differences are:
                //   1. The initial content was wrapped by a 'div.owl-stage-outer';
                //   2. The '.owl-carousel' itself has an '.owl-loaded' class attached;
                //   We have to remove that before the new initialization.
                $owl.html($owl.find('.owl-stage-outer').html()).removeClass('owl-loaded');
                //debugger
                var countItem = item.length
                $owl.owlCarousel({
                    // your initial option here, again.
                    items: countItem > 4 ? 4 : countItem,
                    loop: true,
                    margin: 10,
                    nav: true,
                    navText: [
                        '<i class="fas fa-chevron-left"></i>',
                        '<i class="fas fa-chevron-right"></i>'
                    ],
                    autoplay: true,
                    autoplayHoverPause: true,
                });
            },
            formatShortDate(date) {
                var _date = moment(date);
                if (!_date._isValid || _date < moment(new Date(2000, 1, 1))) return "";
                return _date.format("DD/MM/YYYY")
            },
            formatTime(time) {
                var _time = moment(time);
                if (!_time._isValid || _time < moment(new Date(2000, 1, 1))) return "";
                return _time.format("DD/MM/YYYY HH:mm")
            },
            getHourse(time) {
                var _time = moment(time)._d;
                var today = new Date();
                if (_time.getDate() == today.getDate()) {
                    return today.getHours() - _time.getHours()
                }
                else {
                    return false
                }
            }
        }
    })*@

    function formatShortDate(date) {
        var _date = moment(date);
        if (!_date._isValid || _date < moment(new Date(2000, 1, 1))) return "";
        return _date.format("DD/MM/YYYY")
    };

    function formatTime(time) {
        var _time = moment(time);
        if (!_time._isValid || _time < moment(new Date(2000, 1, 1))) return "";
        return _time.format("DD/MM/YYYY HH:mm")
    };

    function getHourse(time) {
        var _time = moment(time)._d;
        var today = new Date();
        if (_time.getDate() == today.getDate()) {
            return today.getHours() - _time.getHours()
        }
        else {
            return false
        }
    };

    function callCarousel(item) {
        var $owl = $('.owl-carousel');
        $owl.trigger('destroy.owl.carousel');
        //debugger
        // After destory, the markup is still not the same with the initial.
        // The differences are:
        //   1. The initial content was wrapped by a 'div.owl-stage-outer';
        //   2. The '.owl-carousel' itself has an '.owl-loaded' class attached;
        //   We have to remove that before the new initialization.
        $owl.html($owl.find('.owl-stage-outer').html()).removeClass('owl-loaded');
        //debugger
        var countItem = item.length
        $owl.owlCarousel({
            // your initial option here, again.
            items: countItem > 4 ? 4 : countItem,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fas fa-chevron-left"></i>',
                '<i class="fas fa-chevron-right"></i>'
            ],
            autoplay: true,
            autoplayHoverPause: true,
        });

        //$('.owl-carousel').owlCarousel({
        //    items: 4,
        //    loop: true,
        //    margin: 10,
        //    nav: true,
        //    navText: [
        //        "<i class='fa fa-caret-left'></i>",
        //        "<i class='fa fa-caret-right'></i>"
        //    ],
        //    //autoplay: true,
        //    //autoplayHoverPause: true,
        //})
    }

    var content = $('#content')
    var listImg = content

        $(document).ready(function ($) {
            getData();
        });
</script>
<style>

    #content * {
        font-family: 'Be Vietnam',sans-serif !important;
    }

    .carousel-wrap {
        margin: auto;
        padding: 20px 0;
        /*width: 80%;*/
        position: relative;
    }

    /* fix blank or flashing items on carousel */
    /*.owl-carousel .item {
        position: relative;
        z-index: 100;
        -webkit-backface-visibility: hidden;
    }*/

    /* end fix */
    .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;
    }

        .owl-nav > div {
            margin-top: -26px;
            position: absolute;
            top: 50%;
            color: #cdcbcd;
        }

        .owl-nav i {
            font-size: 30px;
            opacity: 0.3
        }

            .owl-nav i:hover {
                opacity: 1
            }

            .owl-nav i::outside {
                border: 0px
            }


        .owl-nav .owl-prev {
            left: -30px;
            position: absolute;
        }

        .owl-nav .owl-next {
            right: -30px;
            position: absolute
        }

    /*.owl-carousel:hover .owl-nav i{
        opacity:1
    }*/

    .owl-prev:hover {
        opacity: 1
    }

    .owl-next:hover {
        opacity: 1
    }

    .owl-carousel .item:hover {
        cursor: pointer;
    }

    #content img {
        max-width: 100%;
        max-height: 100%;
    }

    .item {
        position: relative;
        padding: 5px;
        background-color: rgb(255 255 255);
        /*border:1px solid none;*/
        border-radius: 5px;
        opacity: 0.9;
        width: 285px;
        height: 275px;
        margin: auto
    }

        .item:hover {
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25),-5px -5px 12px rgba(0, 0, 0, 0.25);
            opacity: 1
        }

        .item a:hover {
            /*color: cornflowerblue;*/
            /*text-shadow: 1px 1px 2px #676aad, 0 0 1em blue, 0 0 0.2em darkblue;*/
            text-decoration: none;
            font-weight: bold
        }

    .iconb-ccm {
        background: #9ca7b7;
        color: #fff !important;
        font: normal 12px Arial !important;
        padding: 3px 5px;
        border-radius: 5px;
        position: relative;
        top: -1px;
        margin-left: 5px;
        display: inline-block;
    }

    #nextNews {
        font-size: 13px
    }

        #nextNews li {
            padding-left: 5px
        }

            #nextNews li a {
                color: #383e54;
            }

            #nextNews li:hover a {
                color: deepskyblue
            }

    ul {
        list-style: none;
    }

        ul li::before {
            content: "\2022";
            color: orange;
            font-weight: bold;
            display: inline-block;
            width: 2em;
            margin-left: -1em;
        }

    #related_news {
        background-color: #f2f2f2;
        margin-top: 30px
    }

    .container {
        width: 1200px
    }

    .news-item {
        /*width:1140px;*/
        height: 150px !important;
        opacity:0.9;
        border-radius:5px
    }

        .news-item:hover {
            opacity: 1;
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25),-5px -5px 12px rgba(0, 0, 0, 0.25);
        }

        .news-top .news-item .thumb {
            width: 21%;
            height: 100%;
            margin-right: -5px
        }

    .thumb img{
        max-height:100%;
        max-width:220px
    }

    .news-title a {
        text-decoration:none
    }

    /*.thumb a:hover{
        text-decoration:none
    }*/
</style>
