@{
    var newshot = ViewBag.newsHot as List<BaseCustomerEntity.Database.NewsEntity>;
    var newstop = ViewBag.newsTop as List<BaseCustomerEntity.Database.NewsEntity>;
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="category-box pt-5 pb-5">
    <div class="inner-content">
        <div class="content-box">
            <div class="box-title d-flex justify-content-center mb-5">
                {{mainTitle}}
                <div class="underline"></div>
            </div>
            <div class="news-list d-flex flex-column flex-md-row pt-3" style="border-top:solid 0.5px #CCC">
                <div class="news-hot media-body pr-md-4" style="border-right:solid 0.5px #CCC" id="newshot">
                    @foreach (var item in newshot)
                    {
                        <div class="news-item w-100 pb-3">
                            <div class="thumb w-100 pb-2" >
                                <a href="/tin-tuc/tin-tuc/@item.Code">
                                    <img src="/Upload/News/@item.Thumbnail" class="w-100" style="max-width:100%;max-height:100%"/>
                                </a>
                            </div>
                            <div class="news-title">
                                <a href="/tin-tuc/tin-tuc/@item.Code">
                                    @item.Title
                                </a>
                            </div>
                            <div class="news-desc">
                               @item.Summary
                            </div>
                            <div class="news-time">
                               @item.PublishDate.ToString("dd-MM-yyyy")
                            </div>
                        </div>
                    }
                </div>
                <div class="news-top  media-body pl-md-4">
                    @foreach (var item in newstop)
                    {
                        <div class="news-item pb-3 pt-3 d-flex">
                            <div class="thumb" >
                                <a href="/tin-tuc/tin-tuc/@item.Code">
                                    <img src="/Upload/News/@item.Thumbnail" style="max-width:100%;max-height:100%"/>
                                </a>
                            </div>
                            <div class=" media-body">
                                <div class="news-title">
                                    <a href="/tin-tuc/tin-tuc/@item.Code">
                                       @item.Title
                                    </a>
                                </div>
                                <div class="news-desc">
                                    @item.Summary
                                </div>
                                <div class="news-time">
                                    @item.PublishDate.ToString("dd-MM-yyyy")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.nav-link [for=news]').addClass('active');
</script>

@section Scripts{
    <script>
        new Vue({
            el: ".category-box",
            mounted() {
            },
            data: {
                mainTitle: 'Tin tức',
                catID: '0',
                listnews: []
            },
            methods: {
            }
        });

        function loadData() {
           $.ajax({
                url: '@Url.Action("getnewslist", "home")',
                type: "post",
                dataType: "json",
               success: function (result) {

                    var data=new Vue({
                        el: '#newshot',
                        data: {

                            newshot: result.NewsHot
                        },

                        el: '#newstop',
                        data: {
                            newstop: result.NewsTop
                        }
                    })
                }
            });
    };

    $(document).ready(function () {
        loadData();
    });
    </script>
}
