
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="container">
    <!-- Begin Page Content -->
    <div class="row">

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="@Url.Action("Index", "MyCourse")"><h6 class="m-0 font-weight-bold text-primary">Khóa học của tôi</h6></a>
                </div>
                <div class="card-body">
                    <div class="card-content" id="myclassWrapper">
                    </div>
                    <div class="float-right">
                        <a href="@Url.Action("Index", "MyCourse")"> Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="@Url.Action("Index", "LessonToday")"><h6 class="m-0 font-weight-bold text-primary">Bài học hôm nay</h6></a>
                </div>
                <div class="card-body">
                    <table id="tbTodayLesson" class="table table-bordered" width="100%" cellspacing="0">
                        <tbody></tbody>
                    </table>
                    <div class="float-right">
                        <a href="@Url.Action("Index","LessonToday")"> Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

    function LoadMyClass() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetActiveList", "MyCourse")',
            data: { },
            dataType:"json",
            success: function (data) {
                var body = $('#myclassWrapper');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        body.append(" <h4 class=\"small font-weight-bold\"><a href=\"@Url.Action("Detail", "MyCourse")/" + item.ID + "\">"  +  item.SubjectName + "</a><span class=\"float-right\">" + item.Progress + "%</span></h4>"+
                    "<div class=\"progress mb-4\">"+
                        "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + item.Progress + "%\" aria-valuenow=\"" + item.Progress + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>"+
                    "</div>"
                        );
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    }

    function LoadTodayLesson() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTodayLessons", "LessonToday")',
            data: {date: $.datepicker.formatDate('mm-dd-yy', new Date())},
            dataType:"json",
            success: function (data) {
                var body = $('#tbTodayLesson tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        body.append("<tr><td colspan=\"2\"><a href=\"@Url.Action("Detail", "MyCourse")/" + item.ClassID + "\">"  +  item.SubjectName + "</a></td></tr>" +
                            "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td><a class='links' href='@Url.Action("LessonStudent", "LessonToday")/" + item.ID + "/" + item.ClassID + "'>" + item.Title + "</a></td>" +
                            "</tr>");
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    }

    $(document).ready(function(){
        LoadMyClass();
        LoadTodayLesson();
    });
    </script>
