
@{
    ViewData["Title"] = "Dashboard - " + DateTime.Now.ToString("dd/MM/yyyy");
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="card-content course-box" id="myclassWrapper">
        </div>
    </div>
</div>
<script>
    activeTab = "dashboard";
</script>


@*<div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="@Url.Action("Index", "Lesson")"><h6 class="m-0 font-weight-bold text-primary">Bài học hôm nay</h6></a>
            </div>
            <div class="card-body">
                <table id="tbTodayLesson" class="table table-bordered" width="100%" cellspacing="0">
                    <tbody></tbody>
                </table>
                <div class="float-right">
                    <a href="@Url.Action("Index","Lesson")"> Xem tất cả</a>
                </div>
            </div>
        </div>
    </div>*@
<script>

    function LoadMyClass() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetActiveList", "Course")',
            data: { },
            dataType:"json",
            success: function (data) {
                var body = $('#myclassWrapper');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        console.log(item);
                        body.append("<a href=\"@Url.Action("Detail", "Course")/" + item.ID + "\">" +
                                        "<div class='course-item' " + (item.Image == null ? "" : "style='background-image:url(\"" + item.Image + "\")'")  + ">" +
                                        "<div class='course-info'>" +
                                            "<h3>" + item.SubjectName + "</h3>" +
                                            "<h4>" + item.Name + "</h4>" +
                                            "<div class='action-wrapper'>" +
                                                "<a class='actionlink announcement' href='@Url.Action("News", "Course")/" + item.ID + "'></a>" +
                                                "<a class='actionlink assignment' href='@Url.Action("Assignment", "Course")/" + item.ID + "'></a>" +
                                                "<a class='actionlink comment' href='@Url.Action("Comments", "Course")/" + item.ID + "'></a>" +
                                            "</div>" +
                                        "</div>" +
                                    "</div></a>");
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    }

    function LoadTodayLesson() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTodayLessons", "Lesson")',
            data: {date: $.datepicker.formatDate('mm-dd-yy', new Date())},
            dataType:"json",
            success: function (data) {
                var body = $('#tbTodayLesson tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        body.append("<tr><td colspan=\"2\"><a href=\"@Url.Action("Detail", "Course")/" + item.ClassID + "\">"  +  item.SubjectName + "</a></td></tr>" +
                            "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td><a class='links' href='@Url.Action("Detail", "Lesson")/" + item.ID + "/" + item.ClassID + "'>" + item.Title + "</a></td>" +
                            "</tr>");
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    }

    $(document).ready(function(){
        LoadMyClass();
        LoadTodayLesson();
    });
</script>
@*body.append(" <h4 class=\"small font-weight-bold\"><a href=\"@Url.Action("Detail", "Course")/" + item.ID + "\">"  +  item.SubjectName + "</a><span class=\"float-right\">" + item.Progress + "%</span></h4>"+
    "<div class=\"progress mb-4\">"+
        "<div class=\"progress-bar\" role=\"progressbar\" style=\"width: " + item.Progress + "%\" aria-valuenow=\"" + item.Progress + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>"+
    "</div>"*@
