@{
    ViewData["Title"] = "Quản lý giáo viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var roles = ViewBag.Roles as List<BaseCustomerEntity.Database.RoleEntity>;
    var subject = ViewBag.Subject as List<BaseCustomerEntity.Database.SubjectEntity>;
}

<!-- Begin Page Content -->
<div class="container-fluid">
    @using (Html.BeginForm(FormMethod.Post, new { name = "FormControl" }))
    {
        <input type="hidden" name="ArrID" value="" />
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h4>
                    </div>
                    <div class="col-lg-6">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" onclick="Add(this)" data-placement="top" title="Thêm giáo viên" data-toggle="modal" data-target="#ModalCenter"> <i class="fas fa-plus"></i> </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-placement="top" title="Nhập file dữ liệu" data-target=".bd-modal-lg"> <i class="fas fa-upload"></i> </button>
                            <button type="button" class="btn btn-primary" data-placement="top" title="Xuất file dữ liệu" onclick="Export('FormControl','@Url.Action("Export", "teacher" )')"> <i class="fas fa-file-export"></i> </button>
                            <button type="button" class="btn btn-danger" data-placement="top" title="Xóa" onclick="var result = confirm('bạn có chắc muốn xóa không ?'); if (result) Submit('FormControl','@Url.Action("Delete","teacher")','delete',LoadData);"> <i class="fas fa-trash"></i> </button>
                            @*<button type="button" class="btn btn-danger" onclick="var result = confirm('bạn có chắc muốn xóa không ?'); if (result) Submit('FormControl','@Url.Action("Delete","teacher")','delete',LoadData);"> <i class="fas fa-trash"></i> </button>
                                <button type="button" class="btn btn-primary" onclick="Add(this)" data-toggle="modal" data-target="#ModalCenter"> <i class="fas fa-plus"></i> </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-modal-lg"> <i class="fas fa-upload"></i> </button>
                                <button type="button" class="btn btn-primary" onclick="Export('FormControl','@Url.Action("Export", "teacher" )')"> <i class="fas fa-file-export"></i> </button>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="input-group"><input type="checkbox" aria-label="Checkbox" onclick="toggleAll(this, 'dataTable')"></div>
                                </th>
                                <th class='text-center'>STT</th>
                                <th class='text-center'>Email</th>
                                <th class='text-center'>Họ tên</th>
                                <th class='text-center'>Ngày sinh</th>
                                <th class='text-center'>Loại</th>
                                <th class='text-center'>Chuyên môn</th>
                                <th class='text-center'>Trạng thái</th>
                                <th class='text-center'>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    }
</div>

<!-- Modal Create Form -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        @using (Html.BeginForm("Create", "teacher", FormMethod.Post, new { enctype = "multipart/form-data", name = "AddForm" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Tạo tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="TeacherId" id="inputName" placeholder="Mã giáo viên">
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" onchange="LoadGradeInput(this)">
                                            Chọn <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            @{
                                                for (int i = 0; subject != null && i < subject.Count; i++)
                                                {
                                                    <li>
                                                        <a>
                                                            <input type="checkbox" id="@subject[i].ID" /><span class="lbl"> @subject[i].Name </span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="subject_wrapper d-none">

                                    </div>
                                    <input id="input-form" type="text" class="form-control">
                                </div>
                                @*<select name="Subjects" class="form-control">
                    @{
                        for (int i = 0; subject != null && i < subject.Count; i++)
                        {
                            <option value="@subject[i].ID">@subject[i].Name</option>
                        }
                    }
                </select>*@
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="FullName" id="inputText" placeholder="Họ và tên">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control datepicker" placeholder="Ngày sinh">
                                <input type="hidden" name="DateBorn" class="hiddenDate" id="DateBorn" value="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="Email" id="inputEmail" placeholder="Email" disabled locked>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="Phone" id="inputPhone" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label for="staticText" class="col-sm-3 col-form-label">Loại:</label>
                                    <div class="col-sm-9">
                                        <select name="RoleID" class="form-control" required>
                                            @{
                                                for (int i = 0; roles != null && i < roles.Count; i++)
                                                {
                                                    <option value="@roles[i].ID">@roles[i].Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label for="staticText" class="col-sm-4 col-form-label">Trạng thái:</label>
                                    <div class="col-sm-8">
                                        <select id="input-option" name="IsActive" class="form-control">
                                            <option value="true" selected>Hoạt động</option>
                                            <option value="false">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="Submit('AddForm','@Url.Action("Create", "teacher" )','create',LoadData)">Lưu lại</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal choose file -->
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Import", "teacher", FormMethod.Post, new { enctype = "multipart/form-data", name = "ImportForm" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Thêm nhanh từ file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 form-label p-3" for="FormControlFile">Chọn file excel:</label>
                            <div class="chose-file col-sm-9">
                                <input type="file" name="file" class="form-control-file" id="FormControlFile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="button-left">
                        <button type="button" class="btn btn-secondary" onclick="Export('FormControl','@Url.Action("Export", "teacher" )')">Tải file mẫu</button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="Submit('ImportForm','','import',LoadData)">Lưu lại</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('.datepicker').each(function () {
        var fieldID = $(this).next().attr("id");
        $(this).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            altField: '#' + fieldID,
            altFormat: 'yy-mm-dd'
        }).val("");
    })

    function LoadData() { var searchText = $("#searchText").val();var startDate = $("#startDate_sort").val();var endDate = $("#endDate_sort").val();
        hideModal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "teacher")',
            data: {SearchText: searchText,StartDate: startDate,EndDate: endDate},
            dataType:"json",
            success: function (data) {
                var body = $('#dataTable tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "";
                        if (item.IsActive) {
                            active = "<td class='text-center'><button onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("unpublish", "teacher")',LoadData)\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";
                        } else {
                            active = "<td class='text-center'><button onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("publish", "teacher")',LoadData)\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle btn-danger'> <div class='handle'></div> </button></td>";
                        }
                        var subject = "";
                        if (item.SubjectList != null && item.SubjectList.length > 0) {
                            for (j = 0; j < item.SubjectList.length; ++j) {
                                subject += item.SubjectList[j].Name + "<br/>";
                            }
                        }
                        var date = $.datepicker.formatDate('dd/mm/yy', new Date(item.DateBorn));

                        body.append("<tr>" +
                            "<td><div class='input-group'><input name='cid' type='checkbox' value='" + item.ID +"' onclick=\"setToggle('dataTable')\"/></div></td>"+
                            "<td class='text-center'>" + (i + 1) + "</td>" +
                            //"<td>" + ((item.TeacherId == null) ? "" : item.TeacherId) + "</td>" +
                            "<td>" + item.Email + "</td>" +
                            "<td>" + item.FullName + "</td>" +
                            "<td class='text-center'>" + date + "</td>" +
                            "<td class='text-center'>" + item.RoleName + "</td>" +
                            "<td class='text-center'>" + subject + "</td>" + active +
                            "<td class='text-center'><button onclick=\"Edit('" + item.ID + "','@Url.Action("getdetails", "teacher")','@Url.Action("create", "teacher")',this)\" type='button' data-placement='top' title='Sửa' class='btn btn-primary' data-toggle='modal' data-target='#ModalCenter'> <i class='fas fa-edit'></i> </button>" +
                            "<button onclick=\"var result = confirm('bạn muốn xóa đối tượng " + item.TeacherId + " ? '); if(result) ExcuteOnlyItem('" + item.ID + "','@Url.Action("delete", "teacher")',LoadData); else return;\" type='button' data-placement='top' title='Xóa' class='btn btn-danger'> <i class='fas fa-trash'></i> </button>" +
                            "</td > " +
                            "</tr>"
                        );
                    }
                    $('.btn:has(i)').tooltip();
                }
            },
            error: function() {
                alert("Error");
            }
        });
    };

    $(document).ready(function () {
        LoadData();
    });
</script>
