
@{
    ViewData["Title"] = "Trao đổi";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var classList = ViewBag.Data as List<BaseCustomerEntity.Database.ClassEntity>;
}
<script>
    var activeTab = "comments";
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="box-search">
                <select class="group-list float-left" id="choosen-group">
                    <option value="">------ Chọn khóa học -------</option>
                    @for(int i = 0; classList != null && i < classList.Count; i++)
                    {
                        var item = classList[i];
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
                <div class="float-right form-group">
                    <a href="javascript:void(0)" class="icon icon-search" id="input-search-content">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29631 2.66666C4.73944 2.66666 2.66669 4.73941 2.66669 7.29628C2.66669 9.85316 4.73944 11.9259 7.29631 11.9259C8.53631 11.9259 9.66244 11.4384 10.4935 10.6446C10.5157 10.6171 10.5396 10.5905 10.5652 10.565C10.5907 10.5394 10.6173 10.5156 10.6448 10.4934C11.4385 9.66229 11.9259 8.53621 11.9259 7.29628C11.9259 4.73941 9.85319 2.66666 7.29631 2.66666ZM12.638 11.2236C13.4476 10.1244 13.9259 8.76619 13.9259 7.29628C13.9259 3.63484 10.9578 0.666656 7.29631 0.666656C3.63487 0.666656 0.666687 3.63484 0.666687 7.29628C0.666687 10.9577 3.63487 13.9259 7.29631 13.9259C8.7663 13.9259 10.1245 13.4475 11.2238 12.6379L13.6263 15.0403C14.0168 15.4308 14.65 15.4308 15.0405 15.0403C15.431 14.6498 15.431 14.0166 15.0405 13.6261L12.638 11.2236Z" fill="#7CC6F1" />
                        </svg>
                    </a>
                    <input class="input-search" value="" placeholder="Tìm kiếm"/>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="list">

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>



<div class="left-col">
    <div class="page-title row">
        <h1 class="col-md-11">@ViewData["Title"]</h1>
        <div class="col-md-1 text-right p-0">
            <button type="button" class="btn btn-primary" data-placement="top" title="Tạo thảo luận" data-toggle="modal" data-target="#commentModal"> <i class="fas fa-plus"></i> </button>
        </div>
    </div>
    <div class="main-container">
        <div class="main-content row">
            <div class="col-md-4">
                <select class="form-control" id="groupClass" onchange="onloadMessage()"></select>
                <div id="list-new-feed">
                </div>
            </div>
            <div class="col-md-8">
                <div id="item-feed-full" class="item-feed-full"></div>
                <div id="list-comment"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Tạo thảo luận mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="PostNewFeed" action="@Url.Action("PostNewFeed","Discuss")" method="post">
                        <input type="hidden" name="GroupID" value="" />
                        <div class="form-group">
                            <label>Tiêu đề :</label>
                            <input type="text" class="form-control" name="Title" placeholder="Tiêu đề">
                        </div>
                        <div class="form-group">
                            <label>Nội dung :</label>
                            <input type="hidden" name="Content" id="editorComment">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-new-feed" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="new-feed__reply--popup" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="CommentFeed" method="post">
                        <input type="hidden" name="GroupID" value="" />
                        <input type="hidden" name="ParentID" value="" />
                        @*<div class="form-group">
                                <label>Tiêu đề :</label>
                                <input type="text" class="form-control" name="Title" placeholder="Tiêu đề">
                            </div>*@
                        <div class="form-group">
                            <label>Nội dung :</label>
                            <input type="hidden" name="Content" id="editorReply">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-new-feed-reply" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/hubs/newfeed.base.js"></script>
    <script>

        var urlCfg = { post: "@Url.Action("PostNewFeed", "Discuss")", load: "@Url.Action("GetListNewFeed", "Discuss")" };

        function LoadData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetList", "Course")',
                data: {},
                dataType:"json",
                success: function (data) {
                    var listGroup = data.Data;
                    //$("#groupClass").append($("<option>", {"value":"", "text": "---"}));
                    for (var i = 0; listGroup != null && i < listGroup.length; i++) {
                        const item = listGroup[i];
                        //$("#list-group").append("<div data-type='group' data-id=" + item.ID + " onclick='onloadMessage(this)'>" + item.Name + "</div>");
                        $("#groupClass").append($("<option>", {"value":item.ID, "text": item.Name}));
                        connection.invoke("GoToClass", item.ID);
                    }
                    onloadMessage();
                },
                error: function (err) {
                    console.log(err.responseText)
                }
            });
        };

        $(document).ready(function () {
            LoadData();
        })

        onloadMessage = function()
        {
            $('#item-feed-full').empty();
            $('#list-comment').empty();
            var newFeed = new Newfeed({
                url: urlCfg,
                group_id: $('#groupClass').val()
            });
            $('#commentModal [name=GroupID]').val($('#groupClass').val());
            $('#new-feed__reply--popup [name=GroupID]').val($('#groupClass').val());
            newFeed.load(0, 5);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var newFeed = new Newfeed({url: urlCfg, group_id: $('#groupClass').val()});
            newFeed.load(0, 5);
            CKEDITOR.replace('editorComment');
            CKEDITOR.replace('editorReply');
            document.getElementById("btn-new-feed").addEventListener("click", function () {
                var datax = CKEDITOR.instances.editorComment.getData();
                var form = window.PostNewFeed;
                form.querySelector('#editorComment').value = datax;

                var data = new FormData(form);
                newFeed._config.group_id = $('#classGroup').val();
                newFeed.post(data);
            });
            document.getElementById("btn-new-feed-reply").addEventListener("click", function () {
                var datax = CKEDITOR.instances.editorReply.getData();
                var form = window.CommentFeed;
                form.querySelector('#editorReply').value = datax;
                form.querySelector('input[name="ParentID"]').value = form.querySelector('input[name="ParentID"]').value;
                var data = new FormData(form);
                newFeed.post(data);
            });
        });

    function callback(data) {
        hideModal();
    }
    </script>

}
