@{

    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    var currentStudent = ViewBag.Student as BaseCustomerEntity.Database.StudentEntity;
    ViewData["Title"] = currentClass.Name + " / " + currentStudent.FullName;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}
<script src="~/js/daterangepicker.min.js"></script>
<link href="~/css/daterangepicker.css" rel="stylesheet" />
<script src="/libs/vuejs-datepicker.min.js"></script>
<script>
    setActiveMenu("course");
</script>

<section class="module" id="dashboard_content">
    <div class="h4 m-3" v-cloak cloak-holder>
        <i class="fas fa-sync fa-spin"></i> Đang nạp dữ liệu ...
    </div>
    <div class="card-header" v-cloak>
        <div class="flex mb-2">
            <h2 class="title"><a href="@processUrl("Detail", "Class")/@currentClass.ID#student" title="Quản lý môn học"><i class="ti-arrow-left d-none"></i>{{domDecoder(className)}}</a>/ @currentStudent.FullName</h2>
            @*<div class="search-box">
                    <button><i class="ic ic-find"></i></button>
                    <input type="text" name="" placeholder="Search">
                </div>*@
        </div>
        <div class="flex j-between">
            <div class="flex padding-b25">
                <div class="box filter-box w-152">
                    <select v-model="search_subject">
                        <option value="">-- Tất cả học liệu ---</option>
                        <option v-for="(item, k) in classSubjects"
                                :value="item.ID">
                            {{item.Title}}
                        </option>
                    </select>
                </div>
                @*<div class="box filter-box w-250" v-if="search_subject != ''">
                        <input type="text" value="01/08/2019 - 30/09/2019" name="dates">
                        <span class="ic ic-picker"></span>
                    </div>*@
            </div>
            <div class="flex rate" v-if="tab[1] || search_subject == ''">
                <span><i class="ic ic-paper-yet"></i>Điểm: <b class="text-danger" v-bind:class="{good : (avgPoint > 50)}">{{avgPoint.toFixed(2)}}%</b></span>
                <span><i class="ic ic-award"></i>Xếp hạng: {{rank.pos + '/' + rank.total}}</span>

            </div>
        </div>
        <div class="flex j-between border-b" v-if="search_subject != ''">
            <div class="tab bg-none">
                <ul class="flex">
                    <li v-bind:class="{active : tab[0]}"><a href="javascript:;" title="Lịch sử học tập" v-on:click="tabChange()">Lịch sử học tập</a></li>
                    <li v-bind:class="{active : tab[1]}"><a href="javascript:;" title="Kết quả" v-on:click="tabChange(1)">Kết quả</a></li>
                </ul>
            </div>
            <div class="c-right"></div>
        </div>
    </div>
    <div class="card-body" v-cloak>
        <template v-if="search_subject != ''">
            <div class="box" v-if="tab[0]">
                <table id="p_table" class="table">
                    <thead>
                        <tr>
                            <th v-for="(field,k) in progressFields">{{field.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="progressData == null || progressData.length <= 0">
                            <td colspan="4">Chưa có lịch sử học tập</td>
                        </tr>
                        <tr v-for="(item,k) in progressData" v-else>
                            <td><a v-bind:href="'@processUrl("Detail", "Lesson")/'+item.ID+'/'+item.ClassSubjectID" :title="item.Title" class="title">{{item.Title}}</a></td>
                            <td>{{formatShortDate(item.ScheduleStart)}} - {{formatShortDate(item.ScheduleEnd)}}</td>
                            <td>{{formatFullDate(item.LearnLast)}}</td>
                            <td>{{item.LearnCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box" v-if="tab[1]">
                <table id="r_table" class="table">
                    <thead>
                        <tr>
                            <th>
                                <select class="form-control" v-on:change="fillTypeExam($event.target.value)">
                                    <option selected value="2">Bài kiểm tra</option>
                                    <option value="1">Bài luyện tập</option>
                                </select>
                            </th>
                            <th v-for="(field,k) in resultFields">{{field.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="fillterResultData == null || fillterResultData.length <= 0">
                            <td colspan="5">Chưa có kết quả</a></td>
                        </tr>
                        <tr v-for="(item,k) in fillterResultData">
                            <td><a href="#" v-on:click="openHistory(item)" :title="item.Title" class="title">{{item.Title}}</a></td>
                            <td>{{formatShortDate(item.ScheduleStart)}} - {{formatShortDate(item.ScheduleEnd)}}</td>
                            <td>{{formatFullDate(item.LearnLast)}}</td>
                            <td class="text-danger" v-bind:class="{good : (item.Result > 50)}">{{item.Result == null ? '---' : (item.Result.toFixed(2) + '%')}}</td>
                            <td>{{item.LearnCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <template v-else>
            <div class="box">
                <table id="s_table" class="table">
                    <thead>
                        <tr>
                            <th v-for="(field,k) in summaryFields">{{field.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,k) in summaryData">
                            <td><a href="#" v-on:click="showSkillSummary(item.ClassSubjectID)" :title="item.CourseName" class="title">{{item.CourseName == null ? ("(" + item.SkillName + ")") : item.CourseName}}</a></td>
                            <td class="text-danger" v-bind:class="{good : (getPercent(item.Completed, item.TotalLessons) > 50)}"> {{getPercent(item.Completed, item.TotalLessons).toFixed(2)}}%  ({{item.Completed}}/{{item.TotalLessons}})</td>
                            <td class="text-danger" v-bind:class="{good : (item.PracticeAvgPoint > 50)}">{{item.PracticeAvgPoint.toFixed(2)}}%</td>
                            <td class="text-danger" v-bind:class="{good : (item.AvgPoint > 50)}">{{item.AvgPoint.toFixed(2)}}%</td>
                            <td>{{item.Rank > 0 ? (item.Rank + '/' + item.TotalStudents)  : '---'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </div>

    <!--Modals-->
    <b-modal :no-close-on-backdrop="true" id="modal_history" size="xl" centered :title="'Kết quả bài học '+studentResult.title" style="width:800px">
        <div class="row">
            <div class="col-md-12">
                <div class="flex border-b pb-3 justify-content-between">
                    <div class="flex width-100">
                        <label class="label"><b style="font-size:120%">Số lượt làm bài: {{studentResult.history.length}}</b></label>
                        <input type="hidden" value="lesson_result.ID" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Điểm</th>
                            <th scope="col" class="text-center">Thời gian</th>
                            <th scope="col" class="text-center">Trạng thái</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,k) in studentResult.history" v-if="studentResult.history.length > 0">
                            <td class="text-center">{{k+1}}</td>
                            <td class="text-center">{{ (item.MaxPoint > 0 ? item.Point * 100 / item.MaxPoint : 0) .toFixed(2)}}</td>
                            <td class="text-center">{{formatFullDate(item.Created)}}</td>
                            <td class="text-center">{{item.Status ? "Hoàn thành": "Chưa hoàn thành"}}</td>
                            <td class="text-center"><a v-if="item.Status" :href="'@processUrl("CheckPoint","Class")?ID=' + item.ExamID" target="_blank">Xem chi tiết</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <template v-slot:modal-footer>
            <b-button variant="danger" v-on:click="hideModal()">Đóng</b-button>
        </template>
    </b-modal>
</section>

@section Scripts {
    <script>
        new Vue({
            el: ".module",
            mounted() {
                this.loadClassSubjects()
                var start = moment('@currentClass.StartDate.ToLocalTime().ToString("MM/dd/yyyy")');
                var end = moment('@currentClass.EndDate.ToLocalTime().ToString("MM/dd/yyyy")');
                $('input[name="dates"]').daterangepicker({
                    startDate: start,
                    endDate: end,
                    locale: {
                        format: "DD/MM/YYYY",
                    }
                }, function (s, e, label) {
                    RepDate(s, e);
                    loadData()
                });
                window.RepDate = this.repDate
                window.tabChange = this.tabChange
                window.loadData = this.loadData
                window.showSkillSummary = this.showSkillSummary
                this.tabChange()
            },
            components: {
                vuejsDatepicker
            },
            data: {
                classID: '@currentClass.ID',
                className: '@currentClass.Name',
                classSubjects: [],
                search_subject: '',
                summaryFields: [
                    {
                        key: 'subject',
                        label: 'Học liệu'
                    },
                    {
                        key: 'progress',
                        label: 'KL đã hoàn thành'
                    },
                    {
                        key: 'score',
                        label: 'Điểm luyện tập'
                    },
                    {
                        key: 'score',
                        label: 'Điểm kiểm tra'
                    },
                    {
                        key: 'rank',
                        label: 'Xếp hạng'
                    },
                ],
                progressFields: [
                    {
                        key: 'lesson',
                        label: 'Bài học'
                    },
                    {
                        key: 'schedule',
                        label: 'Lịch học'
                    },
                    {
                        key: 'last_update',
                        label: 'Lần cuối'
                    },
                    {
                        key: 'total',
                        label: 'Lượt học'
                    },
                ],
                resultFields: [
                    //{
                    //    key: 'lesson',
                    //    label: 'Bài kiểm tra'
                    //},
                    {
                        key: 'schedule',
                        label: 'Lịch kiểm tra'
                    },
                    {
                        key: 'last_update',
                        label: 'Lần cuối'
                    },
                    {
                        key: 'score',
                        label: 'Điểm'
                    },
                    {
                        key: 'total',
                        label: 'Lượt làm bài'
                    },
                ],
                progressData: [],
                summaryData: [],
                resultData: [],
                view: 10,
                page: 1,
                avgPoint: 0,
                rank: { pos: 1, total: 1},
                startdate: moment('@currentClass.StartDate.ToLocalTime().ToString("MM/dd/yyyy")'),
                enddate: moment('@currentClass.EndDate.ToLocalTime().ToString("MM/dd/yyyy")'),
                tab: [true, false],
                studentResult: {
                    title: '',
                    history:[]
                },
                fillterResultData:[],
            },
            watch: {
                search_subject: function () {
                    history.replaceState({ sbj: this.search_subject }, '', '#' + this.search_subject);
                    this.loadData()
                }
            },
             computed: {
                sDate: {
                    get() {
                        return moment(this.startdate).format("MM/DD/YYYY");
                    },
                    set(value) {
                        this.startdate = value;
                    }
                },
                eDate: {
                    get() {
                        return moment(this.enddate).format("MM/DD/YYYY");
                    },
                    set(value) {
                        this.enddate = value;
                    }
                }
            },
            methods: {
                loadData() {
                    let _that = this
                    if (_that.search_subject == '') {
                        _that.loadSummary();
                        return true;
                    }
                    var pos = 0
                    _that.tab.forEach(function (item, k) {
                        if (_that.tab[k] == true) {
                            pos = k
                        }
                    })
                    switch (pos) {
                        case 0:
                            _that.loadHistory();
                            break;
                        case 1:
                            _that.loadResult();
                            break;
                    }
                    this.$forceUpdate()
                },
                loadResult() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('ClassID', _that.classID)
                    _form.append('ID', '@currentStudent.ID')
                    _form.append('ClassSubjectID', _that.search_subject)
                    _form.append('StartDate', moment(_that.startdate).format("MM/DD/YYYY"))
                    _form.append('EndDate',  moment(_that.enddate).format("MM/DD/YYYY"))

                    let _url = '@processUrl("GetLearningResult", "Class")'
                    axios.post(_url, _form)
                        .then(response => {
                            _that.resultData = response.data.Data;
                            //_that.avgPoint = 0;

                            //if (_that.resultData.length > 0) {
                            //    _that.resultData.forEach(function (exam) {
                            //        _that.avgPoint += exam.Result
                            //    });
                            //    _that.avgPoint = _that.avgPoint / _that.resultData.length
                            //}
                            this.fillTypeExam(2);
                            console.log(_that.avgPoint)
                        }).catch(e => { })
                },
                loadHistory() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('ClassID', _that.classID)
                    _form.append('ID', '@currentStudent.ID')
                    _form.append('ClassSubjectID', _that.search_subject)
                    _form.append('StartDate', moment(_that.startdate).format("MM/DD/YYYY"))
                    _form.append('EndDate',  moment(_that.enddate).format("MM/DD/YYYY"))

                    let _url = '@processUrl("GetLearningProgress", "Class")'
                    axios.post(_url, _form)
                        .then(response => {
                            _that.progressData = response.data.Data;
                        }).catch(e => { })
                },
                loadSummary() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('ClassID', _that.classID)
                    _form.append('ID', '@currentStudent.ID')
                    let _url = '@processUrl("GetLearningSummary", "Class")'
                    axios.post(_url, _form)
                        .then(response => {
                            _that.summaryData = response.data.Data;
                            _that.rank = response.data.Result;
                            _that.avgPoint = response.data.Result.avg;
                        }).catch(e => { })
                },
                loadClassSubjects() {
                    let _that = this
                    if (_that.classSubjects.length > 0)
                        return;

                    let _form = new FormData()
                    _form.append('ClassID', _that.classID)
                    let _url = '@processUrl("GetClassSubjects", "ClassSubject")'
                    axios.post(_url, _form)
                        .then(response => {
                            var _data = response.data.Data;
                            _that.classSubjects = [];
                            _data.forEach(function (item, k) {
                                _that.classSubjects.push({
                                    ID: item.ID,
                                    Title: item.CourseName == null ? ("(" + item.SkillName + ")") : item.CourseName,
                                    Image: item.SkillImage,
                                })

                                var hash = window.location.hash.replace('#', '');
                                if (Array.from(_that.classSubjects).findIndex(t => t.ID == hash) >= 0) {

                                    _that.search_subject = hash;
                                }

                            })
                        }).catch(e => { })
                },
                tabChange(a = 0) {
                    // có thể load data theo từng tab để tối ưu hiệu năng
                    // this.getData()
                    let _that = this
                    _that.tab.forEach(function (item, k) {
                        _that.tab[k] = false;
                    })
                    this.tab = _that.tab
                    this.tab[a] = true
                    this.loadData()
                },
                domDecoder(str) {
                    let parser = new DOMParser();
                    let dom = parser.parseFromString('<!doctype html><body>' + str, 'text/html');
                    return dom.body.textContent;
                },
                formatShortDate(date) {
                    if (moment(date) < moment(new Date(2000, 1, 1))) return "-"
                    return moment(date).format("DD/MM/YYYY")
                },
                formatFullDate(date) {
                    if (moment(date) < moment(new Date(2000, 1, 1))) return "-"
                    return moment(date).format("DD/MM/YYYY hh:mm A")
                },
                showSkillSummary(classsubjectid) {
                    this.search_subject = classsubjectid;
                    console.log(classsubjectid);
                },
                repDate(svalue, evalue) {
                    this.eDate = evalue;
                    this.sDate = svalue;
                },
                getPercent(a, b) {
                    var result = 0;
                    if (a > 0)
                        result = a * 100 / b;
                    return result;
                },
                showSkillSummary(csid) {
                    console.log(csid);
                    this.search_subject = csid;
                    console.log(this.search_subject);
                    history.replaceState({ sbj: this.search_subject }, '', '#' + this.search_subject);
                    this.loadData()
                },
                openHistory(obj) {
                    let _that = this;
                    let _form = new FormData();
                    _form.append('ID', obj.LessonId);
                    _that.title = obj.Title;
                    var studentID = '@currentStudent.ID';
                    let _url = '@processUrl("GetLessonProgressList", "Exam")'
                    axios.post(_url, _form)
                        .then(response => {
                            var _data = response.data.Data;
                            var a = _data.find(element => element.StudentID == studentID);
                            //if (a.ListExam.length > 0) {
                                _that.studentResult.history = a.ListExam;
                            //}
                        }).catch(e => { })
                    _that.$bvModal.show('modal_history');
                },
                hideModal(id) {
                    if (id == null)
                        $('.close').click();
                    else
                        $('#' + id + ' .close').click();
                },
                fillTypeExam(type = 2)//mac dinh la bai kiem tra
                {
                    this.fillterResultData = [];
                    if (type == 2) {//bai kiem tra
                        for (i = 0; i < this.resultData.length; i++) {
                            if (this.resultData[i].TemplateType == 2 ) {
                                this.fillterResultData.push(this.resultData[i]);
                            }
                        }
                    }
                    else {
                        for (i = 0; i < this.resultData.length; i++) {
                            if (this.resultData[i].IsPractice == true) {
                                this.fillterResultData.push(this.resultData[i]);
                            }
                        }
                    }
                    let _that = this;
                    _that.avgPoint = 0;

                    if (_that.fillterResultData.length > 0) {
                        _that.fillterResultData.forEach(function (exam) {
                            _that.avgPoint += exam.Result
                        });
                        _that.avgPoint = _that.avgPoint / _that.fillterResultData.length
                    }
                }
            }
        });
    </script>
}

@section Modals{
    <div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="addStudentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Student to Class</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="ID" />
                    <div class="form-group">
                        <label class="col-form-label">Find Student:</label>
                        <input type="text" class="form-control" id="studentName" name="Name" placeholder="Please type to search">
                        <input type="hidden" value="" id="studentID" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddStudent()">Add</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .ui-front {
            z-index: 9999
        }
    </style>
}