@{

    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";

    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    var product = ViewBag.Product as BaseCustomerMVC.Models.NewsViewModel;
    ViewData["Title"] = "Thông tin thanh toán: " + product?.Title;
    var student = ViewBag.Student as BaseCustomerEntity.Database.StudentEntity;
    string processUrl(string act, string ctrl)
    {
        string url = Url.Action(act, ctrl);

        return $"/{center}{url}";
    }
}

<div class="module" id="dashboard_content">
    @*<form action="@processUrl("PaymentStatus","Home")" method="post">*@
    @*<input type="text" class="hide" name="ID" id="ID" value="@ViewBag.Product.ID" />
        <input type="text" name="ClassName" readonly value="@ViewBag.Product.ClassName" />
        <input type="text" name="Price" value="@ViewBag.Product.Price" readonly />
        <button onclick="Thanhtoan()">Thanh toán</button>*@

    @* Thong tin don hang *@
    <div class="form-group">
        <input type="hidden" class="hide" id="ID" name="ID" value="@product.ID" />
        <h3>Đơn hàng</h3>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class='text-center'>#</th>
                    <th class='text-center'>Tên gói học</th>
                    <th class='text-center'>Giá tiền</th>
                    @*<th class='text-center'>Số lượng</th>
                        <th class='text-center'>Thành tiền</th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='text-center'>1</td>
                    <td class='text-center'><a href="javascript:;">@product.Title</a></td>
                    <td class='text-center'>@product.Discount.ToString("0,0.##") VND</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-row">
        <h3>Thông tin đặt hàng</h3>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Họ tên(*)</th>
                    <td><input type="text" id="Name" name="Name" placeholder="Họ và tên" value="@student.FullName" required /></td>
                </tr>
                <tr>
                    <th>Số điện thoại(*)</th>
                    <td><input type="text" id="Phone" name="Phone" placeholder="Số điện thoại" value="@student.Phone" required /></td>
                </tr>
                <tr>
                    <th>Địa chỉ(*)</th>
                    <td><input type="text" id="Address" name="Address" placeholder="Địa chỉ" value="@student.Address" required /></td>
                </tr>
                <tr>
                    <td colspan="2" onclick="Thanhtoan()"><button>Thanh toán</button></td>
                </tr>
            </thead>
        </table>
    </div>
    @*</form>*@
</div>

<script>
    var Thanhtoan= function () {
        var ID = document.getElementById("ID").value;
        var Name = document.getElementById("Name").value;
        var Address = document.getElementById("Address").value;
        var Phone = document.getElementById("Phone").value;
        var Center = '@center';
        //debugger
        $.ajax({
            type: "POST",
            url: '@processUrl("PaymentStatus", "Home")',
            data: { basis: Center, ID: ID, Phone: Phone, Name: Name },
            dataType: "json",
            success: function (data) {
                if (data.Url != "") {
                    window.location.href = data.Url
                }
                else {
                    alert(data.Error)
                }
            }
        });
    }
</script>