
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var model = ViewBag.Model as BaseCustomerMVC.Models.DefaultModel;
    var _lessonID = ViewBag.LessonID as string;
    var _classID = ViewBag.ClassID as string;
}
<div class="container-fluid">
    <!-- Begin Page Content -->
    <div id="exam-student">
    </div>
    <!-- End of Main Content -->
    <input type="hidden" name="ExamID" id="ExamID" value="" />
</div>
@section Scripts{
    <script>
        function openNav() {
            $('#lessonContainer').addClass('col-md-10');
            $("#quizNavigator").show();
            $("#quiz-number_123").hide();
        }

        function closeNav() {
            $('#lessonContainer').removeClass('col-md-10');
            $("#quizNavigator").hide();
            $("#quiz-number_123").show();
        }

    </script>
    <script src="~/js/student-exam-new.js"></script>
    <script>
        var config = {
            id: "exam-student",
            url: {
                load: '@Url.Action("GetLesson", "Course")',
                current: '@Url.Action("GetCurrentExam","Exam")',
                start: '@Url.Action("Create","Exam")',
                chosen: '@Url.Action("CreateDetails","Exam")',
                end: '@Url.Action("CompleteExam","Exam")'
            },
            lesson_id: '@_lessonID',
            class_id: '@_classID'
    }
    var widget = new ExamStudent.onReady(config);
    </script>
    <style>
    #nav-menu {
        border-bottom: dashed 1px #CCC;
        height: 64px;
    }

        #nav-menu .lesson-tab {
            height: 42px;
        }

    #pills-tab {
        width: 100%;
        overflow: hidden;
        background: #DDD;
        border: solid 1px #999;
        z-index: 1021;
        border-radius: 10px;
    }

        #pills-tab.compact {
            height: 42px;
            background: #DDD;
        }

        #pills-tab .nav-item {
            width: 100%;
        }

            #pills-tab .nav-item .nav-link {
                padding: 3px 10px;
                cursor:pointer;
            }

    </style>    
}