@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var role = ViewBag.Roles as List<BaseCustomerEntity.Database.RoleEntity>
    ;
}

<!-- Begin Page Content -->
<div class="container-fluid">
    @using (Html.BeginForm(FormMethod.Post, new { name = "FormControl" }))
    {
        <input type="hidden" name="ArrID" value="" />
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h4>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" onclick="var result = confirm('bạn có chắc muốn xóa không ?'); if (result) Submit('FormControl','@Url.Action(" Delete","account")','delete',LoadData);"> <i class="fas fa-trash"></i> </button>
                            <button type="button" class="btn btn-primary" onclick="Add(this)" data-toggle="modal" data-target="#ModalCenter"> <i class="fas fa-plus"></i> </button>
                            @*<button type="button" class="btn btn-danger" onclick="var result = confirm('bạn có chắc muốn xóa không ?'); if (result) Submit('FormControl','@Url.Action(" Delete","account")','delete',LoadData);"> <i class="fas fa-trash"></i> </button>
                                <button type="button" class="btn btn-primary" onclick="Add(this)" data-toggle="modal" data-target="#ModalCenter"> <i class="fas fa-plus"></i> </button>
                                <button type="button" class="btn btn-primary" onclick="Export('FormControl','@Url.Action(" Export", "account" )')"> <i class="fas fa-file-export"></i> </button>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="input-group">
                                        <input type="checkbox" aria-label="Checkbox" onclick="toggleAll(this, 'dataTable')">
                                    </div>
                                </th>
                                <th>STT</th>
                                <th>Tên đăng nhập</th>
                                <th>Họ tên</th>
                                <th>RoleID</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    }
</div>
<!-- Modal Create Form -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        @using (Html.BeginForm("Create", "account", FormMethod.Post, new { enctype = "multipart/form-data", name = "AddForm" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Tạo tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="UserName" placeholder="Tên đăng nhập (Email)" autocomplete="off" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" name="PassWord" placeholder="Mật khẩu" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select name="RoleID" class="form-control">
                                    @{
                                        for (int i = 0; role != null && i < role.Count; i++)
                                        {
                                            <option value="@role[i].ID">@role[i].Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="input-option" name="IsActive" class="form-control">
                                    <option value="true" selected>Hoạt động</option>
                                    <option value="false">Không hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Submit('AddForm','@Url.Action(" Create", "account" )','create',LoadData)">Lưu lại</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal chose file -->
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Import", "account", FormMethod.Post, new { enctype = "multipart/form-data", name = "ImportForm" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Thêm nhanh từ file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 form-label p-3" for="FormControlFile">Chọn file excel:</label>
                            <div class="chose-file col-sm-9">
                                <input type="file" name="file" class="form-control-file" id="FormControlFile">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="button-left">
                        <button type="button" class="btn btn-secondary">Tải file mẫu</button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Submit('ImportForm','','import',LoadData)">Lưu lại</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function LoadData() { var searchText = $("#searchText").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "account")',
            data: {SearchText: searchText},
            success: function (data) {
                console.log(data);
                var body = $('#dataTable tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {

                        item = data.Data[i];
                        var isBlock = (item.RoleName == "Super Admin");
                        var active = "";

                        if (item.IsActive) {
                            active = "<td><button onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("unpublish", "account")',LoadData)\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";
                        } else {
                            active = "<td><button onclick=\"ExcuteOnlyItem('" + item.ID + "','@Url.Action("publish", "account")',LoadData)\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle btn-danger'> <div class='handle'></div> </button></td>";
                        }
                        body.append("<tr>" +
                            "<td><div class='input-group'><input name='cid' type='checkbox' value='" + item.ID + "' onclick=\"setToggle('dataTable')\"/></div></td>"+
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + item.UserName +"</td>" +
                            "<td>" + item.Name + "</td>" +
                            "<td>" + item.RoleName +"</td>" +active +
                            "<td><button onclick=\"Edit('" + item.ID + "','@Url.Action("getdetails", "account")','@Url.Action("create", "account")',this)\" type='button' class='btn btn-primary' data-toggle='modal' data-target='#ModalCenter'> <i class='fas fa-edit'></i> </button>" +
                            (isBlock ?"": "<button onclick=\"var result = confirm('bạn muốn xóa đối tượng " + item.Name + " ? '); if(result) ExcuteOnlyItem('" + item.ID + "','@Url.Action("delete", "account")',LoadData); else return;\" type='button' class='btn btn-danger'> <i class='fas fa-trash'></i> </button>") +
                            "</td > " +
                            "</tr>"
                        );
                    }
                }
            },
            error: function(err) {
                console.log(err);
                alert("Error");
            }
        });
    };

    $(document).ready(function () {
        LoadData();
    });
</script>
