@using BasePublisherModels.Database
@{
    ViewData["Title"] = "Tạo mới giáo trình";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subjects = ViewBag.SubjectData as List<ModSubjectEntity>;
    var grades = ViewBag.GradeData as List<ModGradeEntity>;
}

<div class="card">
    <div class="card-header card-header-icon">
        <h4 class="card-title">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-fab btn-danger"><i class="material-icons">reply</i></a>
            <a href="javascript:void(0)" onclick="execute('create')" class="btn btn-sm btn-success pull-right"><i class="material-icons">save</i> Save</a>
        </h4>

    </div>
    <div class="card-body">
        <form name="myform" asp-action="Create" method="post" enctype="application/x-www-form-urlencoded">
            @Html.AntiForgeryToken()
            <input type="hidden" id="ctrl" value="ModPrograms" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên :</label>
                        <input type="text" name="Name" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Mô tả :</label>
                        <input type="text" name="Description" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Môn học </label>
                    </div>
                </div>
                <div class="col-md-12" style="top: -31px;">
                    @{
                        if (subjects != null)
                        {
                            int count = subjects.Count;
                            for (int i = 0; i < count; i++)
                            {
                                var item = subjects[i];
                                <input type="hidden" name="Subjects" id="@{ @Html.Raw(item.ID) }" style="display: none">
                                <div class="form-group" style="display: inline-block; min-width: 150px;">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" onclick="toggleID(this, '@{ @Html.Raw(item.ID) }')">
                                            <span class="form-check-sign" style="white-space: nowrap; min-width: 150px;">
                                                <span class="check"></span> <span class="text-left" style="position: relative; top: -5px; display: inline-block;"> @item.Name</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="col-md-12" style="margin-top: -31px;">
                    <div class="form-group">
                        <label> Cấp độ </label>
                    </div>
                </div>
                <div class="col-md-12" style="top: -31px;">

                    @{
                        if (grades != null)
                        {
                            int count = grades.Count;
                            for (int i = 0; i < count; i++)
                            {
                                var item = grades[i];
                                <input type="hidden" name="Grades" id="@{ @Html.Raw(item.ID) }" style="display: none">
                                <div class="form-group" style="display: inline-block; min-width: 150px;">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" onclick="toggleID(this, '@{ @Html.Raw(item.ID) }')">
                                            <span class="form-check-sign" style="white-space: nowrap; min-width: 150px;">
                                                <span class="check"></span> <span class="text-left" style="position: relative; top: -5px; display: inline-block;"> @item.Name</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                 <div class="col-md-12" style="margin-top: -31px">
                    <input type="hidden" name="IsActive" value="false">
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" onclick="thatActive(this,'IsActive')" value="false">
                                <span class="form-check-sign" style="white-space:nowrap; min-width:150px;">
                                    <span class="text-left" style="position:relative;top:-5px;display:inline-block;"> Trạng thái hoạt động :</span>  <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/Contents/js/publisher.js"></script>
}