@{

    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    ViewData["Title"] = currentClass.Name;
}

<script>
    activeTab = "course";
    modulesLink = "@Url.Action("Modules", "Class")/@currentClass.ID";
    activeSub = "home";
</script>


<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarTeacher")
        </div>
        <div class="main-content">
            <div class="intro-wrapper content-block">
                <div class="block-title row mr-0">
                    <h2 class="col-md-11">@currentClass.Name</h2><button class="btn btn-info col-md-1" onclick="editClassInfo()" data-toggle="modal" data-target="#infoModal">Cập nhật</button>
                </div>
                <div class="course-info">

                    @if (!String.IsNullOrEmpty(currentClass.Image))
                    {
                        <img src="@currentClass.Image" title="@currentClass.Name" class="courseImg" />
                    }
                    @if (!String.IsNullOrEmpty(currentClass.Syllabus))
                    {
                        <div class="block-title mt-3">
                            <h2>Đề cương môn học</h2>
                        </div>
                        <div class="course-syllabus">
                            @Html.Raw(currentClass.Syllabus)
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(currentClass.Modules))
                    {
                        <div class="block-title mt-3">
                            <h2>Nội dung môn học</h2>
                        </div>
                        <div class="course-modules">
                            @Html.Raw(currentClass.Modules)
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(currentClass.LearningOutcomes))
                    {
                        <div class="block-title mt-3">
                            <h2>Mục tiêu đầu ra</h2>
                        </div>
                        <div class="course-outcomes">
                            @Html.Raw(currentClass.LearningOutcomes)
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(currentClass.References))
                    {
                        <div class="block-title mt-3">
                            <h2>Tài liệu tham khảo</h2>
                        </div>
                        <div class="course-references">
                            @Html.Raw(currentClass.References)
                        </div>
                    }
                </div>
            </div>

            <div class="syllabus-wrapper content-block">
                <table class="w-100 table-big-title table-hover">
                    <thead>
                        <tr>
                            <th class="width:10%" class="text-center">
                                <h3>
                                    STT
                                </h3>
                            </th>
                            <th style="width:50%">
                                <h3>
                                    Tên chương
                                </h3>
                            </th>
                            <th style="width:40%">
                                <h3>
                                    Hoạt động
                                </h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="assignment-wrapper content-block">
                <div class="block-title">
                    <h2>Các hoạt động đánh giá</h2>
                </div>
                <table class="w-100 table-hover table-normal-title">
                    <thead>
                        <tr style="font-weight:700">
                            <th style="width:20%">
                                Ngày
                            </th>
                            <th style="width:60%">
                                Nội dung
                            </th>
                            <th style="width:20%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="chapterModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm chương mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("CreateOrUpdate","Chapter")" name="chapterForm" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="ID" />
                    <input type="hidden" name="ClassID" value="@currentClass.ID" />
                    <input type="hidden" name="ParentID" value="" />

                    <div class="form-group">
                        <label class="col-form-label">Tên chương mục:</label>
                        <input type="text" class="form-control" name="Name" readonly>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" name="Description" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="return Submit('chapterForm', '@Url.Action("UpdateChapterInfo","Class")','update' , LoadChapters)">Lưu</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

    var chapters = [];
    var lessons = [];
    var scheduleBody = $('.modules-wrapper');
    var syllabusBody = $('.syllabus-wrapper tbody');
    var assignmentBody = $('.assignment-wrapper tbody');

    function LoadChapters(data) {
        if (data != null) {
            var json = JSON.parse(data);
            if (json.Error != null) {
                alert(json.Error);
                return false;
            }
            hideModal();
        }

        chapters = [];
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetMainChapters", "Class")',
            data: {ID: '@currentClass.ID' },
            dataType:"json",
            success: function (data) {
                scheduleCounter = 1;
                syllabusBody.html("");
                rcCounter = 0;

                chapters = data.Data;
                if (chapters.length > 0) {
                    for (i = 0; i < chapters.length; ++i) {
                        var chapter = chapters[i];
                        var chapContent = $("<tr id='chap" + chapter.ID + "' class='item-row'>");
                        chapContent.append($("<td>", {"class":"text-center", "text": ++rcCounter}));
                        var leftContent = $("<div>", {"class": "col-sm-10"});
                        var rightContent = $("<div>", {"class": "col-sm-2 text-right row-action"});
                        chapContent.append($("<td>").append($("<a>", {
                                "class":"action-link",
                                "name":"Name",
                                "href": modulesLink + "#" + chapter.ID,
                                "text": chapter.Name
                                })));
                        chapContent.append($("<td class='row'>").append(leftContent).append(rightContent));
                        if(chapter.Description != null)
                            leftContent.append($("<span>", {"name": "Description"}).append(chapter.Description.replace(/\n/g,"<br/>")));
                        rightContent.append($("<i>", { "class": "fas fa-edit", "data-toggle": "modal", "data-target": "#chapterModal", "data-placement": "top", "pid": chapter.ParentID, "title": "Sửa", "onclick" : "EditChapter(this, '" + chapter.ID + "'); return false;" }));
                        syllabusBody.append(chapContent);
                    }
                    $('.row-action i').tooltip();
                }
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }

    function LoadAssignments()
    {
        lessons = [];

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAssignments", "LessonSchedule")',
            data: {ClassID: '@currentClass.ID' },
            dataType:"json",
            success: function (data) {
                lessons = data.Data.Lessons;
                if (lessons.length > 0) {
                    for (j = 0; j < lessons.length; j++) {
                        var item = lessons[j];

                        var startdate = moment(item.StartDate).format('DD/MM/YYYY');
                        var enddate = moment(item.Enddate).format('DD/MM/YYYY');

                        var assigmentRow = $("<tr>");
                        assigmentRow.append($("<td>", {"text":startdate}));
                        assigmentRow.append($("<td>").append($("<i class='assignment-icon icon'>")).append($("<a>", {
                                        "href": "@Url.Action("Detail", "Lesson")/" + item.ID + "/@currentClass.ID",
                                        "class": "action-link",
                                        "text": item.Title ,
                                        "style": "margin-left:5px;"
                                    })));
                        assigmentRow.append($("<td>", { "class":"text-right font-italic", "text": "hạn cuối " + enddate}));
                        assignmentBody.append(assigmentRow);
                    }
                }
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }


    $(document).ready(function () {
        LoadChapters();
        LoadAssignments();
    });

    function editClassInfo(){
        document.location = '@Url.Action("Edit","Class", new {ID = currentClass.ID })';
    }

    function EditChapter(obj, ID) {
        var modal = $("#chapterModal");
        var modalTitle = modal.find("#modalTitle");
        modalTitle.text("Cập nhật chương mục");
        var name = $(obj).parent().parent().parent().find("[name=Name]").text().trim();
        var description = $(obj).parent().parent().parent().find("[name=Description]").text().trim();
        var parent = $(obj).attr("pid");
        modal.find("[name=Name]").val(name);
        modal.find("[name=Description]").val(description);
        modal.find("[name=ParentID]").val(parent);
        modal.find("[name=ID]").val(ID);
    }

    function chooseFile(obj) {
        $(obj).siblings("input[type=file]").focus().click();
    }

    function changeMedia(obj) {
        var file = $(obj)[0].files[0];
        $(obj).siblings(".btnAddFile").text(file.name);
        $(obj).siblings("img").remove();
    }
    </script>
}
