@{

    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var curentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    ViewData["Title"] = curentClass.Name;
}


<!-- Begin Page Content -->
<div class="container">
    <div class="card show mb-4">
        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">@curentClass.Name</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="lesson-tab" data-toggle="tab" href="#lessonlist" role="tab" aria-controls="lesson" aria-selected="true" onclick="LoadSchedule()">Lịch giảng dạy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="member-tab" data-toggle="tab" href="#memberlist" role="tab" aria-controls="member" aria-selected="false" onclick="LoadMembers()">Danh sách lớp</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" id="comment-tab" data-toggle="tab" href="#commentlist" role="tab" aria-controls="comment" aria-selected="false">Thảo luận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="exam-tab" data-toggle="tab" href="#examlist" role="tab" aria-controls="exam" aria-selected="false" onclick="LoadExam()">Thi / Kiểm tra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="score-tab" data-toggle="tab" href="#scorelist" role="tab" aria-controls="scores" aria-selected="false">Bảng điểm</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="lessonlist" role="tabpanel" aria-labelledby="home-tab">
                    <div class="table-responsive">
                        <table id="scheduleTable" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên bài học</th>
                                    <th>Mô tả</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="memberlist" role="tabpanel">
                    <div class="table-responsive">
                        <div class="tab-teacher card mb-4">
                            <div class="card-header">
                                <h5 class="m-0 font-weight-bold text-primary">Thông tin giáo viên</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img class="img-fluid" src="~/img/Luna-Blaise.jpg">
                                    </div>
                                    <div class="col-lg-8">
                                        <h3 class="m-0 font-weight-bold text-primary">GV <span id="TeacherName"></span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DataTales Example -->
                        <div class="tab-student">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="m-0 font-weight-bold text-primary">Danh sách sinh viên</h5>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-primary" onclick="ImportSV('@curentClass.ID','ImportForm')" data-toggle="modal" data-target="#importModal">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="membersTable" class="table table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Họ và tên</th>
                                                    <th>Email</th>
                                                    <th>Điện thoại</th>
                                                    <th>Lớp</th>
                                                    <th>Ngày tháng năm sinh</th>
                                                    <th>Tình trạng khóa học</th>
                                                    <th>Ngày học gần nhất</th>
                                                    <th>Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="commentlist" role="tabpanel">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text">Thảo luận mới</h6>
                        </div>
                        <div class="card-body">
                            <div class="item">
                                <div class="title"><span class="text">Charde Marshall, </span><span class="date">14/6/2019</span><span class="time">14:23:30pm</span></div>
                                <br>
                                <p>Hi teacher, what's is the main content of next lesson?</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text">Thảo luận</h6>
                        </div>
                        <div class="card-body">
                            <div class="item">
                                <div class="title"><span class="text font-weight-bold">Phạm Anh Tuấn, </span><span class="date">14/6/2019</span><span class="time">14:23:30pm</span></div>
                                <p>Hi teacher, what's is the main content of next lesson?</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="examlist" role="tabpanel">
                    <div class="check">
                        <div class="table-responsive">
                            <table id="examTable" class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Tên bài học</th>
                                        <th>Mô tả</th>
                                        <th>Thời gian bắt đầu</th>
                                        <th>Thời gian kết thúc</th>
                                        <th>Học viên tham gia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="scorelist" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="scoreTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Họ và tên</th>
                                    <th>Lớp</th>
                                    <th>Ngày thi</th>
                                    <th>Điểm thi</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày chấm thi</th>
                                    <th>Người chấm thi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Phạm Anh Tuấn</a></td>
                                    <td>HV001</td>
                                    <td>2011/04/25</td>
                                    <td>23.5</td>
                                    <td>chưa làm</td>
                                    <td>2011/04/25</td>
                                    <td>Valerie Luna</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Main Content -->

        <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" id="importModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    @using (Html.BeginForm("ImportStudent", "Class", FormMethod.Post, new { enctype = "multipart/form-data", name = "ImportForm" }))
                    {
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenterTitle">Thêm nhanh từ file</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-3 form-label p-3" for="FormControlFile">Chọn file excel:</label>
                                    <div class="chose-file col-sm-9">
                                        <input type="file" name="file" class="form-control-file" id="FormControlFile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="button-left">
                                <button type="button" class="btn btn-secondary">Tải file mẫu</button>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary btn-submit" data-dismiss="modal" onclick="Submit('ImportForm','','import',LoadMembers)">Lưu lại</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="examModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenterTitle">Danh sách học viên làm bài kiểm tra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var chapters = [];
    var lessons = [];
    var scheduleBody = $('#scheduleTable tbody');
    var membersBody = $('#membersTable tbody');
    var examBody = $('#examTable tbody');
    var scheduleCounter = 0;
    var memberCounter = 0;

    function LoadSchedule() {
        chapters = [];
        lessons = [];
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "LessonSchedule")',
            data: {ClassID: "@curentClass.ID"},
            dataType:"json",
            success: function (data) {
                scheduleCounter = 1;
                scheduleBody.html("");

                chapters = data.Data.Chapters;
                lessons = data.Data.Lessons;
                //renderChapter("0");

                if (chapters.length > 0) {
                    for (i = 0; i < chapters.length; ++i) {
                        var chapter = chapters[i];
                        var parent = scheduleBody;

                        var chapLV = 0;
                        if (chapter.ParentID == null) {
                            chapter.ParentID = "0";
                        }

                        if (chapter.ParentID != "0")
                        {
                            parent = scheduleBody.find("tr[chapid=" + chapter.ParentID +"]");
                        }

                        var chapContent = $("<tr>", {"chapid":chapter.ID, "pid": chapter.ParentID, "clv": chapLV});
                        chapContent.append("<td colspan='6'><b>" + chapter.Name + "</b>");

                        if (chapter.ParentID === "0") {
                            scheduleBody.append(chapContent);
                        }
                        else
                        {
                            var siblings = parent.find("tr[pid=" + chapter.ParentID + "]");

                            if (siblings.length > 0) {
                                $(siblings).last().after(chapContent);
                            }
                            else
                            {
                                parent.after(chapContent);
                            }
                        }
                    }
                }


                if (lessons.length > 0) {
                    for (j = lessons.length-1; j >= 0; j--) {
                        var item = lessons[j];
                        var active = "";
                        if (item.IsActive) {
                            active = "<td><button onclick=\"ExcuteOnlyItem('" + item.ScheduleID + "','@Url.Action("unpublish", "LessonSchedule")',ToggleStatus(this))\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";
                        } else {
                            active = "<td><button onclick=\"ExcuteOnlyItem('" + item.ScheduleID + "','@Url.Action("publish", "LessonSchedule")',ToggleStatus(this))\" type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle btn-danger'> <div class='handle'></div> </button></td>";
                        }

                        var startdate = $.datepicker.formatDate('dd/mm/yy', new Date(item.StartDate));
                        var enddate = $.datepicker.formatDate('dd/mm/yy', new Date(item.EndDate));

                        if (item.ChapterID == null) {
                            scheduleBody.append("<tr lid=\"" + item.ID + "\">" +
                            "<td><a class='links' href='@Url.Action("Detail", "Lesson")/" + item.ID + "?ClassID=@curentClass.ID'>" + item.Title + "</td>" +
                            "<td>---</td>" +
                            "<td dvalue=\"" + item.StartDate + "\" class='startdate'><span>" + startdate + "</span></td>" +
                            "<td dvalue=\"" + item.EndDate + "\" class='enddate'><span>" + enddate + "</span></td>" + active +
                            "<td><button onclick=\"EditSchedule('" + item.ID + "')\" type='button' class='btn btn-primary action edit' data-toggle='tooltip' data-placement='top' title='Sửa'> <i class='fas fa-edit'></i> </button>" +"</td > " +
                            "</tr>"
                            );
                        }
                        else
                        {
                            scheduleBody.find("tr[chapid=" + item.ChapterID + "]").after("<tr lid=\"" + item.ID + "\">" +
                            "<td><a class='links' href='@Url.Action("Detail", "Lesson")/" + item.ID + "?ClassID=@curentClass.ID'>" + item.Title + "</td>" +
                            "<td>---</td>" +
                            "<td dvalue=\"" + item.StartDate + "\" class='startdate'><span>" + startdate + "</span></td>" +
                            "<td dvalue=\"" + item.EndDate + "\" class='enddate'><span>" + enddate + "</span></td>" + active +
                            "<td><button onclick=\"EditSchedule('" + item.ID + "')\" type='button' class='btn btn-primary action edit' data-toggle='tooltip' data-placement='top' title='Sửa'> <i class='fas fa-edit'></i> </button>" +
                            "</td > " +
                            "</tr>"
                            );
                        }
                    }
                }
                $('.btn').tooltip();
            },
            error: function() {
                alert("Error");
            }
        });
    };

    function LoadMembers() {
        members = [];
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetListMember", "Class")',
            data: {ID: "@curentClass.ID"},
            dataType:"json",
            success: function (data) {
                memberCounter = 1;
                membersBody.html("");

                teacher = data.Data.Teacher;

                $('#TeacherName').text(teacher.FullName);

                members = data.Data.Students;
                //renderChapter("0");

                if (members.length > 0) {
                    for (j = 0; j < members.length; j++) {
                        console.log(members[j]);
                        var student = members[j];

                        var date = $.datepicker.formatDate('dd/mm/yy', new Date(student.DateBorn));
                        var lastdate = $.datepicker.formatDate('dd/mm/yy', new Date(student.LastJoinDate));

                        membersBody.append("<tr>" +
                                "<td>" + (j + 1) + "</td>" +
                                "<td>" + student.FullName + "</td>" +
                                "<td>" + student.Email + "</td>" +
                                "<td>" + (student.Phone == null ?"" : student.Phone)  + "</td>" +
                                "<td>" + (student.Class == null ?"" : student.Class[0])  + "</td>" +
                                "<td>" + date + "</td>" +
                                "<td>" +
                                    "<div class=\"progress\">" +
                                        "<div class=\"progress-bar bg-success\" role=\"progressbar\" style=\"width: 0%\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div>" +
                                    "</div>" +
                                "</td>" +
                                "<td>" + lastdate + "</td>" +
                                "<td>Đang học</td>" +
                            "</tr>"
                        );
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    }

    function LoadExam() {
        chapters = [];
        lessons = [];
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetExamList", "LessonSchedule")',
            data: {ClassID: "@curentClass.ID"},
            dataType:"json",
            success: function (data) {
                examBody.html("");

                lessons = data.Data.Lessons;
                //renderChapter("0");

                if (lessons.length > 0) {
                    for (j = lessons.length-1; j >= 0; j--) {
                        var item = lessons[j];

                        var startdate = $.datepicker.formatDate('dd/mm/yy', new Date(item.StartDate));
                        var enddate = $.datepicker.formatDate('dd/mm/yy', new Date(item.EndDate));

                        examBody.append("<tr lid=\"" + item.ID + "\">" +
                        "<td><a class='links' data-toggle=\"modal\" data-target=\"#examModal\" onclick=\"\" href=\"javascript:void(0)\">" + item.Title + "</td>" +
                        "<td>---</td>" +
                        "<td dvalue=\"" + item.StartDate + "\" class='startdate'><span>" + startdate + "</span></td>" +
                        "<td dvalue=\"" + item.EndDate + "\" class='enddate'><span>" + enddate + "</span></td>" + 
                        "<td>" + item.StudentJoins +  "</td > " +
                        "</tr>"
                        );
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    };

    function ImportSV(id, formName) {
        var form = document.querySelector('form[name="' + formName + '"]');
        var input = form.querySelector('input[name="ID"]');
        if (input == null) {
            form.innerHTML += '<input type="hidden" name="ID" value="' + id + '" />';
        } else {
            input.value = id;
        }
    }

    $(document).ready(function () {
        LoadSchedule();
    });

    function EditSchedule(id) {

        var wrapper = $("[lid=" + id + "]");

        var startdateHolder = wrapper.find('.startdate');
        var enddateHolder = wrapper.find('.enddate');


        var startdate = $.datepicker.formatDate('dd/mm/yy', new Date(startdateHolder.attr('dvalue')));
        var enddate = $.datepicker.formatDate('dd/mm/yy', new Date(enddateHolder.attr('dvalue')));

        startdateHolder.find('span').hide();
        startdateHolder.append($("<input>", {"type":"text", "class":"date-input form-control"})).append($("<input>", {"type":"hidden", "id" : id + "_startdate", "value":startdateHolder.attr('dvalue')}));
        enddateHolder.find('span').hide();
        enddateHolder.append($("<input>", {"type":"text", "class":"date-input form-control"}))
            .append($("<input>", {"type":"hidden", "id":id + "_enddate", "value": enddateHolder.attr('dvalue')}));



        wrapper.find(".edit").after("<button onclick=\"CancelEditSchedule('" + id + "')\" type='button' class='btn btn-primary action undo' data-toggle='tooltip' data-placement='top' title='Hủy'> <i class='fas fa-undo'></i> </button>")
            .after("<button onclick=\"SaveSchedule('" + id + "')\" type='button' class='btn btn-primary action save' data-toggle='tooltip' data-placement='top' title='Lưu'> <i class='fas fa-save'></i> </button>")
        wrapper.find(".edit").hide()

        $(startdateHolder).find(".date-input").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                altField: '#' + id + "_startdate",
                altFormat: 'yy-mm-dd'
        }).val(startdate);

        $(enddateHolder).find(".date-input").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                altField: '#' + id + "_enddate",
                altFormat: 'yy-mm-dd'
        }).val(enddate);

    }

    function CancelEditSchedule(id) {
        var wrapper = $("[lid=" + id + "]");
        var startdateHolder = wrapper.find('.startdate');
        var enddateHolder = wrapper.find('.enddate');
        startdateHolder.find(':visible').remove();
        enddateHolder.find(':visible').remove();
        startdateHolder.find(':not(:visible)').show();
        enddateHolder.find(':not(:visible)').show();
        wrapper.find('.action:visible').remove();
        wrapper.find('.action:not(:visible)').show();
    }

    function SaveSchedule(id) {
        var wrapper = $("[lid=" + id + "]");
        var startdate = wrapper.find($('#' + id + "_startdate")).val();
        var enddate = wrapper.find($('#' + id + "_enddate")).val();
        //Send request here
        wrapper.find(".startdate").attr("dvalue", startdate);
        wrapper.find(".startdate span").text($.datepicker.formatDate('dd/mm/yy', new Date(startdate)));
        wrapper.find(".enddate").attr("dvalue", enddate);
        wrapper.find(".enddate span").text($.datepicker.formatDate('dd/mm/yy', new Date(enddate)));
        CancelEditSchedule(id);
    }
</script>

