@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var listGrade = ViewBag.Grade as List<BaseCustomerEntity.Database.GradeEntity>
    ;
    var listSubject = ViewBag.Subject as List<BaseCustomerEntity.Database.SubjectEntity>
        ;
        }


        <!-- Begin Page Content -->

        <div class="search-filter">
            <div class="form-row">
                <div class="form-group row col-md-6">
                    <label for="staticText" class="col-sm-4 col-form-label">Môn học:</label>
                    <div class="col-sm-8">
                        <select id="input-option" name="SubjectID" class="form-control">
                            @{
                            for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                            {
                            <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                            }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="staticText" class="col-sm-4 col-form-label">Trình độ:</label>
                    <div class="col-sm-8">
                        <select id="input-option" name="GradeID" class="form-control">
                            @{
                            for (int i = 0; listGrade != null && i < listGrade.Count; i++)
                            {
                            <option value="@listGrade[i].ID">@listGrade[i].Name</option>
                            }

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Các lớp đã được phân công</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Tên lớp</th>
                                    <th>Môn học</th>
                                    <th>Cấp độ</th>
                                    <th>Giáo viên</th>
                                    <th>Học viên đăng ký</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Main Content -->


        <script>

    function LoadData() {
        var searchText = $("#searchText").val();
        var subject = $("#SubjectID").val();
        var grade = $("#GradeID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "Class")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade },
            dataType:"json",
            success: function (data) {
                var body = $('#dataTable tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "<td><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";

                        body.append("<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td><a href='@Url.Action("Detail", "Class")/" + item.ID + "'>" + item.Name + "</td>" +
                            "<td>" + item.SubjectName + "</td>" +
                            "<td>" + item.GradeName + "</td>" +
                            "<td>" + item.TeacherName + "</td>" +
                            "<td>" + item.Students.length + "</td>" +
                            "<td>" + item.OpeningDate + "</td>" +
                            "<td>" + item.CloseDate +"</td>"+ active +
                            "</tr>"
                        );
                    }
                }
            },
            error: function() {
                alert("Error");
            }
        });
    };

    $(document).ready(function () {
        LoadData();
    });
        </script>

        @*<tr>
            <td><a href="@Url.Action(" Detail" , "Course" )">First Certificate in English 1</a></td>
            <td>Tiếng Anh</td>
            <td>First Certificate in English (FCE)</td>
            <td>Trình độ B2</td>
            <td><a href="book-list.html">Luna</td>
            <td><a href="book-list.html">40</a></td>
            <td>07/06/2019</td>
            <td>07/06/2019</td>
            <td>Đang hoạt động</td>
        </tr>*@
