
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutTeacher_noChat.cshtml";

    var Data = ViewBag.LessonExam as BaseCustomerEntity.Database.LessonExamEntity;
    var @class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    var ClassSubject = ViewBag.ClassSubject as BaseCustomerEntity.Database.ClassSubjectEntity;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}


<style>
    @@media (max-width: 1024px) {
        .h-responsive {
            height: auto !important;
        }
    }
</style>
<div class="left-col">
    <div class="main-container">
        <div id="lessonContainer" class="h-100">
        </div>
        <input type="hidden" id="action" value="" />
    </div>
    <input type="hidden" id="LessonExamID" value="@Data.ID" />
    <input type="hidden" id="ChapterID" value="@Data.ChapterID" />
    <input type="hidden" id="CourseID" value="@Data.CourseID" />
    <input type="hidden" id="ClassID" value="@Data.ClassID" />
    <input type="hidden" id="ClassSubjectID" value="@Data.ClassSubjectID" />
</div>
@section Sidebar
{
    @await Html.PartialAsync("_sidebarExam")
}

@section Scripts{
    <script src="~/js/lib/jquery.ui.touch-punch.min.js"></script>
    @if (Data.TemplateType == BaseCustomerEntity.Database.LESSON_TEMPLATE.LECTURE)
    {
        <script src="~/js/content-render.js?@DateTime.Now.ToString("yyyyMMdd")"></script>
    }
    else
    {
        <script src="~/js/content-render-lessonexam.js?@DateTime.Now.ToString("yyyyMMdd")"></script>
        <style>
            #sidebar, body, html, #lessonContainer {
                background-color: #e8eff5 !important;
            }

            .right-content {
                top: 45px !important;
            }

            #QuizNav {
                display: none;
                top: 46px;
                right: 5px;
                left: calc(50% + 522px) !important;
                position: fixed;
                bottom: 10px;
                overflow: auto;
            }

            #PartNav {
                border: solid 3px #CCC;
                background: #FFF;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 1px 2px 7px #999;
                display: none;
                top: 46px;
                width: 150px;
                right: calc(50% + 522px) !important;
                position: fixed;
                overflow: auto;
                max-height: 100%;
            }

            .card-body {
                top: 110px !important;
            }

            .lesson-box {
                max-width: 1024px;
                width: 100%;
                border-left: solid 1px #CCC;
                border-right: solid 1px #CCC;
            }

            .btn-answer-idx {
                background: #6c757d;
            }

            .selection {
                background: #d8dee8 !important;
            }

            .btn-answer-idx.selection {
                background: #cc7923 !important;
            }

            .examHeader {
                border: solid 2px #333;
            }

            @@media print {
                .h-100 {
                    height: auto !important
                }

                #rightCol {
                    height: auto !important;
                    max-height: none !important
                }

                .right-content {
                    position: relative !important;
                }

                .position-absolute, .left-col, .main-container {
                    position: relative !important;
                }

                .card-body {
                    top: 0px !important
                }

                #sidebar, body, html, #lessonContainer {
                    background-color: white !important
                }

                #sidebar {
                    display: none !important
                }

                *, .green-color, .blue-color {
                    color: #000 !important;
                    border-color: #000 !important;
                    font-size: 16px;
                }
            }
        </style>
    }
    <script>
        var config = {
            container: "lessonContainer",
            mod: mod.TEACHERVIEW,
            url: {
                load: '@processUrl("GetDetailsLesson", "LessonExam")',
                list_part: '@processUrl("GetList", "LessonExam")',
                load_part: '@processUrl("GetDetail", "LessonExam")',
                save_part: '@processUrl("CreateOrUpdate", "LessonExam")',
                del_part: '@processUrl("Remove", "LessonExam")',
                move_part: '@processUrl("ChangePosition","CloneLessonPart")',
                export_quiztemp: '@processUrl("ExportQuestionTemplate", "Curriculum")',
                import_quiz: '@processUrl("ImportQuestion", "Curriculum")',
                load_classsubject: '@processUrl("GetClassSubjects", "ClassSubject")',
                load_contents: '@processUrl("GetFullStructure", "ClassSubject")',
                create_exam: '@processUrl("CreateExamPart", "CloneLessonPart")',
                export_quiztemp_with_word: '@processUrl("ExportWordTemplate", "Curriculum")',
                import_quiz_with_word: '@processUrl("ImportFromWord", "CloneLessonPart")',
                download_word: '@processUrl("ExportToWord", "CloneLessonPart")',
            },
            type: @Data.TemplateType,
            lesson_id: '@Data.ID',
            lessonexam_id: '@Data.ID',
            class_id: '@Data.ClassID',
            class_subject_id: '@Data.ClassSubjectID',
            chap_id: '',
            class_name: '',
            center_name: '',
            student_name: '...................................',
            codeExam : '@Data.CodeExam'
        }
    var widget = new Lesson.onReady(config);
    </script>
    <link href="~/css/detailui.css" rel="stylesheet" />
}

@section Modals{

    <div class="modal fade" role="dialog" aria-hidden="true" id="partModal" data-backdrop="static">
        <div class="modal-dialog modal-xl lesson-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Thêm nội dung</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" id="modal-body" name="partForm" enctype="multipart/form-data"></form>
                </div>
                <div class="modal-footer">
                    @*<div class="col-sm-8">
                            <button class="btn mt-2 mb-2" title="Input từ Word" onclick="ShowCloneQuestion(this,1)"><i class="far fa-file-word mr-2"></i>Input từ Word</button>
                            <button class="btn mt-2 mb-2" title="Thêm từ bài" onclick="showModaltoAddExam()"><i class="far fa-file-word mr-2"></i>Thêm từ bài</button>
                        </div>
                        <div class="col-sm-4" style="text-align:right">
                        <div class="col-sm-4" style="text-align:right">*@
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btnSaveForm" onclick="submitForm(event)">Lưu</button>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" aria-hidden="true" id="ModaltoAddExam" data-backdrop="static">
        <div class="modal-dialog modal-xl lesson-modal modal-dialog-centered  modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Thêm nội dung</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" id="modal-body" name="partModaltoAddExam" enctype="multipart/form-data"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btnSaveForm" onclick="saveQAtoExam(this)">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var closeModaltoAddExam = function () {
            $('#ModaltoAddExam').modal('hide');
            $('#partModal').modal('show');
        }
    </script>
}


