
@{
    ViewData["Title"] = "Quản lý giáo trình";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var listGrade = ViewBag.Grade as List<BaseCustomerEntity.Database.GradeEntity>;
    var listSubject = ViewBag.Subject as List<BaseCustomerEntity.Database.SubjectEntity>;
    var listModGrade = ViewBag.ModGrade as List<BaseCustomerEntity.Database.ModGradeEntity>;
    var listModSubject = ViewBag.ModSubject as List<BaseCustomerEntity.Database.ModSubjectEntity>;
}

<!-- Begin Page Content -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="m-0 font-weight-bold text-primary">Thông tin giáo trình</h4>
            </div>
            <div class="col-lg-6">
                <div class="float-right">
                    <button type="button" class="btn btn-primary" data-placement="top" title="Tạo giáo trình" data-toggle="modal" data-target=".bd-modal-lg"> <i class="fas fa-plus"></i> </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="search-filter">
            <div class="form-row">
                <div class="form-group row col-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Môn học:</label>
                    <div class="col-sm-8">
                        <select id="SubjectID" class="form-control" onchange="LoadCourse()">
                            @{
                                for (int i = 0; listSubject != null && i < listSubject.Count; i++)
                                {
                                    <option value="@listSubject[i].ID">@listSubject[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-4 offset-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Trình độ:</label>
                    <div class="col-sm-8">
                        <select id="GradeID" class="form-control" onchange="LoadCourse()">
                            @{
                                for (int i = 0; listGrade != null && i < listGrade.Count; i++)
                                {
                                    <option value="@listGrade[i].ID">@listGrade[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblCurriculum" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>Tên giáo trình</th>
                        <th>Tên môn học</th>
                        <th>Cấp độ</th>
                        <th>Mô tả</th>
                        <th>Người tạo</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>



<div class="card shadow clone mt-4">
    <div class="card-header">
        <h4 class="m-0 font-weight-bold text-primary">Kho giáo trình</h4>
    </div>
    <div class="card-body">
        <div class="search-filter">
            <div class="form-row">
                <div class="form-group row col-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Môn học:</label>
                    <div class="col-sm-8">
                        <select id="ModSubjectID" class="form-control" onchange="LoadModCourse()">
                            @{
                                for (int i = 0; listModSubject != null && i < listModSubject.Count; i++)
                                {
                                    <option value="@listModSubject[i].ID">@listModSubject[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-4 offset-md-4">
                    <label for="staticText" class="col-sm-4 col-form-label">Trình độ:</label>
                    <div class="col-sm-8">
                        <select id="ModGradeID" class="form-control" onchange="LoadModCourse()">
                            @{
                                for (int i = 0; listModGrade != null && i < listModGrade.Count; i++)
                                {
                                    <option value="@listModGrade[i].ID">@listModGrade[i].Name</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="modCourseWrapper" class="card-deck">
            <div class="card">
                <img src="~/img/english.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo "Hack não 1500 từ tiếng Anh" + "Hack não IELTS" (Trọn bộ 3 cuốn)</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button type="button" class="btn btn-primary"><i class="fas fa-download"></i> Tải về</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Main Content -->
<!-- Add modal -->
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo giáo trình</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên giáo trình:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="Server01" class="col-form-label">Môn học:</label>
                        <input type="text" class="form-control is-valid" id="Server01" placeholder="Môn học" value="Tiếng anh">
                    </div>
                    <div class="form-group">
                        <label for="input-Select" class="col-form-label">Cấp độ:</label>
                        <div class="autocomplete">
                            <input id="level" type="text" class="form-control" name="level" placeholder="Cấp độ" value="Trình độ A1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Server02" class="col-form-label">Giáo Trình:</label>
                        <input type="text" class="form-control" id="Server02" placeholder="Giáo trình">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-Select" class="col-form-label">Trạng thái:</label>
                        <select class="custom-select" id="input-Select">
                            <option value="1" selected>Hoạt động</option>
                            <option value="2">Không hoạt dộng</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->

<div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên giáo trình:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="Server01" class="col-form-label">Môn học:</label>
                        <input type="text" class="form-control is-valid" id="Server01" placeholder="Môn học" value="Tiếng anh">
                    </div>
                    <div class="form-group">
                        <label for="input-Select" class="col-form-label">Cấp độ:</label>
                        <div class="autocomplete">
                            <input id="level" type="text" class="form-control" name="level" placeholder="Cấp độ" value="Trình độ A1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Server02" class="col-form-label">Giáo Trình:</label>
                        <input type="text" class="form-control" id="Server02" placeholder="Giáo trình">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-Select" class="col-form-label">Trạng thái:</label>
                        <select class="custom-select" id="input-Select">
                            <option value="1" selected>Hoạt động</option>
                            <option value="2">Không hoạt dộng</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </div>
</div>


<script>

    function LoadCourse() {
        var searchText = $("#searchText").val();
        var subject = $("#SubjectID").val();
        var grade = $("#GradeID").val();
        showLoading();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "Curriculum")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade },
            dataType:"json",
            success: function (data) {
                var body = $('#tblCurriculum tbody');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "<td><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";

                        body.append("<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td><a href='@Url.Action("Detail","Curriculum")/" + item.ID + "'>" + item.Name + "</td>" +
                            "<td>" + item.SubjectName + "</td>" +
                            "<td>" + item.GradeName + "</td>" +
                            "<td>" + item.Description + "</td>" +
                            "<td>" + item.TeacherName + "</td>" +
                            "<td>" + new Date(item.Created).toLocaleDateString() + "</td>" + active +
                            "</tr>"
                        );
                    }
                }
                hideLoading();
            },
            error: function() {
                alert("Error");
                hideLoading();
            }
        });
    };

    function LoadModCourse() {
        var searchText = $("#searchText").val();
        var subject = $("#ModSubjectID").val();
        var grade = $("#ModGradeID").val();
        showLoading();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetModList", "Curriculum")',
            data: { SearchText: searchText, SubjectID: subject, GradeID: grade },
            dataType:"json",
            success: function (data) {
                var body = $('#modCourseWrapper');
                body.html("");
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        var active = "<td><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success'> <div class='handle'></div> </button></td>";

                        body.append("<div class='item mb-4 col-md-4'>" +
                            "<div class='card'>" +
                            "<img src='../img/english.jpg' class='card-img-top' alt='...'>" +
                            "<div class='card-body'>" +
                                "<h5 class=\"card-title\">" + item.Name + "</h5>" +
                                "<p class=\"card-text\">" + item.Name + "</p>" +
                                "<button type=\"button\" class=\"btn btn-primary\" onclick=\"Take('" + item.ID + "')\"><i class=\"fas fa-download mr-2\"></i>Tải về</button>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );
                    }
                }
                hideLoading();
            },
            error: function() {
                alert("Error");
                hideLoading();
            }
        });
    };

    function Take(rootCourseID) {
        if (confirm("Xác nhận tải giáo trình này?")) {
            var subject = $("#SubjectID").val();
            var grade = $("#GradeID").val();
            showLoading();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Clone", "Curriculum")',
                data: { CourseID: rootCourseID, SubjectID: subject, GradeID: grade },
                dataType: "json",
                success: function (data) {
                    if (data == "OK")
                        LoadCourse();
                    hideLoading();
                },
                error: function () {
                    alert("Error");
                    hideLoading();
                }
            });
        }
    }

    $(document).ready(function () {
        LoadCourse();
        LoadModCourse();
    });

    function showLoading() {
        if ($("body > .loadingState").length > 0)
            return;
        else {
            $("body").append($("<div>", { "class": "loadingState", "style": "background: black;position: fixed;top: 0;left: 0;right: 0;bottom: 0;opacity: 0.9;z-index: 9999;" }));
            $("body > .loadingState").append($("<div>", { "text": "Đang nạp dữ liệu...", "style":"padding:10px 50px; border-radius: 10px; background: #CCC; font-size:26px; position:absolute; left: calc(50% - 120px); top: 45%;" }));
        }
    }

    function hideLoading() {
        $("body > .loadingState").remove();
    }
</script>