
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div id="app">
    <agile :initial-slide="3" :autoplay-speed="5000" :speed="2500" fade pause-on-hover pause-on-dots-hover autoplay v-if="items.length > 0">
        <img v-for="item in items" class="slide" :src="item" style="max-height:500px;max-width:1366px" />
        <template slot="prevButton">
            <i class="fas fa-chevron-left"></i>
        </template>
        <template slot="nextButton">
            <i class="fas fa-chevron-right"></i>
        </template>
    </agile>
</div>
<br>*@

<!-- The dots/circles -->

<div class="about-us mt-2 mb-2">
    @*<div class="inner-content pt-4">*@
    <div class="container pt-4 pl-md-5 pr-md-5 pl-sm-2 pr-sm-2">
        <div class="content-box">
            <div class="box-title text-left">
                <a href="@Url.RouteUrl("news-about-us")" style="font-size: 32px; line-height: 44px; color: #08486B; display: inline-block; font-weight: 600;text-decoration:none">Thư ngỏ</a>
                <div class="underline w-50" style="margin:auto"></div>
            </div>
            <div class="content row" style="width:100%;margin:0px">
                <div class="w-50" style="line-height:27px;text-align:justify">
                    <div class="row">
                        <div class="col-md-3 col-sm-5">Kính gửi:</div>
                        <div class="col-md-9 col-sm-7">- Các trường đại học, cao đẳng;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5"></div>
                        <div class="col-md-9 col-sm-7">- Các trường THPT, THCS, Tiểu học;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-5"></div>
                        <div class="col-md-9 col-sm-7">- Các trung tâm đào tạo tiếng Anh.</div>
                    </div>
                    Hiện nay chuyển đổi số (Digital Transformation) là xu thế toàn cầu, đối với giáo dục chuyển đổi số giúp các cơ sở đào tạo có nhiều cơ hội cân bằng về chất lượng giữa các vùng miền, tăng cơ hội tiếp cận kiến thức,  giảm thiểu thời gian quản lý, tạo môi trường tự học tốt cho học sinh, nâng cao năng lực cho giáo viên và hỗ trợ giáo viên như một trợ lý đắc lực, giúp GV có nhiều thời gian hơn để đối mới phương pháp giảng dạy và truyền đạt kiến thức.
                    <br />
                </div>
                <div class="w-50" style="text-align:center;margin:auto">
                    <img src="/images/Aboutus_bg.png" style="max-height:240px;max-width:100%"/>
                </div>
            </div>
            <div class="content row" style="width:100%;line-height:27px;margin:0px">
                Eduso là một đơn vị được thành lập từ đội ngũ giảng viên và các nhà nghiên cứu giáo dục làm việc tại trường đại học Giao thông Vận tải với sứ mệnh <span style="font-weight:bold">"Giúp hàng triệu học sinh, sinh viên nâng cao năng lực sử dụng Tiếng Anh, và là trợ lý tận tuỵ hỗ trợ Giáo viên tiếng Anh"</span>.  Đội ngũ tâm huyết của chúng tôi đã nghiên cứu thiết kế nền tảng và giải pháp cải thiện môi trường dạy và học tiếng Anh. Chúng tôi đã triển khai và lắng nghe hàng ngàn ý kiến của người sử dụng để điều chỉnh các chức năng sao cho "đơn giản, tiện dụng" nhất làm hài lòng người dùng và đưa ra các giải pháp Blended Learning phối hợp giữa online và offline hiệu quả.
                <br />
                Chúng tôi tin rằng, sứ mệnh của chúng tôi cũng chính là mục tiêu chung của các cơ sở giáo dục và là mong muốn của Giáo viên giảng dạy môn tiếng Anh, vì NGOẠI NGỮ nâng tầm giá trị bản thân người sở hữu nó, tăng cơ hội  tiếp thu kiến thức, tăng cơ hội việc làm và tăng cơ hội được vào trường tốt, được nhận lương cao cho học sinh thân yêu của chúng ta.
                <br />
                Chúng tôi thực sự vinh dự và tự hào khi được đồng hành cùng các Nhà giáo dục trên con đường bồi dưỡng và giúp đỡ các em thành công.
                <br />
            </div>

            <div class="content row" style="width:100%;line-height:27px;margin:0px;font-size:14px">
                @*<div class="col-sm-8"></div>*@
                <div class="col-sm-12" style="font-style:italic;text-align:right;font-weight:bold">
                    <text>Đội ngũ Eduso</text>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="how-we-help pt-5 pb-5">
    <div class="inner-content d-flex">
        <div class="content-box text-center">
            <div class="box-title text-center">
                <a href="\tin-tuc\chung-toi-giup-gi-cho-ban" style="font-size: 32px; line-height: 44px; color: #08486B; display: inline-block; font-weight: 600;text-decoration:none;">Chúng tôi giúp gì cho bạn</a>
                <div class="underline w-50" style="position: static; margin: auto; margin-top: 10px"></div>
            </div>
            <div class="d-flex flex-column flex-md-row" style="width: 100%">
                <div class="sub-box media-body m-2" style="background-color:#fff;border-radius:20px">
                    <div class="image">
                        <img src="~/images/hwh1.png" />
                    </div>
                    <div class="title">
                        Học sinh
                    </div>
                    <div class="content pl-2 pr-2 pb-2" style="text-align:justify;font-size:14px">
                        - Có môi trường học tập tiếng Anh thuận tiện, phong phú, thú vị với đầy đủ các dạng học liệu: pdf, audio, video, phát âm chuẩn cambridge để học sinh dễ dàng học tập.
                        <br />
                        - Hệ thống chấm tự động giúp học sinh tự đánh giá được bản thân, tự cải thiện ngay tức thì bằng cách làm lại bài, học lại bài, giúp học sinh nhớ lâu hơn và tránh tình trạng khi thi mới học. Thay thế trợ giảng.
                        <br />
                        - Có hệ thống kiểm soát thời gian và kiểm soát mục tiêu giúp học sinh luôn cố gắng. Có thể tham gia lớp học ảo trên hệ thống, lựa chọn học liệu tương tác để tự học.
                        <br />
                        - Rút ngắn khoảng cách về trình độ và môi trường học ngoại ngữ giữa nông thôn và thành phố.
                    </div>
                </div>
                <div class="sub-box media-body m-2" style="background-color:#fff;border-radius:20px">
                    <div class="image">
                        <img src="~/images/hwh2.png"/>
                    </div>
                    <div class="title">
                        Giáo viên
                    </div>
                    <div class="content pl-2 pr-2 pb-2" style="text-align:justify;font-size:14px">
                        - Có thêm công cụ giảng dạy, dễ dàng áp dụng các phương pháp giảng dạy tích cực; Được hỗ trợ đưa học liệu lên hệ thống theo yêu cầu, được nhận báo cáo thống kê điểm luyện tập của học sinh hàng tuần.
                        <br />
                        - Giảm thời khối lượng công việc lên tới 60% và đánh giá học sinh kỹ hơn, chính xác hơn.
                        <br />
                        - Có công cụ báo cáo phân tích tự động, email nhắc lịch tự động, phương thức liên lạc với học sinh trên hệ thống và lớp học ảo;
                        <br />
                        - Dễ dàng mở lớp bồi dưỡng kiến thức, kỹ năng khi cần thiết cho học sinh;
                        <br />
                        - Giảm được giờ học trên lớp. Nâng cao trình độ ứng dụng CNTT.

                    </div>
                </div>
                <div class="sub-box media-body m-2" style="background-color:#fff;border-radius:20px">
                    <div class="image">
                        <img src="~/images/hwh3.png" />
                    </div>
                    <div class="title">
                        Cơ sở đào tạo
                    </div>
                    <div class="content pl-2 pr-2 pb-2" style="text-align:justify;font-size:14px">
                        - Tăng uy tín, thương hiệu và thứ hạng của cơ sở đào tạo với ứng dụng công cụ giảng dạy và quản lý học tập hiệu quả, đặc biệt đối với những cơ sở có chiến lược lấy chất lượng học, dạy tiếng Anh làm thương hiệu.
                        <br />
                        - Hệ thống là môi trường tốt để tăng cường năng lực tiếng Anh cho giáo viên, đồng đều trình độ giữa các giáo viên.
                        <br />
                        - Giảm thời gian quản lý, theo sát được chất lượng và tiến độ học tập Tiếng Anh một cách khách quan. Hỗ trợ tình trạng thiếu giáo viên tiếng Anh và thiếu phòng học.
                        <br />
                        - Được nhận báo cáo phân tích theo tháng, học kỳ và được tư vấn giải pháp nâng cao chất lượng đào taọ môn tiếng Anh dựa trên điều kiện thực tế.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-product-top d-none d-md-block"></div>
<div class="our-product" id="our-product">
    <div class="inner-content d-block d-md-flex justify-content-md-between" style="width:100%;">
        <div class="media" style="">
            @*<img src="/Upload/News/132358189348479311_WINDOWS_10_microsoft_computer_3840x2160.jpg" style="margin:auto"/>*@
            @*<iframe width="560" height="315" src="https://www.youtube.com/embed/EjZY-uK41Yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLEfslnTHZZmdw_o_S65Q5jGWD-IxLaCyk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="content-box" style="height: 300px;overflow: hidden;font-family: Open Sans;">
            <div class="box-title text-left">
                <a href="\tin-tuc\san-pham" )" style="font-size: 32px; line-height: 44px; color: #08486B; display: inline-block; font-weight: 600;text-decoration:none;margin-left:10px">Sản phẩm và dịch vụ</a>
                <div class="underline w-50" style="margin-left:10px"></div>
            </div>
            <div class="content text-justify">
                <div class="col-sm-12" style="padding-bottom:10px">
                    <span style="font-weight:bold">1: </span> <span style="font-size:16px;">
                        Nền tảng và dịch vụ cải thiện môi trường học ngoại ngữ cho trường học.
                    </span>
                </div>
                <div class="col-sm-12" style="padding-bottom:10px">
                    <span style="font-weight:bold">2: </span> <span style="font-size:16px;">
                        Nền tảng kết nối và quản lý học tiếng Anh trực tuyến với người nước ngoài.
                    </span>
                </div>
                <div class="col-sm-12" style="padding-bottom:10px">
                    <span style="font-weight:bold">3: </span> <span style="font-size:16px;">
                        Tư vấn xây dựng chương trình đào tạo tích hợp kỹ năng và kiến thức, đào tạo giáo viên về phương pháp dạy học tích cực và đánh giá theo chuẩn đầu ra.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="trial-top d-none d-md-block"></div>
<div class="trial">
    <div class="inner-content d-flex justify-content-center">
        <div class="media d-none d-md-block">
            <img src="~/images/trial.png" />
        </div>
        <div class="content-box text-center">
            <div class="box-title text-center text-white">
                Đăng ký trải nghiệm miễn phí
            </div>
            <form name="cform" id="cform" target="_self" onsubmit="return postToGoogle();" action="">
                <div class="trial-form">

                    <div>
                        <label>Họ và tên</label>
                        <input type="text" class="form-control" name="entry.1872061179" id="nameField" required />
                    </div>
                    <div>
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control" name="entry.1629149102" id="phoneNumberField" required />
                    </div>
                    <div>
                        <label>Đơn vị công tác</label>
                        <input type="text" class="form-control" name="entry.1747641881" id="addressField" required />
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" id="send" name="send"> Đăng ký ngay</button>
                </div>
            </form>

            @*<h3 id="success-msg" class="text-center" style="display: none;"> Your Message has been sended!</h3>*@
        </div>
    </div>
</div>
<div class="news pt-5 pb-5">
    @*<div class="inner-content">*@
    <div class="container">
        <div class="content-box pl-3 pr-3 pt-5 pb-5">
            <div class="box-title text-left active">
                <a href="/tin-tuc" style="color:#08486B;text-decoration:none">Tin tức</a>
                <div class="underline w-50"></div>
            </div>
            <div class="categories">
                <a href="\tin-tuc\hoat-dong">Hoạt động</a> |
                <a href="\tin-tuc\cau-chuyen-thanh-cong-voi-eduso">Câu chuyện thành công với Eduso</a> |
                <a href="\tin-tuc\phuong-phap-day-va-hoc">Phương pháp dạy và học</a> |
                <a href="\tin-tuc\quan-tra-sua">Quán trà sữa</a>

            </div>

            <!--News-->
            <div class="news-list d-flex flex-column flex-md-row pt-3" style="border-top:solid 0.5px #CCC" id="news">
                <!--Tin Top-->
                <div class="news-hot media-body pr-md-4" style="border-right:solid 0.5px #CCC">
                    <div class="news-item w-100 pb-3" v-for="item in newshot">
                        <div class="thumb">
                            <a :href="'/tin-tuc/'+'item.CategoryCode' + '/' + item.Code" style="font-size: 20px; font-weight: bold;">
                                <img :src="cacheStatic(item.Thumbnail,640,360)" class="w-100" style="max-width:640px;max-height:360px"> @*ti le ~ 16/9*@
                            </a>
                        </div>
                        <div class="news-title" style="padding-top:10px">
                            <a :href="'/tin-tuc/'+item.CategoryCode + '/' + item.Code">
                                {{item.Title}}
                            </a>
                        </div>
                        <div class="news-desc" style="max-height: 40px; overflow: hidden;">
                            {{item.Summary}}
                        </div>
                        <div class="news-time" style="padding-bottom:10px">
                            {{moment(String(item.PublishDate)).format('MM-DD-YYYY')}}
                        </div>
                    </div>
                </div>

                <!--Tin Hot-->
                <div class="news-top  media-body pl-md-4">
                    <div class="news-item pb-3 pt-3 d-flex" v-for="item in newstop">
                        <div class="thumb">
                            <a :href="'/tin-tuc/'+'item.CategoryCode' + '/' + item.Code" style="font-size: 20px; font-weight: bold;">
                                <img :src="cacheStatic(item.Thumbnail,240,135)" class="w-100" style="max-width:240px;max-height:135px"> @*ti le ~16/9*@
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a :href="'/tin-tuc/'+item.CategoryCode + '/' + item.Code">
                                    {{item.Title}}
                                </a>
                            </div>
                            <div class="news-desc" style="max-height: 40px; overflow: hidden;">
                                {{item.Summary}}
                            </div>
                            <div class="news-time">
                                {{moment(String(item.PublishDate)).format('MM-DD-YYYY')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="partner pt-5 pb-5">
    <div class="inner-content">
        <div class="content-box text-center">
            <div class="box-title text-center">
                @*<a href="@Url.RouteUrl("news-partner")" style="font-size: 32px; line-height: 44px; color: #05517B; display: inline-block; font-weight: 600;text-decoration:none">Đối tác</a>*@
                <a href="\tin-tuc\cau-chuyen-thanh-cong-voi-eduso" style="font-size: 32px; line-height: 44px; color: #05517B; display: inline-block; font-weight: 600;text-decoration:none">Đối tác</a>
                <div class="underline w-50"></div>
            </div>
            <div class="carousel-wrap" id="partner">
                <div class="owl-carousel">
                    @*<div class="item" v-for="img in images"><a :href="'/tin-tuc/doi-tac/'+img.Code"><img :src="'/Upload/News/'+img.Thumbnail" :title="img.Title"></a></div>*@
                    <div class="item"><img src="/upload/center/truong-thpt-vinh-yen_f3d1bacc-d585-4f85-b64e-3cff4ff91d58.jpg" title="Trường THPT Vĩnh Yên"></div>
                    <div class="item"><img src="/upload/center/truong-thpt-chuyen-vinh-phuc_54075733-58a9-4414-891d-25e63dd02a2c.jpg" title="Trường THPT Chuyên Vĩnh Phúc"></div>
                    <div class="item"><img src="/upload/center/utc_5834ddd1-630d-4378-90ef-6b02f5ee6dfd.jpg" title="Trường Đại học Giao Thông Vận Tải"></div>
                    <div class="item"><img src="/upload/center/neoling_c1e37185-f702-40c6-b4c9-01eef4408c96.jpg" title="Trung tâm Tiếng anh NEOLING"></div>
                    <div class="item"><img src="/upload/center/benh-vien-viet-duc_24f1f27c-2e7a-4796-b83e-d2daccc4c5c1.jpg" title="Bệnh viện Việt Đức"></div>
                    <div class="item"><img src="/Files/so-gd-va-dt-quang-tri/center/20201124/4048b51e-c817-4e52-8c94-20168b3d6ba7_.jpeg" title="Sở GD và ĐT Quảng Trị"></div>
                    <div class="item"><img src="/Files/truong-thpt-tran-phu---vinh-phuc/center/20201104/fd1a3cce-e00b-4882-afe9-c3ff4a87cd2e_.jpg" title="Trường THPT Trần Phú - Vĩnh Phúc"></div>
                    <div class="item"><img src="/Files/center/20201013/d02f59e9-e83d-48bf-a2be-f55fe6448bbe_.jpg" title="Trường THPT Yên Lạc 1 - Vĩnh Phúc"></div>
                    <div class="item"><img src="/Files/truong-thpt-tran-nguyen-han---vinh-phuc/center/20201124/b95d6c5a-f9e7-4fa0-8da0-616e214fc976_.jpg" title="Trường THPT Trần Nguyên Hãn - Vĩnh Phúc"></div>
                    <div class="item"><img src="/Files/center/20201008/d5befed5-c206-43f0-bf12-df2deaee94ed_.jpg" title="Trường THPT Nguyễn Viết Xuân - Vĩnh Phúc"></div>
                    <div class="item"><img src="/upload/center/truong-thpt-ben-tre_c4f15859-d427-4e68-8542-1a6fad25559c.jpg" title="Trường THPT Bến Tre"></div>
                    <div class="item"><img src="/Files/trung-tam-ngoai-ngu-bluesky/center/20210114/99298167-d955-4203-899f-f200da394b5a_.jpg" title="Trung tâm ngoại ngữ BlueSky"></div>
                    <div class="item"><img src="/upload/center/ern_9b3d6538-c728-4186-bc36-42f024c527cb.jpg" title="Trung tâm ERN"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function loadData() {
       $.ajax({
            url: '@Url.Action("getnewslist", "news")',
            type: "post",
            dataType: "json",
           success: function (result) {

                var data=new Vue({
                    el: '#news',
                    data: {
                        newstop: result.NewsTop,
                        newshot: result.NewsHot
                    }
                })
            }
        });
    };

    function getDataForPartner() {
        $.ajax({
            url: '@Url.Action("getDataForPartner", "home")',
            type: "post",
            dataType: "json",
            data: { CatCode: 'doi-tac'},
            success: function (result) {
                new Vue({
                    el: '#partner',
                    data: {
                        images: result
                    },
                    mounted() {
                        callCarousel(result.length)
                    }
                })
            }
        });

    }

    //function callAgile() {
    //    Vue.use(VueAgile);

    //    app = new Vue({
    //        el: '#app',
    //        method: {         
    //        },
    //        components: {
    //            agile: VueAgile
    //        },

    //    });
    //}

    function postToGoogle() {
        //Xử lý lấy dữ liệu các input vào biến tương ứng thông qua ID của input
        var name = $("#nameField").val();
        var phone = $("#phoneNumberField").val();
        var address = $("#addressField").val();
        //Đoạn giữa này có thể sử dụng để validate dữ liệu 1 lần nữa hoăc... bỏ qua nhé :D

        requires.each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                alert("Vui lòng điền đủ thông tin");
                $(this).focus();
                err = true;
                return false;
            }
        });

        if (err) return false;

        //Xử lý gửi dữ liệu lên form
        $.ajax({
            //Chỉ định đích gửi dữ liệu đến: là form response đã tạo ở trên
            url: "https://docs.google.com/forms/d/e/1FAIpQLSc-oUHqQR9EDb7teIfzZw-MPY0cMsYlhdKIxknbawFZlRZIng//formResponse?",
            //URL lấy từ link đã note ở trên nhé
            data: { //gán các giá trị tương ứng vào các Input name tương ứng đã lấy ở trên
                "entry.1872061179": name,
                "entry.1629149102": phone,
                "entry.1747641881": address
            },
            type: "POST",
            dataType: "jsonp", //các bạn có thể để xml, nhưng khi bật console lên sẽ thấy báo đỏ lòm vì ko cho cross, còn cái này nó vẫn cảnh báo nhưng màu xám thôi, ko đỏ :v
            success: function (d) { }, //do đã bảo ở trên là nó ko cho cross đâu, nên khi gửi data xong ko trả về success được, ko cần điền cái này nhé
            error: function (x, y, z) {
                //$('#success-msg').show(); //hiện ra cái mess báo thành công khi gửi xong
                alert("Đăng kí thành công")
            }
        });

        return false;
    }

    function callCarousel(item) {
        var $owl = $('.owl-carousel');
        $owl.trigger('destroy.owl.carousel');
        //debugger
        // After destory, the markup is still not the same with the initial.
        // The differences are:
        //   1. The initial content was wrapped by a 'div.owl-stage-outer';
        //   2. The '.owl-carousel' itself has an '.owl-loaded' class attached;
        //   We have to remove that before the new initialization.
        $owl.html($owl.find('.owl-stage-outer').html()).removeClass('owl-loaded');
        //debugger
        var countItem = item.length
        $owl.owlCarousel({
            // your initial option here, again.
            items: 8,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fas fa-chevron-left"></i>',
                '<i class="fas fa-chevron-right"></i>'
            ],
            autoplay: true,
            autoplayHoverPause: true,
        });

        //$('.owl-carousel').owlCarousel({
        //    items: 4,
        //    loop: true,
        //    margin: 10,
        //    nav: true,
        //    navText: [
        //        "<i class='fa fa-caret-left'></i>",
        //        "<i class='fa fa-caret-right'></i>"
        //    ],
        //    //autoplay: true,
        //    //autoplayHoverPause: true,
        //})
    }

    function getDataForBanner() {
        $.ajax({
            url: '@Url.Action("getDataForBanner", "home")',
            type: "post",
            dataType: "json",
            success: function (result) {

                new Vue({
                    el: '#app',
                    data: {
                        items: result.Data
                    },
                    mounted() {
                        callAgile()
                    }
                })
                //debugger
            }
        });

    }

    $(document).ready(function ($) {
        loadData();
        //getDataForPartner();
        //getDataForBanner();
        callCarousel(4);
        //callAgile()
    });



</script>
<style>
    .top-banner {
        overflow: hidden;
        width: 1366px;
        height: 396px;
        position: relative;
    }

        .top-banner img {
            width: 1366px;
            height: 396px;
        }
        /* Next & previous buttons */
        .top-banner .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgb(255, 255, 255);
        }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    #dot {
        position: absolute;
        bottom: 10px;
        left: 50%
    }

    .top-banner .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .carousel-wrap {
        margin: auto;
        padding: 10px 6%;
        /*width: 80%;*/
        position: relative;
    }

    /* fix blank or flashing items on carousel */
    /*.owl-carousel .item {
        position: relative;
        z-index: 100;
        -webkit-backface-visibility: hidden;
    }*/

    /* end fix */
    .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;
    }

        .owl-nav > div {
            margin-top: -26px;
            position: absolute;
            top: 50%;
            color: #cdcbcd;
        }

        .owl-nav i {
            font-size: 30px;
            opacity: 0.3
        }

            .owl-nav i:hover {
                opacity: 1
            }

            .owl-nav i::outside {
                border: 0px
            }


        .owl-nav .owl-prev {
            left: -30px;
            position: absolute;
        }

        .owl-nav .owl-next {
            right: -30px;
            position: absolute
        }

    /*.owl-carousel:hover .owl-nav i{
        opacity:1
    }*/

    .owl-prev:hover {
        opacity: 1
    }

    .owl-next:hover {
        opacity: 1
    }

    .owl-carousel .item:hover {
        cursor: pointer;
    }


    #send:hover {
        opacity: 0.8;
        cursor: pointer;
        border: 1px solid white
    }
    .item img{
        max-width:116px;
        max-height:116px
    }

    /*.news .categories{
        color:#212529
    }*/

        .news .categories a {
            color: #212529 !important;
            font-size:18px
        }

            .news .categories a:hover {
                color: #05517b !important;
                font-size: 18px
            }
    /*.item{
        max-width:120px;
        max-height:120px
    }*/

    /*.partner, .footer{
        padding:0px !important
    }*/

    /*.content-box .box-title .underline {
        margin: auto;
        position: static !important;
        margin-top: 10px;
        bottom: 0
    }*/

    .thumb img {
        border: 1px solid lightgray;
        border-radius: 5px
    }

    .thumb img:hover{
        border:1px solid;
        border-radius:5px
    }

    .news-title a {
        color: #08486b !important;
        opacity:0.9
    }

    .news-title a:hover {
        opacity: 1
    }

    /*.action-link,.mr-3{
        color:white !important
    }*/

    /*a{
        color:#08486b !important
    }*/

</style>
