<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EDUSO Login</title>
    <link href="~/css/bootstrap.4.3.1.min.css" rel="stylesheet" />
    @*<link href="~/css/be-vietnam-font.css" rel="stylesheet" />*@
    <link href="~/css/stylesheet.min.css" rel="stylesheet" />
    <script src="~/js/vue@2.6.0.js"></script>
    <script src="~/js/axios.min.js"></script>
</head>
<body>
    @await Html.PartialAsync("_CookieConsentPartial")
    <main id="main">
        <section id="login_frame">
            <div class="header-top">
                <div class="inner">
                    <a href="/" title="EDUSO" class="logo"><img src="/images/Logo.png" alt="EDUSO" /></a>
                </div>
            </div>
            <div class="flex">
                <div class="frame col-md-5">
                    <img src="/images/frame_2.png" alt="">
                </div>
                <div class="col-md-7">
                    <div class="box" id="box_login">
                        <div class="card-header">
                            <h3 v-if="signin">
                                @if (ViewBag.Adm == null)
                                {
                                    @: Đăng nhập với tài khoản
                                }
                                else
                                {
                                    @: Quản trị hệ thống
                                }
                            </h3>
                            <h3 v-if="forgot"><button class="btn-back" v-on:click="changeState(99)"><i class="icon-back"></i></button>Quên mật khẩu</h3>
                            <h3 v-if="signup"><button class="btn-back" v-on:click="changeState(99)"><i class="icon-back"></i></button>Đăng ký tài khoản giáo viên</h3>
                            @*<div class="note" v-if="signin">Bạn là giáo viên & chưa có tài khoản? <a href="javascript:;" title="Đăng ký ngay!" v-on:click="changeState()">Đăng ký ngay!</a> </div>*@
                            <div class="note" v-if="forgot">Vui lòng nhập địa chỉ Email để nhận mật khẩu mới.</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">Địa chỉ email</label>
                                <input type="text" v-model="email" class="form-control" placeholder="Nhập email" id="email">
                            </div>
                            <div class="form-group" v-if="signup">
                                <label for="name">Họ và tên</label>
                                <input type="text" v-model="name" class="form-control" placeholder="Nhập họ tên" id="name">
                            </div>
                            <div class="form-group" v-if="signup">
                                <label for="phone">Số điện thoại</label>
                                <input type="text" v-model="phone" class="form-control" placeholder="Nhập số điện thoại" id="phone">
                            </div>
                            <div class="form-group" v-if="!forgot">
                                <label for="password">Mật khẩu</label>
                                <input type="password" v-model="password" class="form-control" placeholder="Nhập mật khẩu" id="password">
                            </div>
                            <div class="form-group" v-if="signin">
                                <label for="username">Tài khoản đăng nhập</label>
                                <select class="form-control" name="Type" id="usertype" v-model="usertype">
                                    <template v-if="cp">
                                        <option value="admin">Quản trị hệ thống</option>
                                    </template>
                                    <template v-else>
                                        <option value="student" selected>Học viên</option>
                                        <option value="teacher">Giáo viên</option>
                                    </template>

                                </select>
                            </div>
                            <div class="center">
                                <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="signin" :disabled="disable" v-on:click="signIn()">Đăng nhập</button>
                                <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="forgot" :disabled="disable" v-on:click="renewPass()">Đặt lại mật khẩu</button>
                                <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="signup" :disabled="disable" v-on:click="signUp()">Đăng ký</button>
                                <a href="javascript:;" title="Quên mật khẩu?" class="forgot-link" v-if="signin && !cp" v-on:click="changeState(2)">Quên mật khẩu?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
<script>
    new Vue({
        el: "#main",
		mounted(){
		},
        data: {
            cp: @(ViewBag.Adm == null ? "false" : "true"),
            email : '',
            password : '',
            usertype : '@(ViewBag.Adm == null ? "student" : "admin")',
            name : '',
            phone : '',
            disable : false,
            signup : false,
            signin :true,
            forgot: false,
            action: '@Url.Action("LoginAPI","Home")'
        },
        methods: {
            changeState(s=1){
                let _that = this
                _that.disable = false
                switch (s) {
                    case 1:
                        _that.signup = true
                        _that.signin = false
                        _that.forgot = false
                        _that.usertype = 'teacher'
                        _that.action = '@Url.Action("RegisterAPI","Home")'

                        break;
                    case 2:
                        _that.signup = false
                        _that.signin = false
                        _that.forgot = true
                        _that.action = '@Url.Action("ForgotAPI","Home")'
                        break;
                    default:
                        _that.signup = false
                        _that.signin = true
                        _that.forgot = false
                        _that.action = '@Url.Action("LoginAPI","Home")'
                        break;
                }
            },
            signIn() {
                let _that = this
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName',_that.email)
                _form.append('PassWord',_that.password)
                _form.append('Type', _that.usertype)
                console.log(_form);

                axios.post(_that.action, _form)
                    .then(response => {
                        //console.log(response.data)
                        if(response.data.StatusCode){
                            window.location.href= response.data.Location
                        }else{
                            alert(response.data.StatusDesc)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            },
            signUp() {
                let _that = this
                console.log(_that.action);
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName', _that.email)
                _form.append('Name',_that.name)
                _form.append('PassWord',_that.password)
                _form.append('Type', _that.usertype)
                _form.append('Phone',_that.phone)

                axios.post(_that.action,_form)
                    .then(response => {
                        //console.log(response.data)
                        if (response.data.StatusCode) {
                            alert(response.data.StatusDesc)
                            window.location.href= response.data.Location
                        }else{
                            alert(response.data.StatusDesc)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            },
            renewPass(){
                let _that = this
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName', _that.email)
                axios.post(_that.action, _form)
                    .then(response => {
                        debugger
                        if (response.data.Status) {
                            alert("Vui lòng check mail để xác nhận thay đổi mật khẩu!")
                            window.location.href= response.data.Url
                        }
                        else {
                            alert(response.data.Error)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            }
        }
    });
</script>
