@inject Microsoft.Extensions.Configuration.IConfiguration _config
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" charset="utf-8">
    var currentEmail = '@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value';
    var currentUser = {
        id: '@User.FindFirst("UserID")?.Value',
        name: '@User.Identity.Name',
        email: '@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value',
        type: '@User.FindFirst("Type")?.Value',
        isAdmin : '@_config.GetSection("IsAdmin")?.Value.Split(',').Contains(User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value)'
    };
</script>
<div class="support-customer">

</div>

