@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutTeacher_noChat.cshtml";
    var Data = ViewBag.Lesson as BaseCustomerEntity.Database.LessonEntity;
    var Class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    var ClassSubject = ViewBag.Subject as BaseCustomerEntity.Database.ClassSubjectEntity;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}
<style>
    @@media (max-width: 1024px) {
        .h-responsive {
            height: auto !important;
        }
    }
</style>
<div class="left-col">
    <div class="main-container">
        <div id="lessonContainer" class="h-100">
        </div>
        <input type="hidden" id="action" value="" />
    </div>
    <input type="hidden" id="LessonID" value="@Data.ID" />
    <input type="hidden" id="ChapterID" value="@Data.ChapterID" />
    <input type="hidden" id="CourseID" value="@Data.CourseID" />
</div>
@section Sidebar
{
    @await Html.PartialAsync("_sidebarExam")
}

@section Scripts{
    <script src="~/js/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="~/js/content-render.js?@DateTime.Now.ToString("ddMMyyyy")"></script>
    @*<script src="~/js/minify/detail.fn.min.js?20200615"></script>*@



    <script>
    var config = {
        container: "lessonContainer",
        mod: mod.TEACHERVIEW,
        url: {
            load: '@processUrl("GetDetailsLesson", "Lesson")',
            list_part: '@processUrl("GetList", "CloneLessonPart")',
            load_part: '@processUrl("GetDetail", "CloneLessonPart")',
            save_part: '@processUrl("CreateOrUpdate", "CloneLessonPart")',
            del_part: '@processUrl("Remove", "CloneLessonPart")',
            move_part: '@processUrl("ChangePosition","CloneLessonPart")',
            export_quiztemp: '@processUrl("ExportQuestionTemplate", "Curriculum")',
            import_quiz: '@processUrl("ImportQuestion", "Curriculum")',
        },
        type: @Data.TemplateType,
        lesson_id: '@Data.ID',
        class_id: '@Class.ID',
        class_subject_id: '@ClassSubject.ID',
        chap_id: '@Data.ChapterID'
    }
    var widget = new Lesson.onReady(config);
    </script>
    <link href="~/css/detailui.css" rel="stylesheet" />
}

@section Modals{

    <div class="modal fade" role="dialog" aria-hidden="true" id="partModal" data-backdrop="static">
        <div class="modal-dialog modal-xl lesson-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Thêm nội dung</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" id="modal-body" name="partForm" enctype="multipart/form-data"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btnSaveForm" onclick="submitForm(event)">Lưu</button>
                </div>
            </div>
        </div>
    </div>
}

