@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var Data = ViewBag.Data as BaseCustomerEntity.Database.LessonEntity;
    var Class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<!-- Page Heading -->
<div class="container">
    <div class="breadcumb" style="padding: 0 0 15px; font-weight:bold;">
        <a href="@Url.Action("Detail","Class")/@Class.ID">@Class.Name</a> / @Data.Title
    </div>

    <div id="lessonContainer">
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="lessonModal">
        <input type="hidden" id="action" value="" />
        <div class="modal-dialog modal-xl lesson-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" id="modal-body" name="modalForm" enctype="multipart/form-data"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btnSaveForm" onclick="submitForm(event)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="LessonID" value="@Data.ID" />
<input type="hidden" id="ChapterID" value="@Data.ChapterID" />
<input type="hidden" id="CourseID" value="@Data.CourseID" />
<input type="hidden" id="ClassID" value="@Class.ID" />
<script>
    $(document).ready(function () {
        load.lesson($("#LessonID").val(), $("#CourseID").val());
    });
</script>
@section Scripts {
    <script src="~/js/teacher-lesson.js"></script>
}