
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<link href="~/js/lib/datetimepicker/jq.datetimepicker.css" rel="stylesheet" />
<script src="~/js/lib/datetimepicker/php-date-formatter.min.js"></script>
<script src="~/js/lib/datetimepicker/jquery.mousewheel.js"></script>
<script src="~/js/lib/datetimepicker/jquery.datetimepicker.js"></script>
<div class="container">
    <div id="schedule"></div>
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <form action="#" name="scheduleForm">
                        <input type="hidden" class="form-control" name="id" value="">
                        <label for="">Tiêu đề :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Title" placeholder="Tiêu đề">
                        </div>
                        <div class="form-group">
                            <label for="">StartDate :</label>
                            <div class="input-group date">
                                <input type="text" name="StartDate" class="form-control datetimepicker-input" id="start-date"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">End Date :</label>
                            <div class="input-group date">
                                <input type="text" name="EndDate" class="form-control datetimepicker-input" id="end-date"/>
                            </div>
                        </div>
                        <label for="">Link :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="url" placeholder="//link">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitEvent()" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendarModalView" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="edit"><span aria-hidden="true">edit</span> <span class="sr-only">edit</span></button>
                    <button type="button" class="delete"><span aria-hidden="true">delete</span> <span class="sr-only">delete</span></button>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group form-inline">
                        <label for="start-date"> Bắt đầu : </label>
                        <b name="start-date"></b>
                    </div>
                    <div class="form-group form-inline">
                        <label for="end-date">Kết thúc : </label>
                        <b name="end-date"></b>
                    </div>
                    <div class="form-group">
                        <label for="end-date">Link liên kết : </label>
                        <a href="#" name="link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/lib/schedule.js"></script>
    <script>
        var schedulex = new CalendarLib.Schedule($);
        schedulex.onLoad({
            type: "@User?.FindFirst("Type").Value",
            controller: 'Calendar'
        });
        $('#start-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        $('#end-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        var submitEvent = function () {
            schedulex.addEvent("scheduleForm");
        }
    </script>
}
<!-- Begin Page Content -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lịch giảng dạy</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </th>
                        <th>Tên bài học</th>
                        <th>Mô tả</th>
                        <th>Thời gian bắt đầu</th>
                        <th>thời gian kết thúc</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 01</a></td>
                        <td>Begining</td>
                        <td>01/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 02</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 03</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 04</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 05</a></td>
                        <td>Review</td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 06</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 07</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 08</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 09</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>31/06/2019</td>
                        <td>Đóng</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox">
                            </div>
                        </td>
                        <td><a href="@Url.Action("detail" , "calendar")">First Certificate in English 10</a></td>
                        <td></td>
                        <td>07/06/2019</td>
                        <td>07/06/2019</td>
                        <td>Mở</td>
                        <td>
                            <a href="#" class="btn btn-info">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End of Main Content -->
