@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    ViewData["Title"] = currentClass.Name + " - Cấu trúc chương trình";
}

<script>
    activeTab = "course";
    modulesLink = "@Url.Action("Modules","Course")";
    activeSub = "assignments";
</script>
<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarStudent")
        </div>
        <div class="main-content">
            <div class="modules-wrapper">
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>

    var chapters = [];
    var lessons = [];
    var bodyWrapper = $('.modules-wrapper');

    function LoadSchedule() {
        chapters = [];
        lessons = [];

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAssignments", "Lesson")',
            data: { ID: '@currentClass.ID' },
            dataType:"json",
            success: function (data) {
                scheduleCounter = 1;
                bodyWrapper.html("");

                lessons = data.Data.Lessons;

                var oContent = $("<div>", { "id": "ongoing", "class":"modules" });
                var oTitle = $("<div>", { "class":"modules-title row", "data-target":"#ongoing .modules-content:first"});
                var otitle_cPart = $("<div>", {"class":"col-md-11"});
                var otitle_ePart = $("<div>", {"class":"col-md-1 text-right"});     
                otitle_ePart.append($("<i>", { "class": "far fa-minus-square show", "title": "Thu gọn", "onclick": "toggleCollapse(this, 'ongoing')" }));
                otitle_cPart.append($("<i>", {"class":"fa pr-1 fa-caret-down fa-caret-right", "onclick": "toggleCollapse(this, 'ongoing')"}))
                    .append($("<a>", {
                        "class":"action-link",
                        "text": "Danh sách bài thi",
                        "onclick": "toggleCollapse(this, 'ongoing')"
                        }));
                oTitle.append(otitle_cPart).append(otitle_ePart);
                oContent.append(oTitle);
                oContent.append($("<div>", { "class":"modules-content collapse show"}));

                var pContent = $("<div>", { "id": "past-assignment", "class":"modules" });
                var pTitle = $("<div>", { "class":"modules-title row", "data-target":"#past-assignment .modules-content:first"});
                var title_cPart = $("<div>", {"class":"col-md-11"});
                var title_ePart = $("<div>", {"class":"col-md-1 text-right"});
                title_ePart.append($("<i>", { "class": "far fa-minus-square show", "title": "Thu gọn", "onclick": "toggleCollapse(this, 'past-assignment')" }));
                title_cPart.append($("<i>", {"class":"fa pr-1 fa-caret-down fa-caret-right",  "onclick": "toggleCollapse(this, 'past-assignment')"}))
                            .append($("<a>", {
                                "class":"action-link",
                                "text": "Bài đã kết thúc",
                                "onclick": "toggleCollapse(this, 'past-assignment')"
                                }));
                pTitle.append(title_cPart).append(title_ePart);
                pContent.append(pTitle);
                pContent.append($("<div>", { "class":"modules-content collapse show"}));

                bodyWrapper.append(oContent);
                bodyWrapper.append(pContent);

                if (lessons.length > 0) {
                    for (j = 0; j < lessons.length; j++) {
                        var item = lessons[j];
                        var active = "";
                        if (item.IsActive) {
                            active = "<td class='text-center'><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success' disabled> <div class='handle'></div> </button></td>";
                        } else {
                            active = "<td class='text-center'><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle btn-danger' disabled> <div class='handle'></div> </button></td>";
                        }

                        var startdate = $.datepicker.formatDate('dd/mm/yy', new Date(item.StartDate));
                        var enddate = $.datepicker.formatDate('dd/mm/yy', new Date(item.EndDate));
                        var lastjoin = "---";
                        var isView = "";
                        if (item.IsView) {
                            isView = "IsView";
                            lastjoin = $.datepicker.formatDate('dd/mm/yy', new Date(item.LastJoin))
                        } else {
                            isView = "";
                        }

                        var rowData = $("<div>", {"class":"modules-content-item"});
                        rowData.append($("<span>", {"class":"modules-content-item-icon" + (item.TemplateType === 2?" assignment":"")}));
                        var itemData = $("<div>", {"class":"modules-content-item-info"});
                        itemData.append($("<a>", {
                                "class":"action-link",
                                "href": (item.IsActive ? ("@Url.Action("Detail", "Lesson")/" + item.ID + "/@currentClass.ID") : "javascript:LockNotify()"),
                                "text": item.Title
                            }));
                        if(item.Description != null)
                        {
                            itemData.append($("<span>", {"class":"description", "text": item.Description}));
                        }

                        rowData.append(itemData);

                        if (moment(item.EndDate) > new Date())
                            parent = bodyWrapper.find(".modules#ongoing .modules-content:first");
                        else
                            parent = bodyWrapper.find(".modules#past-assignment .modules-content:first");
                        parent.append(rowData);
                    }
                }
                if(window.location.hash != "")
                {
                    var anchor = window.location.hash;
                    $(function() {
                        $(document).scrollTop( $(anchor).offset().top );
                    });
                }
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }

    function LockNotify() {
        alert("Bài học chưa được mở!");
        return false;
    }

    $(document).ready(function () {
        LoadSchedule();
    });

    </script>
}