@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var viewModel = ViewBag.ClassSubject as BaseCustomerMVC.Models.ClassSubjectViewModel;
    var classSubject = ViewBag.ClassSubject as BaseCustomerEntity.Database.ClassSubjectEntity;
    ViewData["Title"] = viewModel.Name;
    string userid = ViewBag.UserID;
}
<script>
    activeTab = "course";
    modulesLink = "@Url.Action("Modules", "Course")/@classSubject.ID";
    activeSub = "home";
</script>
<script src="~/js/masonry.pkgd.min.js"></script>

<div class="left-col">
    <div class="page-title">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarStudent")
        </div>
        <div class="main-content">
            <div class="intro-wrapper content-block">
                <div class="block-title">
                    <h2>@viewModel.SubjectName</h2>
                </div>
                <div class="course-syllabus">
                    @if (!String.IsNullOrEmpty(classSubject.Image))
                    {
                        <img src="@classSubject.Image" title="@viewModel.Name" class="courseImg" />
                    }
                    @if (!String.IsNullOrEmpty(classSubject.Description))
                    {
                        <div class="courseDescription">
                            @Html.Raw(classSubject.Description)
                        </div>
                    }
                </div>
            </div>
            <div class="syllabus-wrapper content-block row">
            </div>
            <div class="assignment-wrapper content-block">
                <div class="block-title">
                    <h2>Course Summary</h2>
                </div>
                <table class="w-100 table-hover table-normal-title">
                    <thead>
                        <tr style="font-weight:700">
                            <th style="width:20%">
                                Date
                            </th>
                            <th style="width:60%">
                                Detail
                            </th>
                            <th style="width:20%" class="text-right">Due</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .syllabus-wrapper .card:hover {
        filter: opacity(0.7);
    }
</style>
@section Scripts {
    <script>

    var chapters = [];
    var lessons = [];
    var scheduleBody = $('.modules-wrapper');
    var syllabusBody = $('.syllabus-wrapper');
    var assignmentBody = $('.assignment-wrapper tbody');

    function LoadSyllabus() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMainChapters", "Course")',
            data: { ID: '@classSubject.ID', UserID: '@userid' },
            dataType:"json",
            success: function (data) {
                scheduleCounter = 1;
                syllabusBody.html("");

                chapters = data.Data;
                rcCounter = 0;

                var colorArr = [
                    //"primary",
                    "success", "danger", "warning", "info"
                    //, "dark", "secondary"
                ];
                var lastpos = -1;
                if (chapters.length > 0) {
                    for (i = 0; i < chapters.length; ++i) {
                        var chapter = chapters[i];

                        var colorIdx = Math.floor((Math.random() * colorArr.length));
                        if (colorIdx == lastpos) {
                            if (lastpos == colorArr.length)
                                lastpos = -1;
                            colorIdx = lastpos++;
                        }
                        lastpos = colorIdx;

                        var chapWrapper = $("<fieldset>", { id: 'chap' + chapter.ID, class: 'col-md-3 col-lg-2 col-sm-6 grid-item pr-2 pl-2' });

                        var bg = 'bg-secondary';
                            //'bg-' + colorArr[colorIdx];
                        //if(c)
                        if (chapter.CompletedLessons > 0) {
                            if (chapter.CompletedLessons == chapter.TotalLessons)
                                bg = 'bg-success';
                            else
                                bg = 'bg-info';
                        }


                        var chapContent = $("<div>", { id: 'chap' + chapter.ID, class: 'card mb-3 rounded shadow text-center border-0 overflow-hidden ' + bg, style:"height:150px;"});
                        //chapContent.append($("<div>", {
                        //    class: "card-img-top w-100",
                        //    style: "padding-top: 35%"
                        //}));

                        var chapBody = $("<div>", { class: 'card-body'});
                        chapContent.append(chapBody);

                        chapBody.append($("<h5>", {
                            class: "card-title text-white pt-2",
                            style: "text-decoration:none",
                            html: chapter.Name
                        }));

                        //chapter.Description = ".card-img-top places an image to the top of the card. With .card-text, text can be added to the card. Text within .card-text can also be styled with the standard HTML tags.";

                        if (chapter.Description != null)
                            chapBody.append($("<p>", {
                                class: "card-text mb-2 text-white",
                                style: "font-size: 80%",
                                html: chapter.Description.replace(/\n/g, "<br/>")
                            }));

                        chapWrapper.append($("<a>", { class: "box-link", href: modulesLink + "#" + chapter.ID }).append(chapContent));

                        syllabusBody.append(chapWrapper);
                    }
                    //$('.syllabus-wrapper').masonry({
                    //    itemSelector: '.grid-item',
                    //    columnWidth: '.grid-item',
                    //    gutter: 0
                    //});
                }
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }

    $(document).ready(function () {
        LoadSyllabus();
    });

    </script>
}