@{

    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
    var model = ViewBag.Model as BaseCustomerMVC.Models.DefaultModel;
    ViewData["Title"] = "My Courses";
    var subjects = ViewBag.Subjects as List<BaseCustomerEntity.Database.SubjectEntity>;
    var grades = ViewBag.Grades as List<BaseCustomerEntity.Database.GradeEntity>;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl)
    {
        string url = Url.Action(act, ctrl);

        return $"/{center}{url}";
    }
}

<script>
    setActiveMenu("class");
</script>

<script src="~/js/daterangepicker.min.js"></script>
<link href="~/css/daterangepicker.css" rel="stylesheet" />

<!--Lazy load-->
<script src="~/js/vue-lazyload.js"></script>

<section class="module" id="dashboard_content">
    @*<div class="card-header">

            <div class="flex flex-row border-b flex-wrap pb-2 align-items-center">
                <div class="box filter-box d-none">
                    <input type="text" value="-- Chọn thời gian --" name="dates" v-on:click="initDate()">
                    <span class="ic ic-picker inactive"></span>
                </div>
                <div class="box filter-box col-12 col-md-3 ml-0 mb-1">
                    <select v-model="subject" v-on:change="changeSubject()">
                        <option value="">Chọn chương trình</option>
                        <option v-for="(item,k) in list_subject" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
                <div class="box filter-box col-12 col-md-3 ml-0 mb-1 ml-md-2">
                    <select name="" v-model="grade" v-on:change="changeGrade()">
                        <option value="">Chọn cấp độ</option>
                        <option v-for="(item,k) in list_grades" :value="item.ID">{{item.Name}}</option>
                    </select>
                </div>
                <div class="search-box col-12 col-md-3 mb-1 ml-0 ml-md-2">
                    <button><i class="ic ic-find"></i></button>
                    <input type="text" name="" placeholder="Tên lớp cần tìm">
                </div>
            </div>
        </div>*@

        <div id="main-route" class="main-route mb-3 mt-2">
            <ul class="route_holder" id="cid_0" cid="0">
                <li class="route_item start"><a class="route_title">{{formatDatenoYear(startDate)}}</a><span class="route_period"></span></li>
                <li v-for="(obj,index) in (parseInt(period/7) + (period % 7 > 0 ? 1: 0))" class="route_item"
                    v-on:click="showWeekLesson(moment(startDate).add(index * 7, 'days'))"
                    :class="moment(startDate).add(index * 7 + 1, 'days') < moment() ? 'passed' : (moment(startDate).add(index * 7 - 6, 'days') > moment() ? '': 'now')"><a class="route_title">{{formatDatenoYear(moment(startDate).add(index * 7, 'days'))}} - {{formatDatenoYear(moment(startDate).add(index * 7 + 6 > period ? period : (index * 7 + 6), 'days'))}}</a><span class="route_period">Tuần {{index + 1}}</span></li>
                <li class="route_item end"><a class="route_title">{{formatDatenoYear(endDate)}}</a><span class="route_period"></span></li>
            </ul>
        </div>

    <div class="h4 m-3" v-cloak cloak-holder>
        <i class="fas fa-sync fa-spin"></i> Đang nạp dữ liệu ...
    </div>
    <div class="card-body" v-cloak>
        <template v-if="classes.length > 0">
            <template v-for="(item,i) in classes">
                <template v-if="item.ClassMechanism != @BaseCustomerEntity.Database.CLASS_MECHANISM.PERSONAL">
                    <div class="form-group" :id="item.ID">
                        <h2 style="font-size:16px" class="font-weight-bold border-b pb-2 red-color">{{item.Name}} <span style="font-size:80%;">({{formatShortDate(item.StartDate)}} - {{formatShortDate(item.EndDate)}}) </span></h2>
                        <h3 style="font-size:14px" class="" v-if="item.Description != null">{{item.Description}}</h3>
                    </div>
                    <div class="form-group" v-if="classSubjects.filter(csbj => csbj.ClassID == item.ID && csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.STANDARD).length > 0">
                        <h2 style="font-size:15px;" class="font-weight-bold pb-3 blue-color">Học liệu chính quy</h2>
                        <ul class="list ls-practice row">
                            <li v-for="(csbj,j) in classSubjects" class="form-row col-md-6 col-sm-12 mb-3" v-if="csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.STANDARD && csbj.ClassID == item.ID">
                                <div class="inner d-flex w-100">
                                    <div class="align-top" style="width:102px">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName">
                                            <img v-lazy="cacheImg(csbj.SkillImage,100,130)" :title="csbj.CourseName" class="rounded border" />
                                        </a>
                                    </div>
                                    <div class="flex-fill ml-2">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName" class="text-dark font-weight-bold">
                                            {{csbj.CourseName}}
                                        </a>
                                        <p class="mb-1 pb-0 mt-1" style="font-size:13px">
                                            <span>{{csbj.SubjectName}}</span>
                                            <template v-if="csbj.SkillName != null">
                                                -
                                                <span>{{csbj.SkillName}}</span>
                                            </template>
                                        </p>
                                        <p style="font-size:13px">
                                            <template v-if="csbj.TeacherName != null">
                                                <span>GV: {{csbj.TeacherName}}</span>
                                            </template>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group" v-if="classSubjects.filter(csbj => csbj.ClassID == item.ID && csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXTEND).length > 0">
                        <h2 style="font-size:15px;" class="font-weight-bold pb-3 blue-color">Học liệu chuyên đề</h2>
                        <ul class="list ls-practice row">
                            <li v-for="(csbj,j) in classSubjects" class="form-row col-md-6 col-sm-12 mb-3" v-if="csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXTEND && csbj.ClassID == item.ID">
                                <div class="inner d-flex w-100" style="max-height:150px">
                                    <div class="align-top" style="width:102px">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName">
                                            <img v-lazy="cacheImg(csbj.SkillImage,100,130)" :title="csbj.CourseName" class="rounded border" />
                                        </a>
                                    </div>
                                    <div class="flex-fill ml-2">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName" class="text-dark font-weight-bold">
                                            {{csbj.CourseName}}
                                        </a>
                                        <p class="mb-1 pb-0 mt-1" style="font-size:13px">
                                            <span>{{csbj.SubjectName}}</span>
                                            <template v-if="csbj.SkillName != null">
                                                -
                                                <span>{{csbj.SkillName}}</span>
                                            </template>
                                        </p>
                                        <p style="font-size:13px">
                                            <template v-if="csbj.TeacherName != null">
                                                <span>GV: {{csbj.TeacherName}}</span>
                                            </template>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    @* exam *@
                    <div class="form-group" v-if="classSubjects.filter(csbj => csbj.ClassID == item.ID && csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXAM).length > 0">

                        <a v-for="(csbj,j) in classSubjects" v-if="csbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXAM && csbj.ClassID == item.ID" :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName" class="text-danger font-weight-bold">
                            <h2 style="font-size:15px;" class="font-weight-bold pb-3">
                                Bài kiểm tra
                            </h2>
                        </a>
                        <ul class="list ls-practice">
                            <li v-for="(obj,i) in classSubjects" v-if="obj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXAM && obj.ClassID == item.ID" :for="obj.ID">
                                <ul class="list">
                                    <chap-content v-for="(item,k) in list_chapters" v-if="item.ClassSubject + '-' + item.Parent == obj.ID + '-'"
                                                  v-bind:data="item"
                                                  v-bind:classbj="obj.ID"
                                                  v-bind:pos="k"
                                                  v-bind:owner="obj.TeacherID"
                                                  v-bind:listchaps="list_chapters"
                                                  v-bind:type="'exam'"></chap-content>
                                    <lesson-item v-for="lesson in filterLesson({ID:'0', ClassSubject: obj.ID})" v-bind:data="lesson" v-bind:owner="obj.TeacherID" v-bind:classSubject="obj.ID" v-bind:type="'exam'"></lesson-item>
                                </ul>
                            </li>
                        </ul>
                        @*<ul class="list ls-practice row">
                                <liclass ="form-row col-md-6 col-sm-12 mb-3" >
                                    <div class="inner d-flex w-100">
                                        <div class="flex-fill ml-2">

                                        </div>
                                    </div>
                                    </li>
                            </ul>*@
                    </div>
                </template>
                <template v-else-if="item.ClassMechanism == @BaseCustomerEntity.Database.CLASS_MECHANISM.PERSONAL">
                    <div class="form-group">
                        <h2 style="font-size:15px;" class="font-weight-bold pb-3 blue-color">Học liệu cá nhân</h2>
                        <ul class="list ls-practice row">
                            <li v-for="(csbj,j) in classSubjects" class="form-row col-md-6 col-sm-12 mb-3" v-if="csbj.ClassID == item.ID">
                                <div class="inner d-flex w-100" style="max-height:150px">
                                    <div class="align-top" style="width:102px">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName">
                                            <img v-lazy="cacheImg(csbj.SkillImage,100,130)" :title="csbj.CourseName" class="rounded border" />
                                        </a>
                                    </div>
                                    <div class="flex-fill ml-2 col-md-8">
                                        <a :href="'@processUrl("Modules","Course")/' + csbj.ID" :title="csbj.CourseName" class="text-dark font-weight-bold">
                                            {{csbj.CourseName}}
                                        </a>
                                        <p class="mb-1 pb-0 mt-1" style="font-size:13px">
                                            <span>{{csbj.SubjectName}}</span>
                                            <template v-if="csbj.SkillName != null">
                                                -
                                                <span>{{csbj.SkillName}}</span>
                                            </template>
                                        </p>
                                        <p style="font-size:13px">
                                            <template v-if="csbj.TeacherName != null">
                                                <span>GV: {{csbj.TeacherName}}</span>
                                            </template>
                                        </p>
                                    </div>
                                    <template>
                                        <button v-if="isMobileDevice()" style="display:inline-flex!important;height:35px;border-radius:20px;position:inherit!important" type="button" class="btn" v-on:click="removeCourse(csbj)"><i class="far fa-trash-alt"></i></button>
                                        <button v-else type="button" class="btn btn-delete" v-on:click="removeCourse(csbj)"><i class="far fa-trash-alt"></i></button>
                                    </template>
                                </div>
                            </li>
                        </ul>
                    </div>
                </template>
            </template>
        </template>
    </div>
</section>

@section Scripts{
    <style>
        #main-route {
            overflow: auto;
        }

        .route_holder {
            text-align: left;
            white-space: nowrap;
            height: 2px;
            margin: 50px 0 60px;
            font-size: 0;
        }

        .route_item {
            display: inline-block;
            width: 100px;
            height: 4px;
            overflow: visible;
            margin: 0;
            background: #969696;
            position: relative;
            font-weight: bold;
            opacity: 0.7;
            cursor: pointer;
            font-size: 14px;
        }

            .route_item:hover {
                opacity: 1;
                background: #13a6fb;
            }

                .route_item:hover::after {
                    border-color: #13a6fb;
                }

            .route_item.start {
                width: 50px;
                margin-left: 20px;
            }

            .route_item.passed,
            .route_item.start {
                background: #13a6fb;
            }

                .route_item.start::after,
                .route_item.passed::after {
                    border-color: #13a6fb;
                    background-color: #13a6fb;
                }

            .route_item.now {
                background-color: #D03239;
            }

                .route_item.now::after {
                    background-color: #D03239;
                    border-color: #D03239;
                }

            .route_item.start .route_period {
                left: 10px;
            }

            .route_item.end {
                width: 50px;
                text-align: right;
                /*margin-right: 20px;*/
            }

                .route_item.end .route_title {
                    text-align: right;
                    left: auto;
                    right: 0px;
                }

                .route_item.end .route_period {
                    right: 10px;
                }

                .route_item.end::after {
                    right: -10px;
                    left: auto;
                }

            .route_item::after {
                content: "";
                position: absolute;
                left: 50%;
                right: auto;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: -12px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 2px solid #969696;
                background: #969696 url(/images/calendar.png) no-repeat center center;
                -webkit-background-size: 14px auto;
                background-size: 14px auto;
                -webkit-transition: background-color .3s,border-color .3s;
                -moz-transition: background-color .3s,border-color .3s;
                -o-transition: background-color .3s,border-color .3s;
                transition: background-color .3s,border-color .3s;
                top: -8px;
                cursor: pointer;
            }

            .route_item.start::after {
                left: 10px;
            }

            .route_item .route_title {
                bottom: 20px;
                position: absolute;
                left: 50%;
                margin-left: -35px;
                width: 70px;
                text-align: center;
                overflow: hidden;
                max-height: 28px;
                white-space: break-spaces;
                line-height: 14px;
                font-size: 70%;
                font-weight: bold;
            }

            .route_item.start .route_title {
                margin-left: 0;
                left: -6px;
                text-align: left;
            }

            .route_item .route_period {
                top: 20px;
                position: absolute;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                text-align: center;
            }

        .wkIdx {
            user-select: none;
            font-size: 110%;
            color: #007bff;
        }

        .ic-picker {
            cursor: pointer;
        }

            .ic-picker.inactive {
                background-image: url('../images/pickerdate-1.png');
            }

        .course-item .thumb {
            position: relative;
            height: 0;
            padding-top: 56%;
        }

            .course-item .thumb img {
                position: absolute;
                top: 0;
                max-height: none;
                height: auto;
            }

        .btn-delete {
            position: absolute;
            right: 30px;
            /*bottom: 10px;*/
            display: none;
        }

        .ls-practice li:hover .btn-delete {
            display: inline-block
        }

        .ls-practice .btn-delete:hover {
            border: solid 1px #CCC;
            border-radius: 2px;
        }
    </style>

    <script type="text/x-template" id="chapContentTemp">
        <li class="pr-0 ml-3 chap-item">
            <div class="inner pt-2 pb-2">
                <div class="chap-row mt-1" onmouseover="$('.row-action.active').removeClass('active')">
                    <a href="javascript:;" v-b-toggle="`prc-${data.ID}-${pos}`" class="blue-color btn-collapse flex-grow-1 mb-0" v-on:click="loadContent(data.ClassSubject, data.ID)">
                        <div class="align-self-center mb-1" style="line-height:24px">
                            <i class=" ic far fa-folder mr-2"></i>{{data.Title + ' (' + data.TotalLessons +  ')'}}
                            <i class="ic ic-collapse"></i>
                        </div>
                    </a>
                    <div>
                        <div class="d-flex justify-content-between align-items-start align-items-md-center">
                            <div class="chap-info ml-3" style="color:#999; white-space: nowrap">
                                <i class="ti-link" style="background-color: #bee4ef;" v-for="(chap,j) in listchaps" v-if="(data.ConditionChapter != '') && (chap.ID == data.ConditionChapter)"><span class="pl-1">Điều kiện: {{chap.Title}}</span></i>
                                <i class="ti-target ml-2" v-if="data.BasePoint > 0" style="background-color: #ffe38d"><span class="pl-1">Mục tiêu: {{data.BasePoint}}</span></i>
                                <i class="ti-control-play ml-2" style="background-color: #c3e2c3" v-if="moment(data.StartDate) > moment(new Date(1900,1,1))"><span class="pl-1">bắt đầu {{formatTime(data.StartDate)}}</span></i>
                                <i class="ti-timer ml-2" style="background-color: #fbcbcb" v-if="moment(data.EndDate) > moment(new Date(1900,1,1))"><span class="pl-1">hết hạn {{formatTime(data.EndDate)}}</span></i>
                            </div>

                            <div class="row-action d-flex align-items-start align-items-md-center">
                                <i class="fas fa-ellipsis-h indicator"></i>
                                <template v-if="type != 'exam'">
                                    <div class="act_ic">
                                        <i class="ic-ac fas fa-link ml-2" style="font-size:16px;" title="Chọn nội dung điều kiện" onclick='$(".row-action").removeClass("active");$(this).closest(".row-action").addClass("active");$(this).siblings().focus().click()'></i>
                                        <select v-model="data.ConditionChapter" style="max-width:200px; font-size:90%; height: 24px; margin:2px; display:none" v-on:change="updateChapCondition(data)" onblur="$(this).hide()" onfocus="$(this).show()">
                                            <option value="">-- Chọn nội dung điều kiện (nếu có) --</option>
                                            <template v-for="(chap,j) in listchaps" v-if="(chap.ID != data.ID && chap.Parent == data.Parent) || (chap.ID == data.ConditionChapter)">
                                                <option :value='chap.ID'>{{chap.Title}}</option>
                                            </template>
                                        </select>
                                    </div>
                                    <div class="act_ic">
                                        <i class="ic-ac far fa-play-circle ml-2" style="font-size:18px;" title="Chọn ngày bắt đầu" onclick='$(".row-action").removeClass("active");$(this).closest(".row-action").addClass("active");$(this).siblings().find("input").focus().click()'></i>
                                        <datepickerV2 :date="data.StartDate" :idx="0" :obj="data" class="st" v-on:input="updateChapSchedule(data, pos)"></datepickerV2>
                                    </div>
                                    <div class="act_ic">
                                        <i class="ic-ac far fa-stop-circle ml-2" style="font-size:18px;" title="Chọn ngày hết hạn" onclick='$(".row-action").removeClass("active");$(this).closest(".row-action").addClass("active");$(this).siblings().find("input").focus().click()'></i>
                                        <datepickerV2 :date="data.EndDate" :idx="1" :obj="data" v-on:input="updateChapSchedule(data, pos)"></datepickerV2>
                                    </div>
                                    <div class="act_ic">
                                        <i class="ic-ac far fa-dot-circle ml-2" style="font-size:18px;" title="Đặt mục tiêu" onclick='$(".row-action").removeClass("active");$(this).closest(".row-action").addClass("active");$(this).siblings().focus().click()'></i>
                                        <input type="text" class="form-control bg-light text-right basepoint" style="margin: 0 3px;padding: 2px; width: 52px; height:24px; display:none;" onblur="$(this).hide()" onfocus="$(this).show()" v-model="data.BasePoint" placeholder="0-100" v-on:blur="updateChapPoint(data)">
                                    </div>
                                </template>
                                <div class="act_ic">
                                    <i class="ic-ac fas fa-redo ml-2" style="font-size:16px;" title="Xóa lịch" v-on:click="clearChapSchedule(data, pos)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <b-collapse :id="`prc-${data.ID}-${pos}`" :accordion="`my-accordion-${data.Parent}`" role="tabpanel">
                    <b-card-body class="pr-0 pb-1 ">
                        <ul class="list">
                            <template v-if="data.IsLoading">
                                <li><i class=""></i> Đang nạp dữ liệu</li>
                            </template>
                            <template v-else>
                                <chap-content v-for="(subItem,j) in listchaps" v-if="subItem.ClassSubject + '-' + subItem.Parent == classbj + '-' + data.ID"
                                              v-bind:data="subItem"
                                              v-bind:classbj="classbj"
                                              v-bind:pos="j"
                                              v-bind:owner="owner"
                                              v-bind:listchaps="listchaps"
                                              v-bind:type="type"></chap-content>
                                <lesson-item v-for="lesson in filterLesson(data)" v-bind:data="lesson" v-bind:owner="owner" v-bind:classSubject="data.ClassSubject" v-bind:type="type"></lesson-item>
                            </template>
                        </ul>
                    </b-card-body>
                </b-collapse>
            </div>
        </li>
    </script>

    <script type="text/x-template" id="lessonItemTemp">
        <li class="sub-practice pt-2 pb-1 pl-2 rounded">
            <div class="d-flex w-100 flex-column flex-md-row align-items-start align-items-md-center">
                <a target="_blank" :href="'@processUrl("Detail", "Lesson")/' + data.ID + '/' + data.ClassSubject" class="flex-grow-1 overflow-hidden text-dark" style="text-overflow: ellipsis" :title="data.Title">
                    <template v-if="data.TemplateType === 2">
                        <span class="text-danger">
                            <i class="ic far fa-edit mr-2"></i>
                            {{data.Title}}
                        </span>
                    </template>
                    <template v-else>
                        <span>
                            <i class="ic far fa-file-alt mr-2"></i>
                            {{data.Title}}
                        </span>
                    </template>
                </a>
                @*<div class="picker-schedule d-flex align-items-center" v-if="owner == '@currentuser'">*@
                @*<div class="picker-schedule d-flex align-items-center">
                        <datepicker :date="data.StartDate" :idx="0" :obj="data" class="date st mr-2" v-on:input="updateSchedule(data)"></datepicker>
                        <datepicker :date="data.EndDate" :idx="1" :obj="data" class="date ed mr-2 ml-0" v-on:input="updateSchedule(data)"></datepicker>
                        <i class="fas fa-redo ic-ac d-flex align-items-center mr-2" title="Xóa lịch học" v-on:click="clearSchedule(data)"></i>
                        <template v-if="type != 'exam'">
                            <i class="far fa-eye-slash ic-ac d-flex align-items-center mr-2" v-bind:class="{active: data.IsHideAnswer == true}" title="Bật/ tắt ẩn đáp án" data-toggle="tooltip" v-on:click="toggleHideAnswer(data)"></i>
                            <i class="fas fa-desktop ic-ac d-flex align-items-center mr-2" v-bind:class="{active: data.IsOnline == true}" title="Bật/ tắt học trực tuyến" data-toggle="tooltip" v-on:click="toggleOnlineClass(data)"></i>
                        </template>
                    </div>
                    <div class="d-flex picker-schedule" v-else>
                        <div class="input-group date date st bg-light mr-2"><input type="text" class="form-control bg-light" disabled="disabled" :value="formatTime(data.StartDate)"></div>
                        <div class="input-group date date ed bg-light mr-2"><input type="text" class="form-control bg-light" disabled="disabled" :value="formatTime(data.EndDate)"></div>
                        <i class="far fa-eye-slash ic-ac d-flex align-items-center ml-2" v-bind:class="{active: data.IsHideAnswer == true}"></i>
                        <i class="fas fa-desktop ic-ac d-flex align-items-center ml-2" v-bind:class="{active: data.IsOnline == true}"></i>
                    </div>
                    <div class="status">
                        <b-form-checkbox switch v-model="data.IsActive" v-on:change="toggleLessonState(data)"></b-form-checkbox>
                    </div>*@
            </div>
        </li>
    </script>

    <script>

        Vue.component('chap-content', {
            template: '#chapContentTemp',
            props: {
                listchaps: Array,
                classbj: String,
                lessons: Array,
                data: Object,
                pos: String,
                owner: String,
                type: String
            }
        })

        Vue.component('lesson-item', {
            template: '#lessonItemTemp',
            props: {
                data: Object,
                classSubject: String,
                owner: String,
                type: String
            }
        })

        var isSearchDate = false;
        new Vue({
            el: "#main_content",
            mounted() {

                this.list_subject = @Html.Raw(Json.Serialize(subjects));
                this.list_grades_full = @Html.Raw(Json.Serialize(grades));

                this.loadClassSubjects();

                this.isMobileDevice();
            },
            data: {
                list_course: [],
                list_subject: [],
                list_grades_full: [],
                list_grades: [],
                subject:'',
                grade: '',
                view: 10,
                page: 1,

                lesson_week: [],
                weekTitle: '',
                startDate: moment(),
                endDate: moment(),
                period: 0,
                classSubjects: [],
                classes: [],
                checkClass(c1, c2) {
                    console.log(c1);
                    console.log(c2);
                    return c1 == c2
                },
                loadClassSubjects() {
                    //debugger
                    let _that = this
                    //if (_that.classSubjects.length > 0)
                    //    return;

                    let _form = new FormData()
                    //_form.append('ClassID', _that.classID)
                    _form.append('GradeID', _that.grade)
                    _form.append('SubjectID', _that.subject)
                    let _url = '@processUrl("GetClassSubjects", "ClassSubject")'
                        axios.post(_url, _form)
                            .then(response => {
                                var _data = response.data.Data;
                                if (response.data.Classes.length == 0) {
                                    swal({
                                        title: "Bạn chưa có trong lớp học nào, liên hệ với giáo viên hoặc chuyển đến học liệu để thêm vào lớp cá nhân của bạn",
                                        text: "Click tại đây để chuyển đến học liệu tương tác",
                                        icon: "warning",
                                        buttons: true,
                                        dangerMode: true,
                                    })
                                        .then((willDelete) => {
                                            if (willDelete) {
                                                window.location.href="@processUrl("Index", "Reference")#docsinteractive"
                                            }
                                        });
                                    //Swal.fire("Bạn chưa có trong lớp học nào, liên hệ với giáo viên hoặc chuyển đến học liệu để thêm vào lớp cá nhân của bạn", "Click tại đây để chuyển đến học liệu tương tác", "warning");
                                }
                                else {
                                    this.classes = response.data.Classes;
                                    this.classSubjects = response.data.Data;
                                    for (var i = 0; i < this.classSubjects.length; i++) {
                                        var itemcsbj = this.classSubjects[i]
                                        if (itemcsbj.TypeClass == @BaseCustomerEntity.Database.CLASSSUBJECT_TYPE.EXAM) {
                                            //debugger
                                            this.loadContent(itemcsbj.ID);
                                        }
                                    }

                                    for (var i = 0; i < this.classes.length; i++) {
                                        if (this.classes[i].ClassMechanism != @BaseCustomerEntity.Database.CLASS_MECHANISM.PERSONAL) {
                                        //console.log(this.classes[i].StartDate)
                                        if (this.startDate > moment(this.classes[i].StartDate))
                                            this.startDate = moment(this.classes[i].StartDate);
                                        if (this.endDate < moment(this.classes[i].EndDate))
                                            this.endDate = moment(this.classes[i].EndDate);
                                            this.period = this.endDate.diff(this.startDate, 'days')

                                        }
                                    }

                                    Vue.nextTick(function () {
                                        $('.main-route').scrollLeft($(".route_item").index($('.route_item.now')) * 100 - 400);
                                        console.log($(".route_item").index($('.route_item.now')) * 100);
                                    })


                                }
                                //_data.forEach(function (item, k) {
                                //    _that.classSubjects.push({
                                //        ID: item.ID,
                                //        Title: item.SkillName,
                                //        Image: item.SkillImage,
                                //        Color: item.Color,
                                //        Teacher: item.TeacherName,
                                //        Grade: item.GradeName,
                                //        Chapters: [],
                                //        Lessons: [],
                                //        TypeClass: item.TypeClass,
                                //        ClassName: item.ClassName,
                                //        ClassID: item.ClassID,
                                //        CourseName: item.CourseName,
                                //        SubjectName: item.SubjectName,
                                //        StartDate: item.StartDate,
                                //        EndDate: item.EndDate
                                //    })
                                //    //_that.changeAddSubject(item)
                                //    //_that.changeAddGrade(item)
                                //})
                                //_that.$forceUpdate()
                            }).catch(e => { })
                },
                list_chapters: [],
                loaded_chapter: [],
                list_lessons:[]
            },
            //computed: {
            //    sDate: {
            //        get() {
            //            return moment(this.startdate).format("MM/DD/YYYY");
            //        },
            //        set(value) {
            //            this.startdate = value;
            //        }
            //    },
            //    eDate: {
            //        get() {
            //            return moment(this.enddate).format("MM/DD/YYYY");
            //        },
            //        set(value) {
            //            this.enddate = value;
            //        }
            //    }
            //},
            watch: {
            },
            methods: {
                formatTime(time) {
                    var _time = moment(time);
                    if (!_time._isValid || _time < moment(new Date(2000, 1, 1))) return "";
                    return _time.format("DD/MM/YYYY HH:mm")
                },
                formatShortDate(date) {
                    if (moment(date) < moment(new Date(2000, 1, 1))) return "-"
                    return moment(date).format("DD/MM/YYYY")
                },
                formatDatenoYear(date) {
                    var _date = moment(date);
                    if (!_date._isValid || _date < moment(new Date(2000, 1, 1))) return "";
                    return _date.format("DD/MM")
                },
                cacheImg(src, width, height) {
                    return cacheStatic(src, width, height, 'picture/book.jpg');
                },
                removeCourse(csbj) {
                    let _form = new FormData()
                    _form.append('ClassSubjectID', csbj.ID);
                    //let _url = '@processUrl("RemoveCourse", "Class")';
                    let _url = '@processUrl("Remove", "Class")';
                    Swal.fire({
                        //title: "Xác nhận xoá học liệu " + csbj.CourseName + " ?",
                        html: "Xác nhận xoá học liệu <br/><b>" + csbj.CourseName + "</b> ?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Xóa',
                        cancelButtonText: 'Hủy',
                    }).then(result => {
                        if (result.value) {
                            Swal.fire({
                                title: 'Đang xóa học liệu ...',
                                onBeforeOpen() {
                                    Swal.showLoading()
                                },
                                onAfterClose() {
                                    Swal.hideLoading()
                                },
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false
                            });
                            axios.post(_url, _form)
                                .then(response => {
                                    if (!response.data.Status) {//xoa khong thanh cong
                                        Swal.fire(response.data.Msg, "warning")
                                        //alert(response.data.Msg);
                                    }
                                    else {//xoa thanh cong
                                        Swal.fire(response.data.Msg, "success");
                                        //remove deleted course

                                        this.classSubjects.splice(this.classSubjects.indexOf(csbj), 1);

                                        //alert(response.data.Msg);
                                        //_that.changeSubject();
                                        //Swal.close();
                                    }
                                }).catch(e => {
                                    console.log(e);
                                    Swal.close()
                                })
                        }
                        else {
                            Swal.close();
                            return false;
                        }
                    });
                },
                isMobileDevice() {
                    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                        // true for mobile device
                        console.log("Mobile detected");
                        return true;
                    } else {
                        // false for not mobile device
                        console.log("Desktop detected");
                        return false;
                    }
                },
                filterLesson(obj) {
                    var filter = []
                    for (var i = 0; i < this.list_lessons.length; i++) {
                        var item = this.list_lessons[i]
                        if (item.ClassSubject == obj.ClassSubject) {
                            //debugger
                            filter.push(item)
                        }
                    }
                    return filter;
                },
                loadContent(subject, chapter) {
                    let _that = this
                    let key = subject + "_" + chapter
                    if (_that.loaded_chapter.includes(key))
                        return;
                    let _form = new FormData()
                    _form.append('ID', subject)
                    if (chapter)
                        _form.append('Parent', chapter)
                    let _url = '@processUrl("GetContents", "ClassSubject")'
                    axios.post(_url, _form)
                        .then(response => {
                            var _data = response.data.Data;
                            var _lesson = response.data.Lesson;
                            _data.forEach(function (chapter, k) {
                                var parent = chapter.ParentID;
                                if (parent == "0") { parent = ""; }
                                _that.list_chapters.push({
                                    ID: chapter.ID,
                                    Title: chapter.Name,
                                    ClassSubject: subject,
                                    Parent: parent,
                                    TotalLessons: chapter.TotalLessons,
                                    StartDate: chapter.StartDate,
                                    EndDate: chapter.EndDate,
                                    BasePoint: chapter.BasePoint,
                                    ConditionChapter: chapter.ConditionChapter == null ? '' : chapter.ConditionChapter
                                })
                            })
                            _lesson.forEach(function (lesson, k) {
                                var parent = '';
                                if (lesson.ChapterID) {
                                    parent = lesson.ChapterID;
                                }

                                _that.list_lessons.push({
                                    ID: lesson.ID,
                                    ScheduleID: lesson.ScheduleID,
                                    Title: lesson.Title,
                                    TemplateType: lesson.TemplateType,
                                    ClassSubject: subject,
                                    Parent: parent,
                                    StartDate: moment(lesson.StartDate) > moment(new Date(1900, 1, 1)) ? lesson.StartDate : "",
                                    EndDate: moment(lesson.EndDate) > moment(new Date(1900, 1, 1)) ? lesson.EndDate : "",
                                    IsActive: lesson.IsActive,
                                    IsUpdating: false,
                                    IsOnline: lesson.IsOnline,
                                    IsHideAnswer: lesson.IsHideAnswer
                                })

                            })
                            this.loaded_chapter.push(key);
                            this.list_chapters = _that.list_chapters
                            this.list_lessons = _that.list_lessons
                            Vue.nextTick(function () {
                                this.toggleTooltips($('.ls-practice [for=' + subject + ']'));
                            })
                        }).catch(e => { })
                },
                showWeekLesson(start) {
                    let _that = this
                    let _form = new FormData()
                    var _date = moment(start);
                    if (!_date._isValid || _date < moment(new Date(2000, 1, 1)))
                        _date = moment();
                    date = _date.format("MM/DD/YYYY")
                    _form.append('today', date)
                    _form.append('seekStart', false)
                    let _url = '@processUrl("GetThisWeekLesson", "Course")'

                    axios.post(_url, _form)
                        .then(response => {
                            //console.log("Week")
                        _that.lesson_week = response.data.data;
                        }).catch(e => { })

                    this.weekTitle = "Danh sách bài - Tuần " + this.formatShortDate(_date) + " - " + this.formatShortDate(_date.add(7, 'days'));
                    this.$bvModal.show("model_week_lesson")
                }
            }
        });

        //lazy load
        Vue.use(VueLazyload, {
            preLoad: 1.3,
            error: '~/pictures/book.jpg',
            //loading: '~/img/Spin-1.8s-200px.gif',
            attempt: 1,
            // the default is ['scroll', 'wheel', 'mousewheel', 'resize', 'animationend', 'transitionend']
            //listenEvents: ['scroll']
        })

        @*$(document).ready(function () {
            alert(@TempData["message"])
        });*@

        var toggleTooltips = function (obj) {
            $(obj).find('i').tooltip({
                position: {
                    my: "center bottom-10",
                    at: "center top",
                    using: function (position, feedback) {
                        $(this).css(position);
                        $("<div>")
                            .addClass("arrow")
                            .addClass(feedback.vertical)
                            .addClass(feedback.horizontal)
                            .appendTo(this);
                    }
                },
                show: {
                    delay: 25
                }
            });
        }

    </script>
}

@section Modals{ 

    <b-modal id="model_week_lesson" size="xl" :title="this.weekTitle">
        <div class="modal-body">
            <template v-if="lesson_week.length > 0">
                <table id="id_table" class="table">
                    <thead>
                        <tr>
                            <th style="width:50px">STT</th>
                            <th>Bài</th>
                            <th>Học liệu</th>
                            <th>Lớp</th>
                            <th>Thời gian mở</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,k) in lesson_week">
                            <td>{{k+1}}</td>
                            <td class="td_hover"><a :href="'@processUrl("Detail","Lesson")'+'/'+ item.lessonID +'/'+ item.classSubjectID" target="_blank">{{item.title}}</a></td>
                            <td>{{item.bookName}}</td>
                            <td>{{item.className}}</td>
                            <td>{{formatTime(item.startDate)}} - {{formatTime(item.endDate)}}</td>
                            <td :class="item.isLearnt ? 'text-success':'text-danger'">{{item.isLearnt ? 'Đã học' : 'Chưa học'}}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                Không có bài
            </template>
        </div>
        <template v-slot:modal-footer="{ ok, cancel}">
            <b-button variant="danger" v-on:click="hideModal()">Đóng</b-button>
        </template>
    </b-modal>

}