@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    ViewData["Title"] = currentClass.Name + " - Tài liệu tham khảo";
}

<script>
    activeTab = "course";
    modulesLink = "@Url.Action("Modules", "Course")";
    activeSub = "references";
</script>
<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarTeacher")
        </div>
        <div class="main-content">
            <div>
                <table id="tblRef" class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th class="text-center">STT</th>
                            <th class="text-center">Tiêu đề</th>
                            @*<th class="text-left">Mô tả</th>*@
                            <th class="text-center">Người gửi</th>
                            <th class="text-center">Link liên kết</th>
                            <th class="text-center">File đính kèm</th>
                            <th class="text-center">Lượt xem</th>
                            <th class="text-center">Lượt tải</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            @*<div class="col-md-2">
                    @await Html.PartialAsync("MiniCalendar")
                    @await Html.PartialAsync("Markbox")
                </div>*@
        </div>
    </div>
</div>

@section Scripts {


    <script>

        $(document).ready(function () {
            LoadRef();
        });

        var allclass = @Html.Raw(Json.Serialize(currentClass));
        var pageIndex = 0;
        var pageSize = 30;
        var defaultRange = '@BaseCustomerEntity.Database.REF_RANGE.CLASS';
        var defaultTarget = '@currentClass.ID';

        function LoadRef() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetList", "Reference")',
                data: {
                    Range: '@BaseCustomerEntity.Database.REF_RANGE.CLASS',
                    Target: '@currentClass.ID',
                    PageIndex: pageIndex + 1,
                    PageSize: pageSize,
                    TeacherID: '@currentClass.TeacherID'
                },
                dataType: "json",
                success: function (data) {

                    var refs = data.Data;

                    var refBody = $('#tblRef tbody');
                    refBody.empty();
                    var counter = (pageSize * pageIndex) + 1;
                    if (refs.length > 0) {
                        for (i = 0; i < refs.length; ++i) {
                            var ref = refs[i];

                            var rowsContent = $("<tr>", { "id": ref.ID });
                            var index = $("<td>", { text: counter++, class:"text-center" });
                            var title = $("<td>", { text: ref.Title, class:"text-center" });
                            var owner = $("<td>", { text: ref.OwnerName, class:"text-center" });
                            var link = $("<td>", { class: "text-center" });
                            if (ref.Link != null) {
                                link.append($("<a>",
                                    {
                                        href: ref.Link,
                                        title: ref.Link,
                                        target: "_blank",
                                        text: ref.Link
                                    }));
                            }
                            var attachment = $("<td>", { class: "text-center" });
                            if (ref.Media != null) {
                                attachment.append($("<a>",
                                    {
                                        href: "http://" + window.location.hostname + (window.location.port ? ':' + window.location.port : '') + ref.Media.Path,
                                        title: ref.Media.Name,
                                        target: "_blank"
                                    }).append($("<i>", { class: "fa fa-download", "aria-hidden": "true" })));
                            }
                            var view = $("<td>", { text: ref.Viewed, class: "text-center" });
                            var download = $("<td>", { text: ref.Downloaded, class:"text-center" });
                            rowsContent.append(index).append(title).append(owner).append(link).append(attachment).append(view).append(download);
                            //.append(action);

                            refBody.append(rowsContent);
                        }
                    }
                },
                error: function (res) {
                    console.log(res.responseText);
                }
            });
        }
    </script>
}