<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>@ViewBag.Title</title>

    <link href="~/css/minify.min.css?20200326" rel="stylesheet" />
    <link href="~/css/detail.min.css?20200326" rel="stylesheet" />

    <script type="text/javascript">

        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name: "@User.Identity.Name",
            type:'@User.FindFirst("Type")?.Value'
        }

    </script>

    <script src="~/js/detail.min.js"></script>
    <script src="~/js/plugins/ck4/ckeditor.js"></script>

</head>
<body>
    <script>
        var activeTab;
    </script>
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content">
                @if (IsSectionDefined("SideBar"))
                {
                    @RenderSection("Sidebar", required: false)
                }
                else
                {
                    @await Html.PartialAsync("_sideBarTeacher")
                }

                <div class="right-content">
                    @RenderBody()
                </div>
                
                @await Html.PartialAsync("_Footer")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_modalLogout")
    @RenderSection("Modals", false)
    @RenderSection("Scripts", false)
</body>
</html>
