<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>@ViewBag.Title</title>
    <!-- Custom fonts for this template-->
    <link href="~/css/minify/minify.min.css?20200616" rel="stylesheet" />
    <link href="~/css/minify/detail.min.css" rel="stylesheet" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178391156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178391156-1');
    </script>

    <script type="text/javascript">

        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name :  "@User.Identity.Name",
        }

    </script>

    <script src="~/js/minify/detail.min.js?20200930"></script>
    <script src="~/js/plugins/ck4/ckeditor.js"></script>
    <style>
        @@media (max-width: 1024px) {
            .h-responsive {
                height: auto !important;
            }
        }
    </style>

</head>
<body>
    @*<style>
            #sidebar {
                left: 0;
                border-right: 2px solid #F0F3F4
            }

                #sidebar .logo {
                    width: 111px
                }

                #sidebar .card-header {
                    border: none;
                    padding: 25px;
                    margin-bottom: 7px
                }

                #sidebar .adv {
                    z-index: 0;
                    padding: 20px
                }
        </style>
        <script>
            var activeTab;
        </script>*@
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                @RenderSection("Sidebar", false)

                <div class="right-content">
                    @RenderBody()
                </div>

                <!-- Footer -->
                @if (IsSectionDefined("Footer"))
                {
                    RenderSection("Footer");
                }
                else
                {
                    <!-- Default -->
                    @await Html.PartialAsync("_Footer")
                }
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        @*<a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>*@


    </div>
    <!-- Logout Modal-->
    @await Html.PartialAsync("_modalLogout")
    @RenderSection("Modals", false)
    @RenderSection("Scripts", false)
</body>
</html>
