<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>@ViewBag.Title</title>


    <link href="~/css/minify/minify.min.css?20200326" rel="stylesheet" />
    <link href="~/css/minify/detail.min.css?20200326" rel="stylesheet" />

    <script type="text/javascript">
        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name :  "@User.Identity.Name",
        }
    </script>

    <script src="~/js/minify/detail.min.js?20200326"></script>
</head>
<body>
    
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content">
                @await Html.PartialAsync("_sideBarStudent")
                <div class="right-content">
                    @RenderBody()
                </div>

                @if (IsSectionDefined("Footer"))
                {
                    RenderSection("Footer");
                }
                else
                {
                    @await Html.PartialAsync("_Footer")
                }
            </div>
        </div>
    </div>
    <!-- Logout Modal-->
    @await Html.PartialAsync("_modalLogout")
    @RenderSection("Modals", false)
    @RenderSection("Scripts", false)
</body>
</html>
