<!DOCTYPE html>
@{
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl, Object param = null)
    {
        string url = Url.Action(act, ctrl, param);

        return $"/{center}{url}";
    }
}
@using Microsoft.AspNetCore.Http;
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link href="~/css/minify/minify.min.css" rel="stylesheet" />
    <link href="~/css/stylesheet.min.css" rel="stylesheet" />
    @*longht them*@
    <link href="~/easy-real-time/css/easy-real-time.css" rel="stylesheet" />
    <link href="~/js/calendar/css/sweetalert.css" rel="stylesheet" />
    <link href="~/js/calendar/css/style.css" rel="stylesheet" />

    <script src="~/js/minify/common.min.js?20200326"></script>
    <script src="~/js/minify/common.lib.min.js?20200326"></script>

    @*<link href="~/css/w3.css" rel="stylesheet" />*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178391156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178391156-1');
    </script>

    <script type="text/javascript">
        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name: "@User.Identity.Name",
            type: '@User.FindFirst("Type")?.Value',
            id: "@User.FindFirst("UserID")?.Value"
        }
    </script>
    @RenderSection("style", false)

</head>
<style>
    ::-webkit-scrollbar {
        width: 5px; /* for vertical scrollbars */
        height: 5px; /* for horizontal scrollbars */
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
    }

    [v-cloak], [cloak-holder] {
        display: none
    }

        [v-cloak][cloak-holder] {
            display: block
        }

    .sidebar .logo {
        max-width: 100%;
    }

    @@media only screen and (max-width: 1024px) {
        body {
            margin-bottom: 15px;
        }

        .sidebar {
            width: 70px;
            overflow-y: scroll;
        }

            .sidebar .menu-bar {
                font-size: 0;
            }

        .menu-bar li a {
            padding: 10px 21px;
        }

        #dashboard_content {
            width: calc(100% - 70px);
            margin-left: 70px;
        }

        #sidebar_right {
            display: none;
        }

        #tawkchat-container iframe {
            display: none !important;
        }

        .card-header .filter-box,
        .card-header .search-box {
            width: 100%;
            padding: 0;
        }
    }
</style>
<body>
    <main id="main">
        @await Component.InvokeAsync("SidebarTeacher", new { centerCode = center })
        <div id="main_content">
            @RenderBody()
            <div v-cloak>
                @RenderSection("Modals", false)
            </div>
        </div>
        <aside class="sidebar" id="sidebar_right">
            <div class="box p-3 row d-none" id="profile" style="position:relative">
                <div class="col-md-3 col-xs-12" style="text-align:center">
                    @if (Context.Session.GetString("userAvatar") != null)
                    {
                        <img src="@Context.Session.GetString("userAvatar")" style="width:32px;height:32px;border-radius:20px" onmouseover="openNav()" />
                    }
                    else
                    {
                        <img src="/images/no-avatar.png" style="width:32px;height:32px;border-radius:20px" onmouseover="openNav()" />
                    }

                    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom" style="width:210px;border-radius:10px">
                        <a href="@processUrl("Profile","Home")#myprofile" class="w3-bar-item w3-button" style="border-radius:10px" onclick="closeNav()"><i class="ti-user"></i> Thông tin cá nhân</a>
                        <a href="@processUrl("Profile","Home")#changlepassword" class="w3-bar-item w3-button" style="border-radius:10px" onclick="closeNav()"><i class="ti-key"></i> Đổi mật khẩu</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8" style="text-align:left;margin:auto">
                    <a href="@processUrl("Profile","Home")" style="color:#222222 !important">@User.Identity.Name</a>
                </div>
                <div class="col-md-3 col-xs-4" style="text-align:left;margin:auto">
                    <span style="cursor:pointer" onclick="openNav()">☰</span>
                </div>

                <script>
                    function openNav() {
                        var x = document.getElementById("Demo");
                        if (x.className.indexOf("w3-show") == -1) {
                            x.className += " w3-show";
                        } else {
                            x.className = x.className.replace(" w3-show", "");
                        }

                        function closeNav() {
                            var x = document.getElementById("Demo");
                            //if (x.className.indexOf("w3-show") == -1) {
                            //    x.className += " w3-show";
                            //}
                            //else {
                            x.className = x.className.replace(" w3-show", "");
                            //}
                        }
                    }
                </script>
            </div>
            <div style="height:80px; color: orange; padding-top: 25px;" class="text-center">
                <i class="fas fa-star" style="font-size:150%"></i>
                <i class="fas fa-star" style="font-size:250%"></i>
                <i class="fas fa-star" style="font-size:150%"></i>
            </div>
            <div id="top_star" class="box p-3">
                <div class="heading flex pb-2">
                    <h4 class="box-head text-center" style="font-size:110%;">Ngôi sao đang lên</h4>
                </div>
                <ul style="border: solid 1px #CCC; border-radius:10px;" class="p-2">
                    <template v-for="(item,k) in list_star">
                        <li v-if="k < 10" class="p-2 list-unstyled">
                            <i class="fas fa-crown" style="color:gold" v-if="k==0"></i>
                            <i class="fas fa-crown" style="color:silver" v-else-if="k==1"></i>
                            <i class="fas fa-crown" style="color:saddlebrown" v-else-if="k==2"></i>
                            <i class="fas fa-star" style="color:orange" v-else></i>
                            <a :href="'@processUrl("Detail", "StudentManage")/' + item.StudentID"> <span class='pl-2' style="font-weight:500;font-size:13px;color: #222;"> {{item.StudentName}}</span></a>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="box p-3" style="margin:0 10px;border-radius: 15px; background: #D0DFE8;">
                <div class="heading flex">
                    <a href="https://www.youtube.com/playlist?list=PLEfslnTHZZmcZ3GdRT1PdHOLvp1LrtamL"><h4 class="box-head text-danger" style="font-size:110%">Hướng dẫn sử dụng</h4></a>
                </div>
                <ul class="list list-news m-0">
                    <li class="d-flex p-0">
                        <a href="https://www.youtube.com/playlist?list=PLEfslnTHZZmcZ3GdRT1PdHOLvp1LrtamL" title="Hướng dẫn sử dụng" target="_blank" class="thumb w-25">
                            <img src="https://yt3.ggpht.com/a/AATXAJxE5ypJQ4Sgh69zWU7WNWx1wL7J4fbFvARxUyT_=s48-c-k-c0xffffffff-no-rj-mo">
                        </a>
                        <div class="info w-75">
                            <a href="https://www.youtube.com/playlist?list=PLEfslnTHZZmcZ3GdRT1PdHOLvp1LrtamL" title="Hướng dẫn sử dụng" target="_blank">
                                <p style="font-size:12px;color: #222;">Tổng hợp video hướng dẫn sử dụng platform Eduso.vn</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <style>
                #top_star li:hover {
                    background-color: #EEE;
                    cursor: pointer;
                }
            </style>
            @*<div class="adv">
                    <img src="/pictures/undraw_book_lover_mkck_2.png" alt="">
                </div>*@
            <div class="box padding-15 d-none">
                <div class="heading flex">
                    <h4 class="box-head">Tin tức nổi bật</h4>
                    <a href="#" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                </div>
                <ul class="list list-news list-articles">
                    <li v-for="(item,k) in list_news" class="d-flex">
                        <a :href="item.href" :title="item.title" target="_blank" class="thumb w-25"><img :src="item.thumbnail" /></a>
                        <div class="info w-75">
                            <a :href="item.href" target="_blank" :title="item.title" class="title">{{item.title}}</a>
                            <p>{{item.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </main>

    <script>
        new Vue({
            el: ".list-articles",
            mounted() {
            },
            data: {
                list_news: [
                ]
            }
        });
         new Vue({
            el: "#top_star",
            mounted() {
                this.getBestStudents();
            },
            data: {
                list_star: []
            },
            methods: {
                getBestStudents() {
                    let _url = '@processUrl("GetBestStudents", "StudentManage")'
                    axios.post(_url)
                        .then(response => {
                            this.list_star = response.data.Data;
                        }).catch(e => { })
                },
            }
        });
    </script>
    @*alert*@

    @RenderSection("Scripts", false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ddfa48ad96992700fc9b06d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    @if (center == "ern" || center == "truong-thpt-chuyen-vinh-phuc")
    {
        @await Html.PartialAsync("_EasyRealtime")
    }
</body>
</html>

