<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @*<environment include="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        </environment>*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />*@
    <link href="~/css/bootstrap.4.3.1.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    @*longht them*@
    <link href="~/easy-real-time/css/easy-real-time.css" rel="stylesheet" />
    <link href="~/js/calendar/css/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stylesheet.min.css">
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>*@
    <script src="~/js/vue@2.6.0.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/bootstrap-vue.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/lib/config.url.base.js"></script>
    <script src="~/js/lib/notification/notification.js"></script>
    <script src="~/js/lib/xhr.js"></script>
    <script src="~/easy-real-time/js/easy-real-time.js"></script>
    <script src="~/js/hubs/render.html.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/hubs/connection.js"></script>
    <script type="text/javascript">

        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name: "@User.Identity.Name",
            id: "@User.FindFirst("UserID")?.Value"
        }

    </script>
</head>
<body>
    <main id="main">
        @await Html.PartialAsync("_sideBarStudentNewUI")
        @RenderBody()
        <aside class="sidebar" id="sidebar_right">
            <div class="box padding-15" id="plan_box">
                <div class="select-date flex">
                    <button class="btn-prv"><i class="ti-angle-left"></i></button>
                    <div class="week">
                        02/12/2019 - 09/12/2019
                    </div>
                    <button class="btn-prv"><i class="ti-angle-right"></i></button>
                </div>
                <div class="table-detail">
                    <div class="tr">
                        <div class="c-d td">T2</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T3</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T4</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T5</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T6</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T7</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">CN</div>
                        <div class="c-cl td">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="adv">
                <img src="/pictures/adv1.png" alt="">
            </div>
            <div class="box padding-15">
                <div class="heading flex">
                    <h4 class="box-head">Tin tức nổi bật</h4>
                    <a href="#" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                </div>
                <ul class="list list-news">
                    <li v-for="(item,k) in list_news">
                        <a href="#" :title="item.title" class="thumb"><img :src="item.thumbnail" /></a>
                        <div class="info">
                            <a href="#" :title="item.title" class="title">{{item.title}}</a>
                            <p>{{item.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </main>
    <!-- chat--->
    <div class="single-chat" id="single-chat">
        <div class="box-single-chat">
            <div class="header-single-chat">
                <div class="title-single-chat"></div>
                <button class="btn btn-close" onclick="javascript: document.getElementById('single-chat').classList.remove('open');">X</button>
            </div>
            <div class="body-single-chat">
                <div class="old-message">old-message</div>
                <div class="message-load">

                    <div class="item-single-chat">
                       <div class="sender-name">Hoangf Thai Long</div>
                       <div class="content-single-chat">
                           msg.innerHTML +=
                       </div>
                    </div>

                </div>
                <div class="message-unread">message-unread</div>
            </div>
            <div class="footer-single-chat">
                <textarea style="resize:none"></textarea>
                <button class="btn btn-sm btn-success">Send</button>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: ".list-news",
            mounted() {
            },
            data: {
                list_news: [
                    {
                        title: 'Đã đến lúc HLV Park',
                        description: 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                        thumbnail: '/pictures/news1.png'
                    },
                    {
                        title: 'HLV Park: Có khi p',
                        description: 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                        thumbnail: '/pictures/news2.png'
                    },
                    {
                        title: 'Tiến Dũng và Văn Toả',
                        description: 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                        thumbnail: '/pictures/news3.png'
                    }
                ]
            }
        });
    </script>
    @*alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/calendar/js/sweetalert.min.js"></script>

    <script>
        var formatTwoNumber = function (n) {
            if (n < 10) return `0${n}`;
            return `${n}`;
        }
        var formatDateTime = function (dt) {
            var current = dt;
            var year = current.getFullYear();
            var month = formatTwoNumber((current.getMonth() + 1));
            var day = formatTwoNumber(current.getDate());
            return `${day}/${month}/${year}`;
        }
        var caculatorDate = function (dt, number) {
            dt.setDate(dt.getDate() - number)
            return dt;
        }
        var loadCalendar = function (start, end) {
            if (start == void 0) {
                start = caculatorDate(new Date(), (new Date().getDay() - 1));
                var temp =  caculatorDate(new Date(), (new Date().getDay() - 1));
                end = caculatorDate(temp, -7);
            }
            var plan_box = document.getElementById("plan_box");
            if (plan_box != null) {
                var week = plan_box.querySelector(".week");
                if (week != null) {
                    week.innerHTML = formatDateTime(start) + " - " + formatDateTime(end);
                }
            }
            var tableDetail = plan_box.querySelector(".table-detail");
            if (tableDetail != null) {
                tableDetail.children[0].children[1].innerHTML = "";
                tableDetail.children[1].children[1].innerHTML = "";
                tableDetail.children[2].children[1].innerHTML = "";
                tableDetail.children[3].children[1].innerHTML = "";
                tableDetail.children[4].children[1].innerHTML = "";
                tableDetail.children[5].children[1].innerHTML = "";
                tableDetail.children[6].children[1].innerHTML = "";
                _ajax.proccess("GET", "@Url.Action("GetList","Calendar")?start=" + formatDateTime(start) + "&end=" + formatDateTime(end), {}).then(function (data) {
                    if (data != null) {
                        var dataJson = JSON.parse(data);
                        if (dataJson != {} && dataJson.length > 0) {
                            for (var i = 0; i < dataJson.length; i++) {
                                var item = dataJson[i];
                                var startDate = new Date(item.start);
                                var index = startDate.getDay() - 1;
                                if (index == -1) index = 6;
                                var html = `<div class="flex">
                                            <span class="time">${formatTwoNumber(startDate.getHours())}:${formatTwoNumber(startDate.getMinutes())}</span>
                                            <span class="title">${item.title}</span>
                                        </div>`;
                                tableDetail.children[index].children[1].innerHTML += html;
                            }
                        }
                    }
                })
            }

        }
        loadCalendar();
    </script>

    @RenderSection("Modals", false)
    @RenderSection("Scripts", false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ddfa48ad96992700fc9b06d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>

