<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link href="~/css/minify/minify.min.css?20200405" rel="stylesheet" />

    @*longht them*@
    <link href="~/easy-real-time/css/easy-real-time.css" rel="stylesheet" />
    <link href="~/js/calendar/css/sweetalert.css" rel="stylesheet" />
    <link href="~/js/calendar/css/style.css" rel="stylesheet" />

    <script src="~/js/minify/common.min.js?20200326"></script>
    <script src="~/js/minify/common.lib.min.js?20200326"></script>

    <script type="text/javascript">
        const g_CurrentUser = {
            email : "@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value",
            name: "@User.Identity.Name",
            type: '@User.FindFirst("Type")?.Value',
            id: "@User.FindFirst("UserID")?.Value"
        }
    </script>
</head>
<style>
    [v-cloak], [cloak-holder] {
        display: none
    }
    [v-cloak][cloak-holder]{
        display:block
    }
</style>
<body>
    <main id="main">
        @await Html.PartialAsync("_sidebarTeacherNewUI")
        @RenderBody()
        <aside class="sidebar" id="sidebar_right">
            <div class="box padding-15" id="plan_box">
                <div class="select-date flex">
                    <button class="btn-prv" onclick="loadCalendarPre()"><i class="ti-angle-left"></i></button>
                    <div class="week">
                        02/12/2019 - 09/12/2019
                    </div>
                    <button class="btn-prv" onclick="loadCalendarNext()"><i class="ti-angle-right"></i></button>
                </div>
                <div class="table-detail">
                    <div class="tr">
                        <div class="c-d td">T2</div>
                        <div class="c-cl td">
                            <div class="flex">
                                <span class="time">08:30</span>
                                <span class="title">IEL</span>
                            </div>
                            <div class="flex">
                                <span class="time">08:30</span>
                                <span class="title">IEL</span>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T3</div>
                        <div class="c-cl td">
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T4</div>
                        <div class="c-cl td">
                            <div class="flex">
                                <span class="time">08:30</span>
                                <span class="title">IEL</span>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T5</div>
                        <div class="c-cl td">
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T6</div>
                        <div class="c-cl td">
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">T7</div>
                        <div class="c-cl td">
                            <div class="flex">
                                <span class="time">08:30</span>
                                <span class="title">IEL</span>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="c-d td">CN</div>
                        <div class="c-cl td">
                        </div>
                    </div>
                </div>
            </div>
            <div class="adv">
                <img src="/pictures/undraw_book_lover_mkck_2.png" alt="">
            </div>
            <div class="box padding-15">
                <div class="heading flex">
                    <h4 class="box-head">Tin tức nổi bật</h4>
                    <a href="#" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                </div>
                <ul class="list list-news">
                    <li v-for="(item,k) in list_news" class="d-flex">
                        <a :href="item.href" :title="item.title" target="_blank" class="thumb w-25"><img :src="item.thumbnail" /></a>
                        <div class="info w-75">
                            <a :href="item.href" target="_blank" :title="item.title" class="title">{{item.title}}</a>
                            <p>{{item.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div v-cloak>
            @RenderSection("Modals", false)
        </div>
    </main>

    <script>
        new Vue({
            el: ".list-news",
            mounted() {
            },
            data: {
                list_news: [
                    {
                        href: 'https://www.facebook.com/utcelearning/?hc_ref=ARQzn875E9EnzJl0pDOIsk-T6UjYmWEn8oE0bsjwjNISY5FfbD6PgeCUIPWrnvXcc9o&ref=nf_target&__tn__=kC-R',
                        title: 'Hướng dẫn đào tạo trực tuyến',
                        description: 'Tổng hợp tài liệu & video hướng dẫn đào tạo trực tuyến cập nhật các tính năng mới',   
                        thumbnail: 'https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-0/p370x247/71767146_116313109773262_2458809184288768000_n.jpg?_nc_cat=104&_nc_sid=85a577&_nc_ohc=YBpwjKJSJLAAX9HDnwb&_nc_ht=scontent.fhan4-1.fna&_nc_tp=6&oh=73d15dd234f902d1aadd61170ef6dda0&oe=5EBD1FB8'
                    },
                    {
                        href: 'http://educoo.vn',
                        title: 'Khóa học tiếng Anh 1 - 1',
                        description: 'Tổng hợp tài liệu & video hướng dẫn đào tạo trực tuyến cập nhật các tính năng mới',
                        thumbnail: 'http://educoo.vn/Content/v-637088577654292784/img/banner.png'
                    },
                ]
            }
        });
    </script>
    @*alert*@

    @RenderSection("Scripts", false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5ddfa48ad96992700fc9b06d/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
    <!--End of Tawk.to Script-->
    @await Html.PartialAsync("_EasyRealtime")
    <script>
        var clLoadMore = "cl-load-more";
        var currentDateCalendar;
        var formatTwoNumber = function (n) {
            if (n < 10) return `0${n}`;
            return `${n}`;
        }
        var formatDateTime = function (dt,qr) {
            var current = dt;
            var year = current.getFullYear();
            var month = formatTwoNumber((current.getMonth() + 1));
            var day = formatTwoNumber(current.getDate());
            return (qr == void 0)
                ? `${day}/${month}/${year}`
                : `${year}-${month}-${day}`;
        }
        var caculatorDate = function (dt, number) {
            dt.setDate(dt.getDate() - number)
            return dt;
        }
        var loadCalendar = function (start, end) {
            if (start == void 0) {
                start = caculatorDate(new Date(), (new Date().getDay() - 1));
            } else {
                var cpStart = new Date(start.getTime());
                start = caculatorDate(cpStart, (cpStart.getDay() - 1));
            }
            var temp = new Date(start.getTime());
            var end = caculatorDate(temp, -6);

            currentDateCalendar = start;
            var plan_box = document.getElementById("plan_box");
            if (plan_box != null) {
                var week = plan_box.querySelector(".week");
                if (week != null) {
                    week.innerHTML = formatDateTime(start) + " - " + formatDateTime(end);
                }
            }
            var tableDetail = plan_box.querySelector(".table-detail");
            if (tableDetail != null) {
                tableDetail.children[0].children[1].innerHTML = "";
                tableDetail.children[1].children[1].innerHTML = "";
                tableDetail.children[2].children[1].innerHTML = "";
                tableDetail.children[3].children[1].innerHTML = "";
                tableDetail.children[4].children[1].innerHTML = "";
                tableDetail.children[5].children[1].innerHTML = "";
                tableDetail.children[6].children[1].innerHTML = "";

                tableDetail.children[0].children[1].classList.remove(clLoadMore);
                tableDetail.children[1].children[1].classList.remove(clLoadMore);
                tableDetail.children[2].children[1].classList.remove(clLoadMore);
                tableDetail.children[3].children[1].classList.remove(clLoadMore);
                tableDetail.children[4].children[1].classList.remove(clLoadMore);
                tableDetail.children[5].children[1].classList.remove(clLoadMore);
                tableDetail.children[6].children[1].classList.remove(clLoadMore);


                _ajax.proccess("GET", "@Url.Action("GetList","Calendar")?start=" + formatDateTime(start,1) + "&end=" + formatDateTime(end,1), {}).then(function (data) {
                    if (data != null) {
                        var dataJson = JSON.parse(data);
                        if (dataJson != {} && dataJson.length > 0) {
                            for (var i = 0; i < dataJson.length; i++) {
                                var item = dataJson[i];
                                var startDate = new Date(item.start);
                                var index = startDate.getDay() - 1;
                                if (index == -1) index = 6;
                                var _hidden = "";
                                var _hidden = "";
                                if (tableDetail.children[index].children[1].children.length >= 1) {
                                    _hidden = "cl-hidden";
                                    if (!tableDetail.children[index].children[1].classList.contains(clLoadMore)) {
                                        tableDetail.children[index].children[1].classList.add(clLoadMore);
                                    }
                                }
                                var html = `<div class="flex ${_hidden}">
                                            <span class="time">${formatTwoNumber(startDate.getHours())}:${formatTwoNumber(startDate.getMinutes())}</span>
                                            <span class="title">${item.title}</span>
                                        </div>`;

                                tableDetail.children[index].children[1].innerHTML += html;
                            }

                            var listLoadMore = tableDetail.querySelectorAll("." + clLoadMore);
                            for (var i = 0; i < listLoadMore.length; i++) {
                                var item = listLoadMore[i];
                                item.innerHTML += `<button class="btn btn-sm" onclick="showAllEvent(this)">+ show</button>`;
                            }
                        }
                    }
                })
            }

        }
        loadCalendar();

        var showAllEvent = function (self) {
            var elRoot = self.parentNode;
            elRoot.classList.toggle(clLoadMore);
            self.innerHTML = elRoot.classList.contains(clLoadMore) ? "+ show" : "- hidden";
        }
         var loadCalendarPre = function () {
            var timePre = new Date(currentDateCalendar.getTime());
            var startTimePre = caculatorDate(timePre, 7);
            loadCalendar(startTimePre);
        }
        var loadCalendarNext = function () {
            var timePre = new Date(currentDateCalendar.getTime());
            var startTimePre = caculatorDate(timePre, -7);
            loadCalendar(startTimePre);
        }
    </script>

</body>
</html>

