@using Microsoft.AspNetCore.Http
@{
    var _center = ViewBag.Center as BaseCustomerEntity.Database.CenterEntity ?? new BaseCustomerEntity.Database.CenterEntity();
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl)
    {
        string url = Url.Action(act, ctrl);

        return $"/{center}{url}";
    }
}
<aside class="sidebar" id="sidebar">
    <div class="card-header">
        <a href="/@center/student" class="logo text-center" title="@_center.Name" style="max-height:100px;"><img src="@(_center.Image != null ? _center.Image : "/images/Logo.png")" alt="@_center.Image" /></a>
    </div>
    <div class="menu-bar">
        <ul>
            <li for="home">
                <a href="@processUrl("Index", "Home")" title="Trang chủ"><i class="ic ic-home"></i>Trang chủ</a>
            </li>
            <li for="profile" id="showbtnProfile" style="display:none">
                <a href="@processUrl("Profile","Home")" title="Cá nhân"><i class="ic ic-user"></i>Cá nhân</a>
            </li>
            <li for="class">
                <a href="@processUrl("Index" , "Course")" title="Lớp học của tôi"><i class="ic ic-book"></i>Lớp học của tôi</a>
            </li>
            <li for="calendar">
                <a href="@processUrl("Index" , "Calendar" )" title="Lịch học của tôi"><i class="ic ic-celendar"></i>Lịch học của tôi</a>
            </li>
            <li for="reference">
                <a href="@processUrl("Index" , "Reference" )" title="Học liệu"><i class="ic ic-file"></i>Học liệu</a>
            </li>
            <li for="discussion">
                <a href="javascript:;;" onclick="$('.easy-chat__content').toggleClass('open')" title="Thảo luận"><i class="ic ic-discussion"></i>Thảo luận</a>
            </li>
            @*<li for="news">
                <a href="#" title="Tin tức"><i class="ic ic-paper"></i>Tin tức</a>
            </li>*@
        </ul>
    </div>
    <div class="adv">
        <img src="/pictures/undraw_book_lover_mkck.png" alt="">
    </div>
</aside>
<script>
    var setActiveMenu = function (menu) {
        $('.menu-bar li[for=' + menu + ']').addClass('active');
    }

    var responeMenu = function () {
        //debugger
        var w = $(window).width();
        if (w < 1024) {
            document.getElementById("showbtnProfile").style.display = "";
        }
        else {
            document.getElementById("showbtnProfile").style.display = "none";
        }
    }

    $(document).ready(function () {
        responeMenu();
    });

    //window.onresize = responeMenu();
    $(window).resize(function () {
        responeMenu();
    });
</script>