@{
    var model = ViewBag.Model;
    var AdminMenus = BaseCustomerMVC.Globals.StartUp.GetAccessCtrlsByAdmin();
    var TeacherMenus = BaseCustomerMVC.Globals.StartUp.GetAccessCtrlsByTeacher();
    var StudentMenus = BaseCustomerMVC.Globals.StartUp.GetAccessCtrlsByStudent();
    var Permission = User.FindAll(o => o.Type == BaseAccess.Permission.ClaimType)?.Select(x => x.Value.Split('*'))?.ToHashSet();
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">@User.Identity.Name</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    @{
        var menuList = AdminMenus != null && AdminMenus.Count > 0
            ? AdminMenus.Where(o => o.IsShow).Select(o => new { o.Module, o.Name, o.Icon, o.Order })?.OrderBy(o => o.Order).ToHashSet()
            : null;
        for (int i = 0; i < menuList.Count; i++)
        {
            var item = menuList.ElementAt(i);
            string active =
                ViewContext.RouteData.Values["Area"].ToString().ToLower() == "admin" &&
                ViewContext.RouteData.Values["Controller"].ToString().ToLower() == item.Module
                ? "active" : "";
            if (User.IsInRole("superadmin"))
            {
                <li class="nav-item @active">
                    <a class="nav-link" href="@Url.Action("Index",item.Module,new { area = "admin" })">
                        <i class="@item.Icon"></i>
                        <span>@item.Name</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
            }
            else
            {
                var role = Permission.Where(z => z[0] == "admin" && z[1] == item.Module);
                if (role != null && role.Count() > 0)
                {
                    <li class="nav-item @active">
                        <a class="nav-link" href="@Url.Action("Index",item.Module,new { area = "admin" })">
                            <i class="@item.Icon"></i>
                            <span>@item.Name</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                }
                else
                {
                    continue;
                }

            }
        }
    }
    @*Teacher
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    {
        var tmenuList = TeacherMenus != null && TeacherMenus.Count > 0
            ? TeacherMenus.Select(o => new { o.Module, o.Name, o.Icon })?.ToHashSet()
            : null;
        for (int i = 0; i < tmenuList.Count; i++)
        {
            var item = tmenuList.ElementAt(i);
            string active =
                ViewContext.RouteData.Values["Area"].ToString().ToLower() == "teacher" &&
                ViewContext.RouteData.Values["Controller"].ToString().ToLower() == item.Module
                ? "active" : "";
            if (User.IsInRole("superadmin"))
            {
                <li class="nav-item @active">
                    <a class="nav-link" href="@Url.Action("Index",item.Module,new { area = "teacher" })">
                        <i class="@item.Icon"></i>
                        <span>@item.Name</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
            }
            else
            {
                var role = Permission.Where(z => z[0] == "teacher" && z[1] == item.Module);
                if (role != null && role.Count() > 0)
                {
                    <li class="nav-item @active">
                        <a class="nav-link" href="@Url.Action("Index",item.Module,new { area = "teacher" })">
                            <i class="@item.Icon"></i>
                            <span>@item.Name</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                }
                else
                {
                    continue;
                }

            }
        }
    }
    Student
    <hr class="sidebar-divider my-0">
    @{
        var smenuList = StudentMenus != null && StudentMenus.Count > 0
            ? StudentMenus.Select(o => new { o.Module, o.Name, o.Icon })?.ToHashSet()
            : null;
        for (int i = 0; i < smenuList.Count; i++)
        {

            var item = smenuList.ElementAt(i);
            string active =
                ViewContext.RouteData.Values["Area"].ToString().ToLower() == "student" &&
                ViewContext.RouteData.Values["Controller"].ToString().ToLower() == item.Module
                ? "active" : "";
            if (User.IsInRole("superadmin"))
            {
                <li class="nav-item">
                    <a class="nav-link @active" href="@Url.Action("Index",item.Module,new { area = "student" })">
                        <i class="@item.Icon"></i>
                        <span>@item.Name</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
            }
            else
            {
                var role = Permission.Where(z => z[0] == "student" && z[1] == item.Module);
                if (role != null && role.Count() > 0)
                {
                    <li class="nav-item @active">
                        <a class="nav-link" href="@Url.Action("Index",item.Module,new { area = "student" })">
                            <i class="@item.Icon"></i>
                            <span>@item.Name</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                }
                else
                {
                    continue;
                }

            }
        }
    }*@
</ul>
<!-- End of Sidebar -->