@{
    var Data = ViewBag.Data as BaseCustomerEntity.Database.CourseLessonEntity;
    var Course = ViewBag.Course as BaseCustomerEntity.Database.CourseEntity;
}
<script>
    $(document).ready(function () {


        var home = $("<i>", {
            class: "fas fa-home list_menu top_nav_menu mr-3",
            style: "cursor: pointer",
        }).click(function () {
            document.location = '/'
        });

        var menu = $("<i>", {
            class: "fas fa-bars list_menu top_nav_menu mr-1 active",
            style: "cursor: pointer",
        }).click(function () {
            toggleMenu(this,'.path_menu');
        });

        renderMenu(currentLesson.ChapterID, true);
        //$('.page-title h1').prepend(questiontrack);
        //$('.page-title h1').prepend(menu);
        $('.right_sidebar').prepend(home);
        //menu.click();

    });

    var dataUrl = '@Url.Action("GetContents","Curriculum")';

    var renderMenu = function (parentID, init) {

        var parentPath = root_nav;

        if (parentID != null && parentID.length > 1) {
            parentPath = $('#chap_nav_' + parentID);
            if (parentPath.length == 0) {
                parentPath = $("<ul>", {id: 'chap_nav_' + parentID, class: 'p_chap_nav'});
                parentPath
                    .append($("<div>", { class: "chap_nav_title", text: "" }))
                    .append($("<ul>", { class: "chap_content" }));
                parentPath.find("> .chap_nav_title").click(function () {toggleChap(this)})
                root_nav.append(parentPath);
            }
            if (init) {
                parentPath.addClass('plus');
                parentPath.find(" > .chap_nav_title").addClass('current')
            }

        }

        $.ajax({
            type: "POST",
            url: dataUrl,
            data: { ID: '@Course.ID', Parent: parentID },
            success: function (data) {
                var rootID = data.RootID;
                var chapters = data.Data;
                var lessons = data.Lesson;
                if (chapters != null && chapters.length > 0) {
                    $.each(chapters, function (i, chapter) {
                        var chapterPath = $('#chap_nav_' + chapter.ID);
                        if (chapterPath.length == 0) {
                            chapterPath = $("<ul>", {
                                id: 'chap_nav_' + chapter.ID,
                                class: 'p_chap_nav',
                                href: '#'
                            });
                            chapterPath.append($("<div>", { class: "chap_nav_title" }))
                                .append($("<ul>", { class: "chap_content" }));
                            chapterPath.find("> .chap_nav_title").click(function () { toggleChap(this) });
                        }
                        chapterPath.find('> .chap_nav_title').text(chapter.Name).attr('title',chapter.Name).prepend($("<i>", { class: "far fa-folder mr-1" }));;
                        parentPath.find('> .chap_content').append(chapterPath);
                    })
                }
                if (lessons != null && lessons.length > 0) {
                    $.each(lessons, function (i, lesson) {
                        var lessonPath = $('#les_nav_' + lesson.ID);
                        if (lessonPath.length == 0) {
                            lessonPath =
                                $("<a>", { id: 'les_nav_' + lesson.ID, title: lesson.Title, href: '@Url.Action("Lesson","Curriculum")/' + lesson.ID + '?CourseID=' + '@Course.ID' })
                                .append($("<li>", { class: 'les_nav', })
                                    .append($("<i>", { class: "far fa-file-alt mr-1" }))
                                        .append($("<span>", { text: lesson.Title}))
                                    );
                            if (lesson.ID == currentLesson.ID)
                                lessonPath.find('li').addClass('current');
                        }
                        parentPath.find('> .chap_content').append(lessonPath);
                    })
                }
                parentPath.attr('loaded', 1);
                if(parentID != null && parentID.length > 1)
                    renderMenu(rootID, init);
            },
        });
    }

    var currentLesson = @Html.Raw(Json.Serialize(Data))

    var toggleChap = function (obj) {
        $(obj).parent().toggleClass('plus');
        var loaded = $(obj).parent().attr('loaded');
        if (loaded == 1)
            return false;
        var id = $(obj).parent().attr('id').replace('chap_nav_', '');
        renderMenu(id, false);
    }
</script>

<style>
    .top_nav_menu {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        height: 26px;
        opacity: 0.7;
        background: #FFF;
        position: fixed;
        left: 5px;
        top: 7px;
    }

        .top_nav_menu:hover,
        .top_nav_menu.active {
            opacity: 1;
        }

    .right_sidebar {
        width: 240px;
        background: #FFF;
        border: none;
        /*transition: left 2s;*/
        border: solid 1px #bac3f5;
        border-left: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        color: #333;
        z-index: 1;
        overflow-x: visible;
        line-height: 1.7rem;
    }

    .right_sidebar {
        left: 0;
    }


    .right-content.expandMenu {
        left: 240px !important;
    }

    @@media (max-width : 1200px) {
        .right_sidebar {
            width: 200px;
            font-size: 90%;
        }

        .right-content.expandMenu {
            left: 200px !important;
        }
    }

    .path_menu .current,
    .path_menu .current a {
    }

    .les_nav.current {
        background: rgb(85,230,191);
    }

    .path_menu li,
    .path_menu .chap_nav_title,
    .path_menu ul {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .path_menu a {
        color: #333;
    }

    /*.chap_nav_title:hover,
    .les_nav:hover {
        text-decoration: underline;
    }*/

    .right_sidebar > div {
        height: 100%;
        /*padding: 10px;*/
        overflow-y: auto;
    }

    .chap_content, .p_chap_nav {
        margin-left: 0px;
        padding: 5px 0 5px 0;
        border-top: solid 1px #CCC;
    }

    .chap_nav_title {
        margin-left: 0px;
        padding: 5px 0 5px 5px;
    }

    .chap_content li {
        list-style: circle inside;
        padding: 5px 5px 5px 15px;
    }


    ul > :first-child,
    ul > a:first-child > li {
        margin-top: -5px;
    }


    ul > ul {
        margin-bottom: -5px;
    }

    .p_chap_nav .chap_nav_title {
        margin-bottom: 0;
    }

    .chap_nav_title:hover, li:hover {
        background: #CCC;
    }
        
       .chap_content a:hover {
            text-decoration: none;
        }

    .p_chap_nav > .chap_content {
        display: none;
    }

    .p_chap_nav.plus > .chap_content {
        display: block;
    }

    .path_menu .toggle_row {
        text-align: right;
        /*margin-bottom: 10px;*/
        /*border-bottom: solid 1px #999;*/
        padding: 7px;
        color: #000;
        height: 40px;
        background: #999;
    }

    .path_menu .content-holder {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
    }

    .path_menu .collapse_menu {
        cursor: pointer;
    }
    .embed-frame{
        width:100%;
        min-height: 800px;
    }
     @@media (max-width : 1200px) {
           .embed-frame{
            width:100%;
            max-height: 600px;
        }
    }
</style>

<nav class="right_sidebar expand">
    <div class="path_menu">
        <div class="toggle_row">
        </div>
        <div class="content-holder">
            <ul class="chap_content"></ul>
        </div>
    </div>
  </nav>
<!-- End of Sidebar -->
<script>
    var root_nav = $('.path_menu .content-holder');

    $('.collapse_menu').click(function () {
        hideMenu();
    })

    $(document).ready(function () {
        //$('.right-content').click(function () {
        //    hideMenu();
        //})

        $('.right-content').addClass('expandMenu');

        //var timeout = setTimeout(function () { hideMenu() }, 1500);
    })

    function hideMenu() {
        $('.top_nav_menu.active').click();
    }

    var toggleMenu = function (trigger, menu) {
        $('.top_nav_menu').removeClass('active');
        if ($('.right_sidebar').hasClass("expand")) {
            if ($(menu).is(":visible")) {
                $('.right_sidebar').removeClass("expand");
                $('.right-content').removeClass('expandMenu');
            }
            else {
                $(trigger).addClass('active')
                $('.right_sidebar > div').hide();
                $(menu).show()
            }
        }
        else {
            $(trigger).addClass('active')
            $('.right_sidebar > div').hide();
            $(menu).show()
            $('.right_sidebar').addClass("expand");
            $('.right-content').addClass('expandMenu');
        }
    }


</script>
