@using Microsoft.AspNetCore.Http
<aside class="sidebar" id="sidebar">
    <div class="card-header">
        <a href="/" class="logo" title="educoo"><img src="/images/Logo.png" /></a>
    </div>
    <div class="menu-bar">
        <ul>
            <li for="home">
                <a href="@Url.Action("Index", "Home")" title="Trang chủ"><i class="ic ic-home"></i>Trang chủ</a>
            </li>
            <li for="profile">
                <a href="@Url.Action("Profile","Home")" title="Cá nhân"><i class="ic ic-user"></i>Cá nhân</a>
            </li>
            <li for="curriculum">
                <a href="@Url.Action("Index" , "Curriculum")" title="Quản lý bài giảng"><i class="ic ic-book"></i>Tạo bài giảng</a>
            </li>
            <li for="course">
                <a href="@Url.Action("Index" , "Class")" title="Quản lý lớp học"><i class="ic ic-book-pen"></i>Quản lý lớp học</a>
            </li>
            @if (User.IsInRole("head-teacher"))
            {
                <li for="teacher">
                    <a href="#" title="Quản lý giáo viên"><i class="ic ic-multi-user"></i>Quản lý giáo viên</a>
                </li>
            }
            <li for="student">
                <a href="@Url.Action("Index" , "StudentManage")" title="Quản lý học viên"><i class="ic ic-book-pen"></i>Quản lý học viên</a>
            </li>
            <li for="calendar">
                <a href="@Url.Action("Index" , "Calendar" )" title="Quản lý lịch dạy"><i class="ic ic-celendar"></i>Quản lý lịch dạy</a>
            </li>
            <li for="discussion">
                <a href="javascript:;;" onclick="$('.fn-box-chat-eduso').focus().click()" title="Thảo luận"><i class="ic ic-discussion"></i>Thảo luận</a>
            </li>
            <li for="reference">
                <a href="@Url.Action("Index" , "Reference" )" title="Quản lý tài liệu"><i class="ic ic-file"></i>Quản lý tài liệu</a>
            </li>
            <li for="news">
                <a href="@Url.Action("Index", "News" )" title="Tin tức"><i class="ic ic-paper"></i>Tin tức</a>
            </li>
        </ul>
    </div>
    <div class="adv">
        <img src="/pictures/undraw_book_lover_mkck.png" alt="">
    </div>
</aside>
<script>
    var setActiveMenu = function (menu) {
        $('.menu-bar li[for=' + menu + ']').addClass('active');
    }
</script>
