@{
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<nav role="navigation" aria-label="Class Navigation Menu">
    <ul id="section-tabs">
        <li class="section"><a href="@Url.Action("Detail","Class")/@currentClass.ID" title="Dashboard" class="home" tabindex="0">Dashboard</a></li>
        @*<li class="section"><a href="@Url.Action("Announcements","Class")/@currentClass.ID" title="Thông báo" class="announcements" tabindex="0">Thông báo</a></li>*@
        <li class="section"><a href="@Url.Action("Modules","Class")/@currentClass.ID" title="Modules" class="modules" tabindex="0">Modules</a></li>
        <li class="section"><a href="@Url.Action("Assignments","Class")/@currentClass.ID" title="Assignments" class="assignments" tabindex="0">Assignments</a></li>
        <li class="section"><a href="@Url.Action("Members","Class")/@currentClass.ID" title="Members list" class="people" tabindex="0">Members list</a></li>

        @*<li class="section"><a href="@Url.Action("Discussions","Class")/@currentClass.ID" title="Trao đổi" class="discussions" tabindex="0">Trao đổi</a></li>
            <li class="section"><a href="@Url.Action("Members","Class")/@currentClass.ID" title="Danh sách học viên" class="people" tabindex="0">Danh sách học viên</a></li>
            <li class="section"><a href="#" title="Học trực tuyến" class="onlineleanring" tabindex="0">Học trực tuyến</a></li>*@
        <li class="section"><a href="@Url.Action("References","Class")/@currentClass.ID" title="References" class="references" tabindex="0">References</a></li>
    </ul>
</nav>

<script>
    $('.sub-sidebar .' + activeSub).parent().addClass('active');
</script>