@{
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<nav role="navigation" aria-label="Class Navigation Menu">
    <ul id="section-tabs">
        <li class="section"><a href="@Url.Action("Detail","Course")/@currentClass.ID" title="Dashboard" class="home" tabindex="0">Dashboard</a></li>
        @*<li class="section"><a href="#" title="Thông báo" class="announcements" tabindex="0">Thông báo</a></li>*@
        <li class="section"><a href="@Url.Action("Modules","Course")/@currentClass.ID" title="Modules" class="modules" tabindex="0">Modules</a></li>
        <li class="section"><a href="@Url.Action("Assignment","Course")/@currentClass.ID" title="Assignments" class="assignments" tabindex="0">Assignments</a></li>
        @*<li class="section"><a href="@Url.Action("Discussions","Course")/@currentClass.ID" title="Trao đổi" class="discussions" tabindex="0">Trao đổi</a></li>
        <li class="section"><a href="#" title="Danh sách lớp" class="people" tabindex="0">Danh sách lớp</a></li>
        <li class="section"><a href="#" title="Bảng điểm" class="grades" tabindex="0">Bảng điểm</a></li>*@
        <li class="section"><a href="@Url.Action("References","Course")/@currentClass.ID" title="References" class="references" tabindex="0">References</a></li>
    </ul>
</nav>

<script>
    $('.sub-sidebar .' + activeSub).parent().addClass('active');
</script>