@{
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<nav role="navigation" aria-label="Class Navigation Menu">
    <ul id="section-tabs">
        <li class="section"><a href="@Url.Action("Detail","Class")/@currentClass.ID" title="Trang chủ" class="home" tabindex="0">Trang chủ</a></li>
        @*<li class="section"><a href="@Url.Action("Announcements","Class")/@currentClass.ID" title="Thông báo" class="announcements" tabindex="0">Thông báo</a></li>*@
        <li class="section"><a href="@Url.Action("Modules","Class")/@currentClass.ID" title="Cấu trúc môn học" class="modules" tabindex="0">Cấu trúc môn học</a></li>
        <li class="section"><a href="@Url.Action("Assignments","Class")/@currentClass.ID" title="Bài đánh giá" class="assignments" tabindex="0">Bài đánh giá</a></li>
        @*<li class="section"><a href="@Url.Action("Discussions","Class")/@currentClass.ID" title="Trao đổi" class="discussions" tabindex="0">Trao đổi</a></li>
        <li class="section"><a href="@Url.Action("Members","Class")/@currentClass.ID" title="Danh sách học viên" class="people" tabindex="0">Danh sách học viên</a></li>
        <li class="section"><a href="#" title="Học trực tuyến" class="onlineleanring" tabindex="0">Học trực tuyến</a></li>*@
        <li class="section"><a href="@Url.Action("References","Class")/@currentClass.ID" title="Tài liệu tham khảo" class="references" tabindex="0">Tài liệu tham khảo</a></li>
    </ul>
</nav>

<script>
    $('.sub-sidebar .' + activeSub).parent().addClass('active');
</script>