@using BaseCustomerMVC.Globals
@using System.Security.Claims
@{
    var model = ViewBag.Model;
    List<BaseCustomerEntity.Database.CenterEntity> allcenters = ViewBag.AllCenters as List<BaseCustomerEntity.Database.CenterEntity>;
    string mtype = ViewBag.Type as string;
}

<section id="menuTop">
    <div class="topbar d-flex align-items-center" style="height:20px">
        <div class="container bg-transparent">
        </div>
    </div>
    <div class="menubar d-flex align-items-center" style="height:160px">
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div style="margin-left:25px">
                <div class="home d-none d-md-block">
                    <a href="/">
                        <img src="~/images/bottom-logo.png" />
                    </a>
                </div>
                <div class="toggler">
                </div>
            </div>
            <div class="nav-link d-flex flex-wrap">
                <a for="home" href="/" class="m-1 mr-md-4"><h5>TRANG CHỦ</h5></a>
                <div class="m-1 mr-md-4 ml-md-4">
                    <a for="aboutus" href="@Url.RouteUrl("news-about-us")" id="aboutus" onclick="showDropDown()" data-toggle="dropdown"><h5>GIỚI THIỆU</h5></a>
                    @*<a for="aboutus" href="javascript:void(0)" id="aboutus" onclick="showDropDown()" data-toggle="dropdown"><h5>GIỚI THIỆU</h5></a>
                    <ul id="chil_aboutus">
                        <li v-for="item in listCategory">
                            <a :href="'/tin-tuc/'+item.Code">
                                <h5>{{item.Name}}</h5>
                            </a>
                        </li>
                        <li><a href="#"><h5>BAN LÃNH ĐẠO</h5></a></li>
        <li><a href="#"><h5>LĨNH VỰC HOẠT ĐỘNG CHÍNH</h5></a></li>
        <li><a href="#"><h5>SẢN PHẨM</h5></a></li>
        <li><a href="#"><h5>THÀNH TỰU ĐẠT ĐƯỢC</h5></a></li>
                    </ul>*@
                </div>
                <a for="san-pham" href="@Url.RouteUrl("news-product")" class="m-1 mr-md-4 ml-md-4"><h5>SẢN PHẨM</h5></a>
                <a for="su-kien" href="@Url.RouteUrl("news-event")" class="m-1 mr-md-4 ml-md-4"><h5>SỰ KIỆN</h5></a>
                <a for="news" href="@Url.RouteUrl("news-default")" class="m-1 mr-md-4 ml-md-4"><h5>TIN TỨC</h5></a>
                <a for="tuyen-dung" href="@Url.RouteUrl("news-recruitment")" class="m-1 mr-md-4 ml-md-4"><h5>TUYỂN DỤNG</h5></a>
                <a href="/login" title="Đăng nhập" class="action-link m-1 mr-md-4 ml-md-4"><h5>ĐĂNG NHẬP</h5></a>
            </div>
        </div>
    </div>
</section>
<style>
    .topbar {
        height: 48px;
        background-color: #03324C !important;
        font-weight: 600;
    }

        .topbar .hotline, .topbar .action-link {
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .topbar .action-link {
            cursor: pointer;
        }

            .topbar .action-link:hover {
                text-decoration: none;
            }

        .topbar .hotline .ic {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .topbar .hotline .ic-phone {
            background-image: url('../images/phone_sm.png');
        }

        .topbar .divider {
            width: 1px;
        }

    .menubar {
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        margin-bottom: 8px;
    }

    @@media(max-width: 800px) {
        .menubar {
            height: auto;
        }
    }

    .menubar .logo {
        height: 56px;
        display: block;
    }

        .menubar .logo img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            display: block;
        }

    .menubar .nav-link a {
        font-size: 14px;
        line-height: 20px;
        color: #08486B;
    }

    @@media(max-width: 800px) {
        .nav-link a {
            display: inline-block;
            width: 100px;
            text-align: center;
        }
    }

    .menubar .nav-link a:hover, .menubar .nav-link a.active {
        text-decoration: none;
        cursor: pointer;
        color: #C1272C;
    }

    #aboutus {
        position: relative;
    }

    #chil_aboutus {
        position: absolute;
        z-index: 1000;
        min-width: 10rem;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 0.25rem;
        padding: 5px 10px 0px 10px;
        display:none
    }

        #chil_aboutus li {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

    #aboutus:hover + #chil_aboutus {
        /*display: block*/
    }
</style>

<script>
    new Vue({
        el:'#chil_aboutus',
        mounted() {
            this.loadCategory();
        },
        components: {

        },
        data: {
            listCategory: []
        },
        watch: {

        },
        methods: {
            loadCategory() {
                let _that = this;
                let _form = new FormData();
                _form.append("ParentCategoryCode", "gioi-thieu");
                let _url = '/News/GetCategory'
                axios.post(_url, _form)
                    .then(response => {
                        _that.listCategory = response.data.Data;
                    })
            }
        }
    });

    var showDropDown = function () {
        var isDisplay = $('#chil_aboutus').css('display');
        if (isDisplay.includes("none")) {
            $('#chil_aboutus').css('display', 'block');
        }
        else {
            $('#chil_aboutus').css('display', 'none');
        }
    }
</script>
