@{
    ViewData["Title"] = "Chi tiết bài thi";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var Lesson = ViewBag.Lesson as BaseCustomerEntity.Database.LessonEntity;
    var Data = ViewBag.Exam as BaseCustomerEntity.Database.ExamEntity;
    var Class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<!-- Page Heading -->
<div class="container">
    <div class="breadcumb" style="padding: 0 0 15px; font-weight:bold;">
        <a href="@Url.Action("Detail","Class")/@Class.ID">@Class.Name</a> / @Lesson.Title
    </div>

    <div id="lessonContainer">
    </div>
</div>
<input type="hidden" id="ExamID" value="@Data.ID" />
<input type="hidden" id="LessonID" value="@Lesson.ID" />
<input type="hidden" id="ClassID" value="@Class.ID" />
<script>
    $(document).ready(function () {
        load.exam($("#ExamID").val());
    });
</script>
@section Script{
    <script src="~/js/teacher-exam.js"></script>
}