@using BaseMVC.Models
@using BaseMongoDB.Database;
@{
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
    var model = ViewBag.Model as DefaultModel;
    var item = ViewBag.Data as CPUserEntity;
    var data = ViewBag.RoleData as List<CPRoleEntity>;
    if (item == null || string.IsNullOrEmpty(model.ID)) { return; }
    string ID = model != null ? model.ID : string.Empty;
}

<div class="card">
    <div class="card-header card-header-icon">
        <h4 class="card-title">
            <a href="javascript:void(0)" onclick="@Url.Action("Index")" class="btn btn-sm btn-fab btn-danger"><i class="material-icons">reply</i></a>
            <a href="javascript:void(0)" onclick="execute('edit')" class="btn btn-sm btn-success pull-right"><i class="material-icons">save</i> Save</a>
        </h4>

    </div>
    <div class="card-body">
        <form name="myform" asp-action="edit" asp-controller="cpuser" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" id="ArrID" name="ArrID" value="" />
            <input type="hidden" id="ctrl" value="cpuser" />
            <input type="hidden" name="ID" value="@ID" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên :</label>
                        <input type="text" name="Name" value="@item.Name" class="text-light form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email :</label>
                        <input type="email" value="@item.Email" class="text-light form-control" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class=""> Chuyên mục : </label>
                    <select class="form-control" name="RoleID">
                        <option value="0">Root</option>
                        @{
                            if (data != null)
                            {
                                int count = data.Count;
                                for (int i = 0; i < count; i++)
                                {
                                    var role = data[i];
                                    if (item.RoleID == role.ID)
                                    {
                                        <option value="@role.ID" selected>@role.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@role.ID">@role.Name</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">PassWord :</label>
                        <input type="password" name="Pass" value="@item.Pass" class="text-light form-control" required autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">BirthDay :</label>
                        <input type='text' class="form-control datetimepicker" value="@item.BirthDay" name="BirthDay" />
                    </div>
                </div>
                <div class="col-md-12">
                    @{
                        if (item.Activity)
                        {
                            <input type="hidden" name="Activity" value="true" />
                        }
                        else
                        {
                            <input type="hidden" name="Activity" value="false" />
                        }
                    }

                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                @{
                                    if (item.Activity)
                                    {
                                        <input class="form-check-input" type="checkbox" onclick="thatActive(this,'Activity')" checked />
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" onclick="thatActive(this,'Activity')" />
                                    }
                                }
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Phone :</label>
                        <input type="tel" name="Phone" value="@item.Phone" class="text-light form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Skype :</label>
                        <input type="text" name="Skype" value="@item.Skype" class="text-light form-control" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>