@using MVCBase.Models
@using BaseModels;
@{
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
    var model = ViewBag.Model as DefaultModel;
    var data = ViewBag.Data as CPMenuEntity;
    var menu = ViewBag.Root as List<BaseModels.CPMenuEntity>;
    if (data == null || model.ID <= 0) { return; }
    int ID = model != null ? model.ID : 0;
}

<div class="card">
    <div class="card-header card-header-icon">
        <h4 class="card-title">
           <a href="@Url.Action("Index")" class="btn btn-sm btn-fab btn-danger"><i class="material-icons">reply</i></a>
            <a href="javascript:void(0)" onclick="excute('edit')" class="btn btn-sm btn-success pull-right"><i class="material-icons">save</i> Save</a>
        </h4>

    </div>
    <div class="card-body">
        <form name="myform" asp-action="edit" asp-controller="cpmenu" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" id="ID" name="ID" value="@ID" />
            <input type="hidden" id="ArrID" name="ArrID" value="" />
            <input type="hidden" id="ctrl" value="cpmenu" />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên :</label>
                        <input type="text" name="Name" class="text-light form-control" value="@data.Name" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Type :</label>
                        <input type="text" name="Type" class="text-light form-control" value="@data.Type" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class=""> Chuyên mục : </label>
                    <select class="form-control" name="ParentID">
                        <option value="0">Root</option>
                        @{
                            if (data != null)
                            {
                                int count = menu.Count;
                                for (int i = 0; i < count; i++)
                                {
                                    var item = menu[i];
                                    if (data.ParentID != 0 && data.ParentID == item.ID)
                                    {
                                        <option value="@item.ID" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="Activity" value="@data.Activity" />
                        <div class="form-check">
                            <label class="form-check-label">
                                @{
                                    if (data.Activity)
                                    {
                                        <input class="form-check-input" type="checkbox" onclick="thatActive(this,'Activity')" checked/>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" onclick="thatActive(this,'Activity')" />
                                    }
                                }
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating"> Mô tả : </label>
                        <textarea name="Summary" class="form-control" rows="5">@data.Summary</textarea>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>