<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/css/sb-admin-2.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <script type="text/javascript" src="~/vendor/jquery/jquery.min.js"></script>
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper">

            <!-- Main Content -->
            <div id="content">
                @Html.Partial("_topmenu")

                @Html.Partial("_sideBarTeacher")

                <div class="container">
                    @RenderBody()
                </div>

                <!-- Footer -->
                @Html.Partial("_Footer")
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <!-- Logout Modal-->
    @Html.Partial("_modalLogout")


    @RenderSection("Script", false)
    @RenderSection("Scripts", false)
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="~/vendor/jquery-easing/jquery.easing.js"></script>
    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="~/js/sb-admin-2.min.js"></script>

</body>
</html>
