<!-- Sidebar -->

<nav class="sidebar collapse position-fixed col p-0 m-0">

    <div id="sidebar-content">
        <ul class="sidebar-holder p-0">
            <li class="sidebar-item home">
                <a class="nav-link p-0" href="@Url.Action("Index" , "Home" )">
                    <i></i>
                </a>
            </li>

            <li class="sidebar-item profile">
                <a class="nav-link p-0" href="#">
                    <i></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>

            <li class="sidebar-item course">
                <a class="nav-link p-0" href="@Url.Action("Index" , "MyCourse" )">
                    <i></i>
                    <span>Khóa học của tôi</span>
                </a>
            </li>

            <li class="sidebar-item lesson">
                <a class="nav-link p-0" href="@Url.Action("Index" , "LessonToday" )">
                    <i></i>
                    <span>Lịch học</span>
                </a>
            </li>

            <li class="sidebar-item history">
                <a class="nav-link p-0" href="@Url.Action("Index" , "LearnHistory" )">
                    <i></i>
                    <span>Lịch sử học tập</span>
                </a>
            </li>

            <li class="sidebar-item comments">
                <a class="nav-link p-0" href="@Url.Action("Index" , "Comment" )">
                    <i></i>
                    <span>Thảo luận</span>
                </a>
            </li>

            <li class="sidebar-item announcements">
                <a class="nav-link p-0" href="@Url.Action("Index" , "News" )">
                    <i></i>
                    <span>Thông báo mới</span>
                </a>
            </li>
        </ul>

    </div>
    <button class="sidebar-toggler" type="button" data-toggle="collapse" data-target=".sidebar" aria-controls="sidebar-content" aria-expanded="false" aria-label="Toggle navigation">
        <i class="sidebar-toggler-icon"></i>
    </button>
</nav>
<!-- End of Sidebar -->
<style>
</style>
