@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
    //Layout = "~/Views/Shared/_LayoutWRPT.cshtml";
    var menu = ViewBag.Data as List<BaseMVC.Globals.MenuControlAttribute>;

}
    <div class="row">
        @{
            if (menu != null)
            {
                var _MenuSys = menu.Where(o => o.Type == BaseMVC.Globals.MenuType.Sys).ToList();
                var _MenuMod = menu.Where(o => o.Type == BaseMVC.Globals.MenuType.Mod).ToList();
                int _countSys = _MenuSys != null ? _MenuSys.Count : 0;
                int _countMod = _MenuMod != null ? _MenuMod.Count : 0;
                <div class="col-12">
                    <div class="row">
                        <div class="col-12"><h4 style="color:#fff">Hệ thống</h4></div>
                        @{ 
                            for(int i = 0; _countSys > 0 && i < _countSys; i++)
                            {
                                var item = _MenuSys[i];
                                if (!string.IsNullOrEmpty(Url.Action("Index", item.CModule)))
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                        <div class="box-item">
                                            <a class="bg-@item.Color fg-white tile-medium" style="transition:0.3s; opacity: 1; transform: scale(1);" href="@Url.Action("Index",item.CModule)">
                                                <div class="card-icon"><i class="material-icons">@item.Icon</i></div>
                                                <span class="branding-bar">@item.Name</span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12"><h4 style="color:#fff">Quản lý</h4></div>
                        @{
                            for (int i = 0; _countMod > 0 && i < _countMod; i++)
                            {
                                var item = _MenuMod[i];
                                if (!string.IsNullOrEmpty(Url.Action("Index", item.CModule)))
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                        <div class="box-item">
                                            <a class="bg-@item.Color fg-white tile-medium" style="transition:0.3s; opacity: 1; transform: scale(1);" href="@Url.Action("Index",item.CModule)">
                                                <div class="card-icon"><i class="material-icons">@item.Icon</i></div>
                                                <span class="branding-bar">@item.Name</span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>